[2017-06-09 22:29] QuincyLarson opened #1 "Chore: Import all of the existing forum guides and put them in appropriate folders and subfolders."

[2017-06-09 22:30] QuincyLarson opened #2 "I shouldn't need to add folders to config.toml for them to show up in the sidebar"

[2017-06-09 22:30] QuincyLarson opened #3 "When I click on a link in the sidebar, it should open the linked page and expand like an accordion to show other pages in that subfolder."

[2017-06-09 22:30] QuincyLarson opened #4 "When I visit the root path, I should see the contents of the /docs folder - not a landing page."

[2017-06-09 22:30] QuincyLarson opened #5 "Get nav bar logo to look like the logo on https://www.freecodecamp.com/donate/ with similar size logo and placement."

[2017-06-10 04:38] kuriakinzeng opened #7 "Remove unnecessary files, e.g. examples"

[2017-06-10 05:14] kuriakinzeng commented on #5
Completed

[2017-06-10 05:45] #7 closed

[2017-06-10 05:45] kuriakinzeng opened #8 "Remove unnecessary files, e.g. examples"

[2017-06-10 07:37] kuriakinzeng opened #9 "Running `gatsby develop` the following error occured:"
UNHANDLED REJECTION TypeError: Cannot read property 'internal' of undefined

[2017-06-10 07:46] Bouncey opened #10 "Error in initial setup"
I cloned the repo and did everything with npm and `lerna bootstrap` kept on failing when it came across any `jsx`. I tried removing the postinstall script that triggered lerna but now gatsby wouldn't build the site. I updated to `gatsby@1.0.0-alpha20` and it tripped up at

[code]

[2017-06-10 07:47] Bouncey commented on #10
@kuriakinzeng

[2017-06-10 07:49] kuriakinzeng commented on #10
Hi @Bouncey to set up, you just have to cd to `www` and run `npm i`. Also I have just solved an error, so make sure you get the latest version.

[2017-06-10 08:07] kuriakinzeng commented on #10
That said, I realize there is an error if we run `npm install` at the root directory (not `www`) that needed to be fixed.

[2017-06-10 08:07] kuriakinzeng commented on #10
Oops

[2017-06-10 08:44] Bouncey commented on #8
Why are we nesting projects?

[2017-06-10 12:53] kuriakinzeng commented on #8
We used a starter template provided by Gatsby. I'm still getting into why they are doing this. It sounds to me that we are not going to do a lot of modifications apart from stylistic.

[2017-06-10 12:56] #9 closed

[2017-06-10 12:57] #10 closed

[2017-06-11 06:36] Bouncey commented on #8
The `gatsby new gatsby-documentation-site https://github.com/gatsbyjs/gatsby-starter-documentation` is broken with `gatsby@1.0.0-alpha21` I suggest we work with the latest release until the release of `v1`. There is a migration guide [here](https://deploy-preview-1044--gatsbyjs.netlify.com/docs/migrating-from-v0-to-v1/)

The project at the minute is chaotic

[2017-06-11 08:19] kuriakinzeng commented on #8
When you say latest release you are referring to the latest stable release right?

[2017-06-11 09:15] Bouncey commented on #8
Yes, the last stable release

[2017-06-11 19:41] Bouncey commented on #5
@kuriakinzeng This needs done again, sorry

[2017-06-11 19:42] kuriakinzeng commented on #5
What happened?

[2017-06-11 19:42] Bouncey commented on #2
This might change in `v1`

For now I have written a script held in `_pages.js` that should ease the process

[2017-06-11 20:41] Bouncey commented on #1
closed by #12

[2017-06-11 20:44] Bouncey commented on #5
I replaced the project with a version that is compatible with the latest stable release. I forgot to copy over your changes, sorry

[2017-06-11 21:25] QuincyLarson opened #14 "Create a navigation web component that can be on all the guide pages, as well as freeCodeCamp's certificate pages (formerly known as "challenges")"

[2017-06-11 21:25] QuincyLarson opened #15 "Add elastic search search box to navigation"

[2017-06-11 21:27] QuincyLarson opened #16 "Webhook that adds new guide articles to Elastic Search"

[2017-06-11 21:27] #14 closed

[2017-06-11 21:28] QuincyLarson commented on #5
@kuriakinzeng what we'd really like to do is create a component that we can re-use on all the guide pages and on our non-guide pages (our challenge pages), which includes basic navigation and a search box that pulls results from ElasticSearch. @Bouncey is working on making this a reality.

[2017-06-11 21:32] QuincyLarson commented on #1
We need to categorize these files.

[2017-06-11 21:43] Bouncey commented on #8
#12 closes this

[2017-06-11 21:43] #8 closed

[2017-06-13 11:54] Bouncey opened #18 "IE does not support Object.assign()"
Use npm module `object-assign` instead.

the module can be found [here](https://www.npmjs.com/package/object-assign)

[2017-06-13 11:57] Bouncey commented on #3
closed via #17

[2017-06-13 11:57] #3 closed

[2017-06-13 11:57] Bouncey commented on #2
closed via #17

[2017-06-13 11:57] #2 closed

[2017-06-13 11:58] Bouncey commented on #1
closed via #17

[2017-06-13 11:58] #1 closed

[2017-06-13 12:00] Bouncey commented on #4
@QuincyLarson would a redirect to`/docs` be ok?

The app structure at the moment requires the guide pages to be in `/docs`

[2017-06-13 12:03] Bouncey opened #19 "Implement Travis CI"
@QuincyLarson for some reason, Travis is still not turned on for this repo.

[2017-06-13 12:05] Bouncey commented on #18
Modify the code [here](https://github.com/freeCodeCamp/guides/blob/390900db96939590f34b2d5bc449b1f4a6f42836/pages/docs/_template.jsx#L39) to use the above named module.

[2017-06-13 15:23] evaristoc opened #20 "Request for guides to be deployed for mobility"
@raiseadead @QuincyLarson @Bouncey

A discussion in CT started about deployment for mobility of FCC resources. "Guides" was suggested as target.

This post opens a discussion about the desirability and feasibility of this request and if decided to start working on a road map.

[2017-06-13 15:26] evaristoc opened #21 "Adding audio capabilities to the Guides project?"
A discussion in the CT suggested the potential of associating audio content to the guides.

This thread opens a discussion about the desirability and feasibility of this proposition and if approved then start designing the corresponding road map.

@QuincyLarson @Bouncey @raisedadead @dhcodes

[2017-06-13 15:30] evaristoc commented on #21
This is a comment by @dhcodes:
https://gitter.im/FreeCodeCamp/CoreTeam?at=59400438cf9c13503c80c95e

[2017-06-14 14:31] kuriakinzeng commented on #5
Yup, I can do this again. I plan to remove the `react-responsive-grid` package because it's very limited, and use bootstrap. Does this sound good?

[2017-06-15 08:49] kuriakinzeng commented on #5
Please take a look at the styling I have so far:
https://codepen.io/kuriakin/full/OgRexK/

[2017-06-15 09:24] Bouncey commented on #5
Looking great @kuriakinzeng, I like how clean it looks.

What I got from our talks is that search is going to be a major feature of the guides site, so maybe something that is always visible on the page would be better. Maybe it can expand in width on focus so as not to overly dominate the UI?

Also, try coding the pen with `react` and `react-bootstrap`. This should give you a greater feel for the

[2017-06-15 09:28] Bouncey commented on #16
This issue will be transferred to the CMS repo once created

[2017-06-15 09:33] kuriakinzeng commented on #5
Yup, I just needed a quick and dirty way to try the styles. Will implement it in react and not use jquery.

Regarding the search bar, how do we want it on mobile? Hide it? Or something like this:   https://codepen.io/kuriakin/full/BZLbdB

[2017-06-15 09:36] Bouncey commented on #4
Without a redirect, this will require the likes of a huge mono-template in which react is in reality doing the job of `gatsby`.

We can rename the `docs` dir, but removing it means that gatsby just a dev and build tool, not a static site generator

[2017-06-15 10:22] Bouncey commented on #5
I think stacking the logo on top of the search bar would be best on mobile.

[2017-06-15 11:33] kuriakinzeng commented on #5
Stacking?

[2017-06-15 22:12] Bouncey commented on #5
Sorry, on top of each other, like this https://codepen.io/Bouncey/pen/gRLoYO

[2017-06-17 04:14] QuincyLarson commented on #5
@kuriakinzeng I think your design is off to a good start. Our style is to not use icons in the navbar - instead to spell things out. This is much clearer than icons, and less likely to be misunderstood. So you might put "Contribute" and that would link to the contribution guide - which could then link to specific issues.

[2017-06-17 04:17] QuincyLarson commented on #5
@kuriakinzeng @bouncey one thing I noticed is on Facebook, it has a search button (using a magnifying glass) that - when you click it if you haven't typed anything - shows popular or recent search queries. I think we should have a search button even though we'll have real-time search to reinforce that it is indeed a search box.

I agree with @bouncey that we should always show the search bar, even

[2017-06-17 04:19] QuincyLarson commented on #4
@bouncey sorry I didn't close this issue sooner. I thought I mentioned during the meeting that we can specify /docs as the build directory in Netlify so that we don't need to actually change Gatsby's code.

[2017-06-17 04:19] #4 closed

[2017-06-17 04:21] QuincyLarson commented on #21
In my opinion this is a "nice to have" and not something we need to worry about at this point. If necessary, we could always embed YouTube or Sound Cloud files.

[2017-06-17 04:21] #21 closed

[2017-06-17 04:22] QuincyLarson commented on #20
@evaristoc yes, we plan to eventually get Index.db working, or to shell this in a mobile app so everything can be read offline. That is definitely a goal of ours!

[2017-06-17 04:41] kuriakinzeng commented on #5
I originally designed it to be like Facebook's, with no submit button and fixed to the top. I   have modified it to stack like Bouncey suggested. So now, the modifications left to be done are adding   a submit button and making the header not fixed.

 The styling doesn't quite work on my iPhone for some reason. So I need to fix that too.

 Will next weekend be too late to finish this styling? I ha

[2017-06-17 04:44] QuincyLarson commented on #5
@kuriakinzeng Awesome! No rush - I think @bouncey getting the structure working properly and getting ElasticSearch box working within Gatsby are the critical path. And I'll be around all weekend to help with these steps.

[2017-06-28 18:49] #15 closed

[2017-07-02 19:54] #5 closed

[2017-07-02 20:59] #19 closed

[2017-07-02 21:06] QuincyLarson opened #30 "Apply on all non-internal links: target="_blank" rel="nofollow""
Since internal links will use relative paths, we can just apply the target="_blank" and rel="nofollow" to any non-relative path URL. Is it possible to configure this within Gatsby?

[2017-07-03 23:09] Bouncey commented on #18
Not required anymore

[2017-07-03 23:09] #18 closed

[2017-07-08 08:36] Bouncey opened #34 "Node out of memory when running gatsby develop"
With 1000 + pages, webpack takes over two minutes to compile the bundle.

At over 1100 pages, node runs out of memory and splits this out the the console

[code]

We are currently at **1261** pages.

From what I can figure out, gatsby creates one huge JSON like structure for webpack to work with, with so many pages, node runs out of memory. I have not yet found a way of adjusting the node memory a

[2017-07-12 02:36] QuincyLarson opened #39 "Add rel-canonical meta tag"
All "re-canonical" meta tags should point to https://www.freecodecamp.org/guide/[article-specific-path]

[2017-07-12 02:51] QuincyLarson opened #40 "All URLs should be fully lower-case"
A lot of the folders are currently capitalized. We should probably lowercase these.

I noticed that on Amazon, all search results in their autocomplete are lowercase - even for proper nouns. I think we could do the same.

The only place where capitalization might be important outside of the individual article itself is in the side navigation. So we may need to figure out a way to make this happen.

[2017-07-12 08:27] Bouncey commented on #39
We can use [react-helmet](https://www.npmjs.com/package/react-helmet) for this

[2017-07-12 08:43] Bouncey commented on #40
The side nav can cope with lowercase folder names. This should be taken care of in the `guide-articles` repo.

[2017-07-13 15:10] Bouncey commented on #40
closed via #47

[2017-07-13 15:10] #40 closed

[2017-07-13 15:11] Bouncey commented on #34
closed via #36

[2017-07-13 15:11] #34 closed

[2017-07-13 19:43] raisedadead opened #50 "Optimize Travis CI"
The CI builds are taking on an average of 30 mins.
This is creating a trickle-down effect on all other repositories under the org as well.

Do we really need so many config types i.e: 2 OS-types X 3 Node Env = 6 separate configs?
Considering these are C++ builds it's adding even more to the workload on the builds.

[2017-07-14 05:07] #50 closed

[2017-07-14 05:55] Bouncey opened #54 "Titles should be formatted correctly"
Adjust `titleify` found [here](https://github.com/freeCodeCamp/guides/blob/master/_normaliseArticles.js#L61) so that if a stop word (the, of a...) is at the beginning of the string, it must be capitalised.

[2017-07-14 05:59] Bouncey opened #55 "Expand pre-formatted words"
Expand [this](https://github.com/freeCodeCamp/guides/blob/master/_normaliseArticles.js#L43) object to inclued the correct formatting for PHP, SQL, MongoDB, DynamoDB and any other words/names that wont look right if they are title cased e.g. Sql, Php, Jquery

[2017-07-14 20:43] Bouncey opened #59 "Create a sitemap with gatsby"
Create a sitemap using the `gatsby-plugin-sitemap`

Usage is described [here](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sitemap)

[2017-07-14 23:33] Bouncey opened #62 "Remove duplicate articles in javascript"
Whilst working on a different PR, I noticed at least three different articles talking about `Array.prototype.forEach`

[2017-07-17 03:27] QuincyLarson commented on #54
Also, we need to make exceptions for certain words like SQL and jQuery that have special capitalization. @Bouncey should this be a separate issue or is it related to titleify?

[2017-07-17 03:28] QuincyLarson opened #65 "Add AMP library and get this showing up with the AMP logo in Google search results"

[2017-07-17 03:38] QuincyLarson opened #66 "Make sidebar navigation like DevDocs.io"
DevDocs has exceptional side navigation accordion design, and I think we should follow their example.

![](https://www.evernote.com/l/Ar8gwYl_BFtPCYjOZ9k2OTHlhrpx8Sd0K2MB/image.png)

Basically:
- clicking on a topic should
  1. toggle the carrot from a chevron right symbol to a chevron down symbol
  2. expand to show that topic's children articles
  3. show that topic's index.md content in the art

[2017-07-17 03:42] QuincyLarson opened #67 "Make all typeface on guide articles Lato"
We should replace the current font on the guide articles with Lato so it's consistent with the rest of the text on freeCodeCamp. We should also bump the font size up to at least 14px.

[2017-07-17 03:46] QuincyLarson opened #68 "Fix navbar height"
The navbar should be 40px tall, which is what we're planning to use throughout freecodecamp.org. The logo and search box should be vertically centered within the nav bar.

[2017-07-17 03:52] QuincyLarson opened #69 "Search bar typeahead"
The search bar should support typeahead, so that when you start typing "sq" a dropdown shows you relevant search results with each new keystroke, like "sql" and "sql insert", which you can click on to navigate directly to the article.

This should also support basic keyboard interaction: the up and down arrow keys to select a result, the enter key to open selected result, and escape to dismiss sug

[2017-07-17 05:54] Bouncey commented on #54
This is covered in #61 yes

[2017-07-17 06:39] Bouncey commented on #69
https://github.com/Bouncey/react-freecodecamp-search/issues/30

[2017-07-18 19:51] Bouncey commented on #65
AMP requires an image in the article also, we should have a placeholder image for when there is no image available.

[2017-07-19 00:29] #54 closed

[2017-07-19 00:29] #55 closed

[2017-07-19 00:32] #59 closed

[2017-07-19 13:50] QuincyLarson commented on #39
@Bouncey OK - sounds good.

[2017-07-19 13:52] QuincyLarson commented on #65
@Bouncey OK - sounds good. Let's use this for now

![banner](https://user-images.githubusercontent.com/985197/28370325-99914080-6c5f-11e7-8737-95c6ce268669.png)

[2017-07-20 19:17] nsuchy opened #79 "React Section?"
Should guides have a section on React? I think it would add a lot of value to freeCodeCamp's guides site.

[2017-07-21 06:16] invinciblycool commented on #68
I would like to take this up.

[2017-07-21 09:07] Bouncey commented on #68
@invinciblycool Great! Thanks for contributing 👍

If you encounter any difficulty, comment here or try [the Contributors Chat on gitter.im](https://gitter.im/FreeCodeCamp/Contributors)

[2017-07-21 09:52] invinciblycool commented on #62
As a beginner I would like to take this up but after going through all array methods I find that all of the methods have at least three different articles.
Should all of them be corrected?

[2017-07-21 10:45] invinciblycool commented on #68
I have opened a PR regarding the issue.

[2017-07-21 11:24] Bouncey commented on #62
@invinciblycool #74 addresses this. Thanks for your interest in contributing towards this

[2017-07-23 11:03] Bouncey opened #86 "Webpack running out of memory on build"
The longer build times have helped with regards to more pages.

During the netlify build, we now have webpack running out of memory

This is the log from #74 which adds a load of javascript standard objects methods

[code]

We resolved this before by moving to `gatsby V1`, I am going to upgrade to the latest `gatsby` tonight to see if it helps, but I fear this is going to be an ongoing issue as th

[2017-07-23 14:55] KyleAMathews commented on #86
Netlify build containers have limited memory. So yeah, large sites won't work there in their free tier. I'd suggest chatting with them about getting a bigger build environment or setting up a build environment elsewhere and perhaps just push to netlify.

[2017-07-23 19:34] invinciblycool opened #87 "Incorrect top-level property in .eslintrc file"
Should be `parserOptions` instead of `parserOption` in line number 2 in the .eslintrc file.
Node version: 8.2.1
npm version: 5.3.0
ESlint version:4.3.0
ESlint was giving the error as below.
![screenshot from 2017-07-23 22-51-13](https://user-images.githubusercontent.com/24691797/28502223-57160a74-700b-11e7-88ea-0917d103d24c.png)

[2017-07-23 23:01] QuincyLarson commented on #86
@KyleAMathews Thanks for your feedback (and for creating and maintaining Gatsby, of course!).

We're now on Netlify's top tier. @Bouncey I'll ask them what we can do about the memory issue.

[2017-07-24 20:49] Bouncey commented on #87
I would welcome a PR to update `eslint` to v4 and adjust the `.eslintrc` accordingly

[2017-07-24 21:26] #62 closed

[2017-07-25 07:12] invinciblycool commented on #68
I have linted the code, should I open a new PR regarding the same.

[2017-07-25 07:13] invinciblycool commented on #87
Opened a PR with .eslintrc updated.

[2017-07-25 07:55] Bouncey commented on #87
closed via #91

[2017-07-25 07:55] #87 closed

[2017-07-25 07:56] Bouncey commented on #86
We have taken to building the static files outside of netlify for the time being

[2017-07-25 07:56] #86 closed

[2017-07-25 08:00] Bouncey commented on #68
@invinciblycool, there was no need to close that PR, you could have fixed the linting issues and amended the commit. The steps required in git are as follows:

[code]

[2017-07-25 08:03] Bouncey opened #92 "Clicking nested panels in SideNav does not make them expand"
Leave a comment

[2017-07-25 12:42] invinciblycool commented on #68
Thanks, will keep in mind from now onwards.

[2017-07-26 15:31] vikramnr commented on #67
@QuincyLarson  Is it with README.md file??

[2017-07-26 17:34] Bouncey commented on #67
@vikramnr thank you for the interest in helping us fix this. The code for font styles is in `src/utils/typography.js`, [here is the reference](https://www.npmjs.com/package/typography) for adjusting the font styles.

Happy coding!

[2017-07-27 07:48] vikramnr commented on #67
@Bouncey  I'll give it a try

[2017-07-28 00:49] #30 closed

[2017-07-28 12:41] Bouncey opened #101 "Use some sort pre-push library to lint and normalise on git push"

[2017-07-28 18:34] invinciblycool commented on #101
For lint npm run lint can be used but what to do for normalising the articles

[2017-07-29 16:42] alan-luo opened #103 "Responsiveness / Styling"
**Issue**

Guide sidebar feels unresponsive. It's not obvious that it's clickable. For instance, I tried to click `audio`, which currently has no sub-pages, and thus did not expand. I thought my click didn't register. (It did.)

**Solution**

Add `cursor:pointer` on hover.

[2017-07-30 08:42] Bouncey commented on #103
The side nav will be removed shortly

[2017-07-30 12:59] #103 closed

[2017-07-30 13:07] alan-luo commented on #103
Oh, OK. Thanks for letting me know.

[2017-07-30 14:39] #101 closed

[2017-07-30 15:10] #69 closed

[2017-07-31 00:58] GuillermoGarrido commented on #79
It would make sense; after all, it is in the freeCodeCamp curriculum.

[2017-08-06 21:20] nsuchy opened #113 "React.DOM.style deprecated"
When running the development version of guides (_npm run dev_) I see a warning message that states:

I'm not sure what needs to be done to correct this warning however it's a matter of concern I figured I would bring up.

[2017-08-07 22:37] nsuchy commented on #65
You won't be able to use CSS Stylesheets (I.e. all CSS has to be inline and below 50kb), same applies to any Javascript. A lot of the application will have to be redesigned to be amp compatible. Thoughts?

[2017-08-08 05:27] Bouncey commented on #65
Gatsby inlines our CSS in the `<head>`. If there is an issue with bootstrap, then we can look at the possibility of having an AMP and non-AMP version of the site.

[More details](https://www.ampproject.org/docs/guides/discovery)

[2017-08-08 05:30] nsuchy commented on #65
@Bouncey Bootstrap will be an issue - there will likely need to be two versions of the site for this to work.

[2017-08-09 11:55] Bouncey opened #134 "Remove stub from article on iframes"
The Stub needs to be removed from this article.

https://github.com/freeCodeCamp/guides/blob/b35ec79ed1223c3ea480c49491a6a79cf21ce3fa/src/pages/articles/html/iframes/index.md

[2017-08-09 11:57] Bouncey opened #135 "Remove article on Object.prototype.__proto__"
This article cannot be parsed correctly due do `__proto__` doing weird things inside node, even as a string.

https://github.com/freeCodeCamp/guides/blob/c43d5ef36de772ce86224260825647d82d9c7d8c/src/pages/articles/javascript/standard-objects/object/object-prototype-__proto__/index.md

[2017-08-09 12:28] Bouncey opened #136 "Edit README to remove meta command"
https://github.com/freeCodeCamp/guides/blob/master/README.md#how-to-contribute

This section in the README references a long forgotten script.

It needs to be removed.

It currently reads

It should read

[2017-08-09 15:01] emarkchrome commented on #136
I made the edit and tried to submit a PR. I hope I followed all the conventions.

[2017-08-10 06:04] invinciblycool commented on #134
I have removed the stub and opened a PR regarding the same

[2017-08-10 06:56] invinciblycool opened #140 "Unable to run the repo locally."
After running `yarn install` and running `yarn run dev` I am getting this in the terminal:
Is it with me or everyone else:
[code]

[2017-08-10 09:58] Bouncey commented on #140
Thanks for the issue @invinciblycool, I have incorporated a fix in #129 which should be merged shortly

[2017-08-10 10:06] #135 closed

[2017-08-10 10:06] Bouncey commented on #134
Closed via #138

[2017-08-10 10:06] #134 closed

[2017-08-10 13:36] Bouncey commented on #136
closed via #130

[2017-08-10 13:36] #136 closed

[2017-08-10 15:46] Bouncey opened #143 "The function titleify should account for SQL key words"
`function titleify() {}` found [in this file](https://github.com/freeCodeCamp/guides/blob/master/seed/utils/titleify.js) should account for SQL keywords like 'COUNT', `AND`, 'AVG', 'INSERT', `WHERE` and so on.

I envisage `titleify` checking if the title contains the word `sql`, where is will then call another function to deal with SQL keywords.

Perhaps @SteveChevalier or @vanessasena could provi

[2017-08-10 18:00] #39 closed

[2017-08-10 18:00] #66 closed

[2017-08-10 18:00] #92 closed

[2017-08-10 18:00] #140 closed

[2017-08-10 21:15] QuincyLarson opened #145 "Steps remaining before formally announcing Guides"
Here is a checklist of things I propose we do before announcing guides:
- [x] Remove the articles directory #147 PR #242
- [x] Create a good index.md file for the root article directory (that shows when you navigate to Guides directly, this should be situated in `src/pages/` #148
- [x] Make sure search works properly
- [x] Set up a redirect in NGINX to guide.freecodecamp.org to guide.netlify.com
-

[2017-08-10 21:20] Bouncey commented on #113
This is being used by one of the packages imported by gatsby, I am yet to figure which one it is. We are certainly not using it directly.

[2017-08-10 21:25] nsuchy commented on #113
@Bouncey I'm still learning when it comes to React and Node and am not sure where to get started in tracking this issue down. Do you think this issue will resolve itself or will we need to either replace or write an update to the package causing the issue?

[2017-08-10 21:50] Bouncey commented on #113
I'm sure it will filter down before react v16 is launched

[2017-08-10 22:18] nsuchy commented on #113
Well let's keep an eye on it for now and if it becomes a severe issue and isn't patched before react v16 we should take further action.

[2017-08-11 11:19] Bouncey commented on #145
We can expand on this and remove the `articles` dir. That way, we will have URLs like `freecodecamp.org/guide/<some-category>/<some-article>`, removing the `articles` path level.

For this to be accomplished, `_normaliseAriticles` and `createNavData` will need to be refactored to remove the dependency on the `articles` dir.

[2017-08-11 11:29] Bouncey opened #147 "Remove the articles directory"
Currently, Gatsby sorts the guide pages by their position in the `src/pages` directory. The way we currently have the directory structured, all of your paths are prefixed with `articles`, because we have all of our pages in an `articles` directory.

When release in the wild, this guide will be found at `freecodecamp.org/guide` and the way things are, navigation around our site would be `freecodeca

[2017-08-11 11:39] Bouncey opened #148 "Create a landing page"
Create a good index.md file for the root directory (that shows when you navigate to Guides directly.

This file should be situated in  `src/pages/ `.

[2017-08-11 11:42] Bouncey commented on #20
Would the service workers do what we need on this?

We do not query a db to pull in the articles.

[2017-08-11 18:28] QuincyLarson commented on #20
@Bouncey Good question. IndexDB would probably be a poor fit for this, then. Is there a library we could use to cache all the articles in the browser so it can be used offline?

[2017-08-11 18:30] QuincyLarson commented on #145
@Bouncey I seem to recall @BerkeleyTrue saying there's no need to remove the `articles` directory, and that we can just mount that directory in NGINX or in Netlfy itself.

[2017-08-11 20:43] nsuchy commented on #145
Is using a subdomain like guides.freecodecamp.org possible with Netlfy?

[2017-08-12 19:35] QuincyLarson commented on #145
@nsuchy We'd rather use a subdirectory. It's better for SEO.

[2017-08-13 15:28] vanessasena commented on #143
[Here](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/reserved-keywords-transact-sql) is a list of keywords from SQL Server. Some keywords will vary depending on the DBMS, but most of all are the same.

Does it help?

[2017-08-13 15:51] Bouncey commented on #143
@vanessasena thanks, that will help us make a great start towards SQL formatting.

If we miss any, they will easily be added to the proposed function :+1:

[2017-08-13 17:19] SteveChevalier commented on #143
There may be ways to mine this data from other open source IDEs like
notpad++ or Atom.

On Sun, Aug 13, 2017 at 11:51 AM, Stuart Taylor <notifications@github.com>
wrote:

--
Steve Chevalier
828-620-3615 cell

[2017-08-14 10:30] evaristoc commented on #20
https://redis.io/topics/persistence? They mention some pro's and con's in the reference.

[2017-08-14 13:22] raisedadead commented on #20
@evaristoc I think we would want client side peristance. @QuincyLarson I think a PWA is the best candidate for this.

If you are wondering, then if you browse to our forum (which is on discourse) from a phone, and then turn off the data. You can still have the content auto-magically in there including posts.

On similar lines you should check out:
https://wiki-offline.jakearchibald.com

That's an

[2017-08-15 15:52] invinciblycool opened #156 "Performance issues while running locally."
Sometimes while running the repo locally, it gets stuck at the point where it reads `Bootstrap finished`.

[2017-08-15 20:56] Bouncey commented on #156
@invinciblycool there is a breaking change in the gatsby ecosystem that causes the issue you describe.

For now, remove the `^` infront of the package versions numbers like below, you should then be able to run the guide locally.

I have a PR in currently that will make this change by default

[code]

[2017-08-15 21:02] #67 closed

[2017-08-15 23:34] #156 closed

[2017-08-16 06:33] vikramnr commented on #148
@Bouncey  Can I give it try?

[2017-08-16 12:08] Bouncey commented on #148
Go for it @vikramnr 👍

[2017-08-16 12:56] Bouncey opened #159 "Incorrect article sorting for Side Nav"
Articles that are meant for `articles/math` are also appearing in `articles/javascript/standard-objects/math` in the Side Nav

I suspect that `createNavData` requires a refactor.

[2017-08-16 12:59] Bouncey opened #160 "Add C++ to titleify"
We need to change `cplusplus` to `C++` in titleify.

This can be added to the `formatting` object in `src/seed`

[2017-08-16 13:02] Bouncey opened #161 "Navbar layout not displaying properly in IE11"
![guide layout on IE11](https://user-images.githubusercontent.com/18572518/29364480-7658252e-828b-11e7-8b71-3e47b7f04735.png)

[2017-08-16 13:14] vikramnr commented on #148
@Bouncey Any suggestion on what it should contain?

[2017-08-16 13:21] Bouncey commented on #148
It should contain a welcome to the guide and a suggestion to search for what they would like to know

[2017-08-16 20:53] systimotic commented on #147
@Bouncey Taking https://github.com/freeCodeCamp/guides/issues/145#issuecomment-321886629 into account, is this still necessary?

[2017-08-17 22:30] #160 closed

[2017-08-18 12:57] Bouncey commented on #145
@QuincyLarson All the relative urls point to `/articles/some-cat/some-article` so the slug would end up being `guide/articles/some-cat/some-article`

[2017-08-18 21:45] systimotic opened #169 "Running on Windows"
The `dev` npm script does not work on Windows. It directly refers to `./node_modules/.bin/gatsby`, which is a bash file. It does not run on Windows. If I change it to the `.cmd` version, it tries to run it as if it's a Javascript file, so it fails too.

I noticed that the all that the bash file does. I'm wondering whether the extra available memory transfers to that process. @Bouncey Have you seen

[2017-08-18 22:05] QuincyLarson commented on #145
@Bouncey OK - we'll see what @BerkeleyTrue can do with it once we launch. We don't want the /articles/ in there because it will lengthen the URL.

[2017-08-18 22:11] QuincyLarson commented on #20
@raisedadead Awesome - do you know of a way we can get Gatsby to behave like a PWA? We are also planning to make the Guide compatible with Google AMP and Facebook Instant Articles.

[2017-08-19 19:43] #169 closed

[2017-08-20 13:32] evaristoc commented on #20
@raisedadead Interesting! @QuincyLarson shouldn't we contact Gatsby's creator?

[2017-08-21 06:24] Bouncey commented on #20
[gatsby-plugin-offline](https://www.gatsbyjs.org/packages/gatsby-plugin-offline/)

This plugin adds a service worker

[2017-08-21 06:37] Bouncey opened #183 "Refactor CSS Modules"
Currently, CSS Modules is causing a build error. See gatsbyjs/gatsby#1659

If a fix is not found for `v1`, we will need to refactor CSS Modules out of the guide.

[2017-08-22 00:48] QuincyLarson commented on #20
@Bouncey Awesome! Do you know whether this will work when we deploy to Netlify?

[2017-08-22 06:21] Bouncey commented on #20
There is no reason it shouldn't. We would need an offline search page though

[2017-08-22 19:10] Bouncey opened #189 "Remove the OSX check from Travis.yml"
Travis-CI has had an ongoing issue with running OSX.

We can do without it for now

[2017-08-22 19:38] systimotic commented on #183
@Bouncey A fix for v1 has now been sort of found, right? Can this be closed?

[2017-08-22 20:08] Bouncey commented on #183
Closed via #190

[2017-08-22 20:08] #183 closed

[2017-08-22 20:56] systimotic commented on #143
A suggestion for more flexibility: instead of checking for `SQL` being in the title, we could change the titleify function so that all words starting with a caret (^) preserve their original case.

An example where this is useful: the 'SQL Date Functions' article should probably be cased as I just did, but `DATE` is also mentioned in the list.

[2017-08-22 21:17] Bouncey commented on #143
All strings passed to titleify are lower case because of how the file structure is.

File structure === URL slug
Lowercase URL slug === better SEO

The SQL DATE and js date would have to be in different objects.

This is all back end pre-build stuff. Performance isn't a major issue

[2017-08-22 22:23] systimotic commented on #68
I'm not sure whether this is a good idea. While I'm all for consistency, when you need to fit an input in there, 40px is really tight.

![firefox_2017-08-23_00-11-57](https://user-images.githubusercontent.com/7262039/29590103-7a2ea79c-8798-11e7-98e8-c588edeea65c.png)
This is what it would look like if we would just change the height without changing the input. In the context of the full page, it l

[2017-08-22 22:26] systimotic commented on #143
Ah, gotcha. I was under the impression that the title was generated from the front matter bit in the file. Looking at the code, I'm seeing it's the other way around.

[2017-08-23 01:00] QuincyLarson commented on #68
@systimotic Thanks for investigating this. I think the third one (40px with a bit of spacing above and below) is best, for the reasons you mentioned (the fill-height one doesn't look sufficiently like an input box).

A lot of websites have 40px navbars with search bars in them, so I think this size will work. For example, Facebook is 42 pixels:

![_245__facebook](https://user-images.githubusercont

[2017-08-23 01:51] QuincyLarson commented on #20
@Bouncey Awesome! When you say "offline search page" you mean something that runs searches based off of articles that's cached in the browser? How much work do you think that would be? If it would be too much work, I propose we just disable search while offline for now so we can focus on shipping.

[2017-08-23 05:55] Bouncey commented on #189
closed via #191

[2017-08-23 05:55] #189 closed

[2017-08-23 08:06] Bouncey commented on #20
That is possible yes, but for now I meant just some UI explaining why the search would not be working.

[2017-08-23 23:58] QuincyLarson commented on #20
@Bouncey OK - that sounds good. I think disabling the search box and filling it in with "You're currently offline" would work fine.

[2017-08-24 14:12] heisejason opened #197 "freeCodeCamp / guides"

[2017-08-25 06:05] #197 closed

[2017-08-27 07:22] davcri opened #204 ""yarn run dev" fails"
`yarn run dev` command fails.
I followed the instructions provided in the README [(Running the guide locally)](https://github.com/freeCodeCamp/guides#running-the-guide-locally-on-your-own-computer).

- Complete command log: [log.txt](https://github.com/freeCodeCamp/guides/files/1254190/log.txt)
- **OS**: Arch Linux, **yarn**: v0.277.5
- Relevant output:
[code]

[2017-08-27 19:08] invinciblycool commented on #204
You might want to run `yarn install` before `yarn run dev`.

[2017-08-27 20:43] systimotic commented on #204
Hi @davcri! Thank you for your interest in this project.

From the full output, I can see that you have already run `yarn install` successfully.

I did a google search for the error: `ENOSPC`. It brought up some suggested fixes, related to the system of the user. It either means your hard drive is out of space, or something I don't quite understand that can be fixed by following the instructions h

[2017-08-27 20:49] systimotic opened #206 "Suggestion: show article path in search"
Currently, when running a search, it can be difficult to tell what category an article belongs to. Having a breadcrumb that shows the path would be really helpful:

[code]
Seeing that would add a lot of value on top of only the title and an excerpt.

[2017-08-28 06:12] Bouncey commented on #204
@davcri I have just had the same issue when working on a different system.

The steps provided in the SO article that @systimotic linked to worked for me.

I am going to close this issue as I'm sure it is not an issue with this project. If you continue to experience problems, it will either be your hardware or a memory leak in the gatsby build process maybe?

Feel free to add any further info to t

[2017-08-28 06:12] #204 closed

[2017-08-28 06:37] invinciblycool commented on #147
Opened a PR at [https://github.com/freeCodeCamp/guides/pull/207](url)

[2017-08-28 10:28] davcri commented on #204
Fixed, thank you guys for your help 😄

The problem was in fact the OS limiting the number of watchers.
A temporary fix is to double this number:

[code]

To make this fix persistent across reboots, there are instructions in the stackoverflow thread.

[2017-08-28 12:37] systimotic commented on #204
I'm glad you figured it out @davcri!

[2017-08-29 20:47] #148 closed

[2017-08-31 11:30] Bouncey commented on #206
This would be easy enough to implement, but we would have to account for challenges on `freecodecamp.org`, youtube videos and eventually medium articles, maybe even forum posts?

It could be a conditional component?

[code]

[2017-08-31 11:35] Bouncey opened #217 "Promise is not supported by IE 11"
@QuincyLarson From which browser version are we supporting?

Currently the search will not work in IE11.

We could:

- Add a polyfill for Promise's
- Refactor to not use Promise's
- Inform the user that the search page does not support their browser after doing a `'Promise' in window` check, and suggest they try chrome/firefox/edge

Personally I am not a fan of shipping polyfill to everyone regard

[2017-08-31 11:45] Bouncey opened #218 "Add a Footer component to Layout.jsx"
The Footer component should have a link to this repo (you will have access to `react-fontawesome`) and a link to `https://freecodecamp.org/donate`.

Adding the component to Layout.jsx will mean it is visible on all pages of the guide

[2017-08-31 11:52] Bouncey opened #219 "Update contibuting GIF in README"
The GIF in the readme still shows the `guide-articles` repo.

This needs to be update for this repo

[2017-08-31 13:29] Bouncey commented on #147
Updated original post with new domain name.

[2017-08-31 13:30] Bouncey commented on #113
I can't remember seeing this lately. Is it still a thing? @nsuchy @systimotic ?

[2017-08-31 13:57] nsuchy commented on #113
I haven't seen the error, I'll run the latest version of guides later today and will post an update. If the error is gone on my end I'll close this issue.

[2017-08-31 14:49] QuincyLarson commented on #206
Yes - we could also just say (YouTube) or (Medium) in place of the breadcrumbs in those situations.

Forum posts are growing so rapidly, and there is a lot of redundancy there. If we were to just add them to the search, they'd probably crowd everything else out in the search results. I think for now we should treat the forum as a separate place with its own built-in search engine.

[2017-08-31 15:18] Bouncey commented on #206
Great. So the spec is:

If the search result is an article from the guide show breadcrumbs
else denote where the source of the result is from (each result has a `_index` prop which will help with this, you can see how it is used in `src/pages/search/components/Results.jsx`)

[2017-08-31 20:18] systimotic opened #224 "Replace all instances of guide.netlify.com with guide.freecodecamp.com"
After #223, There are two more instances of guide.netlify.com left in the code, in `gatsby-config.js` and in a comment in `_normaliseArticles.js`

I'm opening this issue so that if I forget about it tomorrow, somebody else will notice 😄

[2017-08-31 23:10] beaucarnes opened #226 "Add ability to sort search results by type (i.e. video, medium, guides...)"
Hey! I was talking to Quincy and Berkeley and we thought it would be good to be able to sort search results by type such as video, Medium, or guides.

[2017-09-01 05:05] Bouncey commented on #226
Sounds good to me, any idea on filtering technique?
I like the github filters like `is:issue commenter:bouncey <search term>` so for us it could be `type:youtube Beau is awesome`

Or we could use checkboxes, but I think that will take away from the dynamic search-ahead thing we have going on.

I am also very open to suggestions.

[2017-09-01 10:40] systimotic opened #230 "Flicker while search results load"
No gif, because the flicker is probably too fast to properly capture it. Instead, I have
### Steps to reproduce
1. Search for something, like "Beau Carnes"
2. Add or remove one character

You'll notice that you immediately get the expected flicker of the skeleton and then to the actual results. This is expected. The problem happens right after that. It shows a flicker of the skeleton again, then b

[2017-09-01 11:39] Bouncey commented on #230
Is it as if the results page updates and then fetches and updates again?

If is it is indeed an issue with `source$.throttle().debounce()`. I was trying not to spam the server on every keystroke,  but keep it relatively speedy. The throttle/debounce is a solution to ensure I receive the first and last event. I can't remember which one it is, but one chops off the first and the other chops off the

[2017-09-01 22:10] systimotic commented on #230
Yes, that's exactly what's happening.

Looking at the code, we're not clearing the array. The flicker is caused by `isSearching`
https://github.com/freeCodeCamp/guides/blob/27f2603c36383b0d06b90f628950a22d017cabdc/src/pages/search/Search.jsx#L47-L52

I read up on `throttle` and `debounce` a bit. If `x` is the amount of time specified, `throttle` will emit the first value it gets, then nothing for

[2017-09-01 22:18] systimotic opened #231 "Links to challenges in search broken"
The links to the freeCodeCamp challenges in the search all result in 404 errors.

The data and links appear to be referring to beta challenges, but the links all link to the production `freecodecamp.com`.

The full URL's are taken directly from the search API, so I believe this will have to be resolved there too.

[2017-09-01 22:20] systimotic commented on #113
I do remember seeing this originally, but it's been gone for a little while now. I'm closing this. @nsuchy If you're still seeing this warning, please reopen! For now, happy coding!

[2017-09-01 22:20] #113 closed

[2017-09-01 22:43] systimotic commented on #231
Looks like this is handled [here](https://github.com/freeCodeCamp/search/blob/ace7b15276ec2170045d00b435ee74031fc3e467/init/challenges/index.js#L70)

Using [this article from GitHub](https://help.github.com/articles/support-for-subversion-clients/#switching-between-branches) and [this method from node-svn-ultimate](https://www.npmjs.com/package/node-svn-ultimate#commands.switch), we might be able

[2017-09-01 23:56] beaucarnes commented on #226
Yeah, I think you have a good idea of using filters like `type:youtube`. We have to make sure to document the options somewhere. What other options could there be besides 'type'? How hard would it be to associate an author with items? It may be helpful, especially when looking for medium articles.

[2017-09-02 01:30] #224 closed

[2017-09-02 03:24] QuincyLarson commented on #206
@Bouncey That sounds like a well-reasoned approach.

[2017-09-02 03:25] QuincyLarson commented on #217
@Bouncey If you could replace the search with a note "Search doesn't work in IE" or something like that is fine.

[2017-09-02 11:45] Bouncey opened #232 "Reset search bar"
Using the side nav after searching should clear the search bar input

[2017-09-02 13:59] MrAsrani1312 opened #233 "Snippet and Image links Broken ?"
So, I have written the intro guide under C++ in guides.
The code snippet does not show the last 2 lines
[code]
and the image link doesn't show the image but shows the title I have given it.
All other image links are not working 😭
Can anyone help me out to solve this issue?
The Main website :
![image](https://user-images.githubusercontent.com/24650979/29996048-e1f152a6-9014-11e7-85bd-e0efc26b250a.p

[2017-09-03 08:25] Bouncey commented on #231
Oops... still valid

[2017-09-03 08:59] #231 closed

[2017-09-03 09:14] Bouncey opened #236 "Update document.title for the search page"
This can be accomplished with `react-helmet`

See [Article.jsx](https://github.com/freeCodeCamp/guides/blob/master/src/templates/Article.jsx#L17) for a previous implementation.

[2017-09-03 09:25] Bouncey commented on #226
It's shouldn't be too difficult, I'm sure medium gives us this in the rss feed, youtube might as well, but the chances are with youtube is the author will always be freeCodeCamp.

[2017-09-03 13:33] systimotic commented on #231
Awesome work @Bouncey!

[2017-09-03 20:07] williamsb commented on #236
What should the title be updated as? Also the Article.jsx example had a link, are we including the link for the search page?

[2017-09-03 21:36] Bouncey commented on #236
@williamsb thanks for the interest

`Search | freeCodeCamp Guide` should do fine.

We don't need the canonical link for the search page.

[2017-09-03 21:56] williamsb commented on #236
@Bouncey I can take this.

[2017-09-03 22:01] Bouncey commented on #236
:+1:

[2017-09-04 05:59] #236 closed

[2017-09-04 13:18] davycheung opened #239 "git clone url_of_repository not showing"
On the git clone guide: https://guide.freecodecamp.org/articles/git/git-clone

The following lines are not rendering the git clone parameters on the site:
`git clone <url of repository>`
`git clone <url of repository> <name of directory on computer>`

Instead both lines are just displaying:
`git clone`

[2017-09-04 15:26] texas2010 commented on #239
Yeah. `<url of repository>` is hiding.
![screen shot 2017-09-04 at 10 24 45 am](https://user-images.githubusercontent.com/9701609/30032404-5ca8fed0-915b-11e7-8332-0f68996ba119.png)

[2017-09-04 16:12] Bouncey commented on #239
That's strange. I guess they need to be either escaped or replaced with HTML entities `&lt; &gt;`

[2017-09-04 19:37] williamsb commented on #239
I can take this!

[2017-09-04 20:27] erictleung opened #240 "Add "last updated" metadata to articles"
If possible, I think it would be good to add "Last Updated: ..." information on the articles' pages to get a sense of how up-to-date the information is.

We could get that information from either maybe a GitHub API or use `git log -1 file-name.md` and then inject that information on the page. Although, that might not scale well.

Thoughts?

[2017-09-05 14:36] Bouncey commented on #240
I would be reluctant to show a last updated date, as it could make the information look stale? I am open to a discussion though

[2017-09-05 22:10] systimotic commented on #16
@Bouncey Has this been completed in https://github.com/freeCodeCamp/search/pull/34?

[2017-09-05 22:23] Bouncey commented on #16
We still need to add it to this repo's settings

[2017-09-05 22:47] erictleung commented on #240
@Bouncey that's a fair point. The reason I suggested it was because I was looking through some of the articles there and was wondering how up to date the content was.

I understand that sometimes content doesn't change much (e.g. branching in git). However, for more modern topics, it might be nice to see current information.

An analogy for this might be looking at different GitHub repositories. I

[2017-09-06 02:47] williamsb opened #246 "Fix placeholder text in angle brackets"
I recently submitted a pull request fixing issue #239 where placeholder text in angle brackets were being rendered as html tags, for example < url of repository> being rendered as < urlofrepository >< /urlofrepository>.

However, upon browsing through the rest of the Git section I have found at least 15 instances of the same issue in Git Branch, 3 in Git, and 1 in Git Stash.

I am wondering if per

[2017-09-06 12:08] HKuz commented on #246
Hi @williamsb thanks for fixing and finding these - I agree with you that we should change convention instead of using escape characters (it'll be cleaner and easier to remember 😄). How about instead of any brackets, we just put the text in question in all caps with hyphens (kind of like the PR instructions in the Readme for this repository):

`git clone URL-OF-REPOSITORY`

Speaking of the Readme,

[2017-09-06 12:12] Bouncey commented on #246
Sounds good to me 👍

@williamsb can you take care of the other articles in your existing PR?

[2017-09-07 01:47] #218 closed

[2017-09-07 13:21] QuincyLarson opened #248 "Add Google Analytics"
Here's an analytics code so we can get some data on which articles are popular and how long people are reading them (which can help us identify and improve relatively weak articles).

[code]

[2017-09-07 14:48] #217 closed

[2017-09-07 15:06] systimotic opened #250 "Mention title's use in URL in style guide"
The URL of an article is created from the folder title. Because of this, the folder title shouldn't contain any special characters, apart from dashes.
This should be mentioned in the style guide in the `README.md`

[2017-09-07 15:20] #159 closed

[2017-09-07 16:04] systimotic commented on #145
I'm not sure if having the `hint` buttons link to the guides is a good idea. They require some work to get up to par with the forum. Example: http://guide.freecodecamp.org/articles/certificates/dna-pairing/

[2017-09-07 21:47] systimotic commented on #143
Hey everyone, good news! Thanks to Bouncey's updates, you can now capitalise the titles the way you want to by editing the title in the front matter:
[code]

[2017-09-08 05:15] invinciblycool commented on #250
Opened #255. Let me know if any corrections are needed.

[2017-09-11 22:28] QuincyLarson commented on #145
@systimotic Yes - we have more we need to do to get the guide articles ready. We can do this after we ship if necessary. We don't need to hold up the release of guides for this. I've removed this item from my bulletpoint list above.

[2017-09-12 23:44] #248 closed

[2017-09-13 13:06] Bouncey commented on #250
closed via #253

[2017-09-13 13:06] #250 closed

[2017-09-13 13:16] Bouncey commented on #233
This is the same issue as with #239 the markdown-to-html plugin we are using with Gatsby is converting things to html when it really shouldn't. In this case `<iostream>` is converted into an html element, which breaks everything else coming after it.

[2017-09-13 13:18] Bouncey commented on #233
It's not a bug with the article or how we do things, its an issue with `gatsby-transformer-remark`

[2017-09-13 15:45] shovanch commented on #219
@Bouncey Can I take this? This would be my first open source contribution.

[2017-09-13 16:40] Bouncey commented on #219
Absolutely @shovanch Thanks :+1:

[2017-09-13 16:47] shovanch commented on #219
@Bouncey Just a question. Would it be ok to host the gif using imgur?

[2017-09-13 17:13] Bouncey commented on #219
Sure

On 13 September 2017 at 17:47, Shovan Chatterjee <notifications@github.com>
wrote:

[2017-09-14 04:21] erictleung opened #265 "Update Python documentation reference in Converting Integer to String in Python"
[This line](https://github.com/freeCodeCamp/guides/blob/18b9668e84be5715267eaf7efecfe9d1454ea5ec/src/pages/python/converting-integer-to-string-in-python/index.md#more-information) needs to be updated to the Python 3 documentation, as the code used in the examples are Python 3.

[This](https://docs.python.org/3/library/stdtypes.html#str) should be the correct link.

[2017-09-14 04:23] erictleung opened #266 "Folder needs to be renamed as python-hex-function"
Not sure why [this](https://github.com/freeCodeCamp/guides/tree/18b9668e84be5715267eaf7efecfe9d1454ea5ec/src/pages/python/python-hexx-function) folder is named with two x's. The title in the YAML header should also be changed to have only one "x" in the title.

[2017-09-14 04:26] erictleung opened #267 "Add accessible edit button from front end"
I think it would be nice to have a "suggest an edit" link on the page articles themselves in case someone comes across an article with inaccurate or insufficient information. Otherwise, if I go to the page currently, there is no clear way to suggest edits unless you know of the GitHub page.

If this has already been discussed or implemented, feel free to close this issue.

[2017-09-14 05:51] shovanch commented on #265
Would love to contribute. Can I take this?

[2017-09-14 05:55] invinciblycool commented on #265
Sorry but I have already opened a PR,  you could try [this](https://github.com/freeCodeCamp/guides/issues/266)

[2017-09-14 05:56] shovanch commented on #265
@invinciblycool Sure.

[2017-09-14 05:58] shovanch commented on #266
Hello, Is anyone working this. If not can I take this?

[2017-09-14 07:05] #266 closed

[2017-09-14 08:44] systimotic opened #270 "Remove extra `x` from python folders"
Inspired by #266, I took a look at what might have caused this issue.
I found a three more directories with the same problem:
- [python-absx-function](https://github.com/freeCodeCamp/guides/tree/18b9668e84be5715267eaf7efecfe9d1454ea5ec/src/pages/python/python-absx-function)
- [python-boolx-function](https://github.com/freeCodeCamp/guides/tree/18b9668e84be5715267eaf7efecfe9d1454ea5ec/src/pages/pyth

[2017-09-14 08:55] shovanch commented on #270
@systimotic Can I take this?

[2017-09-14 08:58] systimotic commented on #270
@shovanch For sure!

[2017-09-14 14:13] Bouncey commented on #270
Closed via #271

[2017-09-14 14:13] #270 closed

[2017-09-14 16:52] systimotic commented on #270
Wow, that was fast! Thanks guys 👍

[2017-09-14 16:57] systimotic commented on #267
I like this idea. I'm not sure what the best way to include it in the interface in a visible but unobtrusive way would be. I think it should link to instructions that specifically keep in mind that the user clicked this link, not the README or the issue template.

[2017-09-14 17:10] #265 closed

[2017-09-14 20:05] #239 closed

[2017-09-14 20:05] #246 closed

[2017-09-15 09:38] Bouncey commented on #233
Issue raised at wooorm/remark#297

[2017-09-15 11:55] Bouncey commented on #233
@systimotic I'm not deving at the minute so I can't log anything out to see, but my hunch is the issue is in here
[code]
both `hastToHTML` and `toHAST` are from the same guy that made `remark`

[2017-09-17 16:27] nsuchy opened #275 "HTML rendering inside Code Examples"
So while looking over the new installation of freeCodeCamp Guides I noticed HTML was running inside the code example which breaks the ability to show users how to use various frameworks. Is anyone else experiencing this issue?
<img width="1280" alt="screen shot 2017-09-17 at 12 18 48 pm" src="https://user-images.githubusercontent.com/8227641/30522706-66f8a47a-9ba2-11e7-8911-78c86fdbc0be.png">

[2017-09-18 00:21] MrAsrani1312 commented on #275
Yup , like #233 . I'm facing this problem too

[2017-09-18 05:09] invinciblycool opened #280 "Incorrect link in python2vspython3."
Found a link in the [python2vspython3 article](https://github.com/freeCodeCamp/guides/blob/master/src/pages/python/python-2-vs-python-3/index.md), which points to 404 page.

This is the incorrect link http://spartanideas.msu.edu/2014/06/01/the-key-differences-between-python-2-7-x-and-python-3-x-with-examples/

[2017-09-18 05:31] erictleung commented on #280
Thanks for catching this. A similar link that can be used in place of this might be [this](http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html).

[2017-09-18 07:18] systimotic commented on #233
That's what I was thinking as well, though I haven't quite figured it out yet. It looks like it may also be related to `gatsby-remark-prismjs`.

[2017-09-18 07:51] shovanch commented on #280
Can I take this?

[2017-09-18 07:53] Bouncey commented on #233
Seems to be fixed in the latest update

[2017-09-18 08:54] Bouncey commented on #280
@shovanch if a PR isn't raised feel free to open one. You don't need permission, all contributions are welcome! 👍

[2017-09-18 09:03] systimotic commented on #233
@Bouncey This doesn't seem fixed in the latest update for me. Even after removing all node_modules and reinstalling all the packages (on the #281 branch), this problem persists.

[2017-09-18 09:11] #275 closed

[2017-09-18 09:18] Bouncey commented on #233
hmmmmm..............

I have updated the PR comment so it will not close this if merged

[2017-09-18 09:19] shovanch commented on #280
@Bouncey OK. Got it.

[2017-09-18 09:20] systimotic commented on #275
Thanks for reporting @nsuchy! This was fixed with #267.

[2017-09-18 11:57] #230 closed

[2017-09-18 16:02] QuincyLarson commented on #145
All right, we are going to launch this into the world. Friday's [Mail for Good launch was well received](https://twitter.com/ossia/status/909417221352386561), and my hope is that Guides will get a similar welcome.

I've updated the to-do checklist. I'll handle the topic re-organization and the Medium article.

@systimotic and @HKuz can you take a look at the outstanding article pull requests, QA t

[2017-09-18 18:50] HKuz commented on #280
Closed via #286

[2017-09-18 18:50] #280 closed

[2017-09-18 20:01] HKuz commented on #145
Sounds great! I just went through the open PRs and merged what I could. Anything content-based that's still open all have comments/changes/rebasing that need to be addressed. I just opened a PR, too, (sorry for adding to the pile) that does some README cleanup.

[2017-09-19 12:06] systimotic commented on #233
@Bouncey I found some more examples that show the same issue, only confirming our suspicions https://guide.freecodecamp.org/javascript/standard-objects/array/array-prototype-reverse and most of the other array articles. Some of the string articles have this issue as well. Again, because of an HTML element inside of the code block.
Interestingly, the HTML blocks are not affected https://guide.freec

[2017-09-19 18:44] QuincyLarson opened #289 "Remove markdown symbols from search results"
Currently search results show markdown like this:

![](https://www.evernote.com/l/Ar-nKXRglXROgZwj-pp-RasddJ8gDPbijncB/image.png)

We can probably remove the title from the text completely. It's possible an article could start with a table or other markdown syntax, but we can cross that bridge when we get there.

[2017-09-21 20:16] #145 closed

[2017-09-22 09:09] Bouncey opened #298 "Create a collapsible menu for smaller screen sizes"
The specs for this are open to change on review

- The collapsible menu and the current SideNav component are never rendered together
- Ideally a breakpoint will determine which menu is rendered
- The collapsible menu will default to closed
- You are not restricted to the existing components we have in `src/LayoutComponents/nav`, you can create your own if required👍

[2017-09-22 12:26] systimotic commented on #289
Should this be handled here, or should the search API also have a version that doesn't contain Markdown? /cc @Bouncey

[2017-09-22 13:25] Bouncey commented on #289
I think I would prefer sending the raw data from the api like we are and just filtering the markdown away in the Results component

[2017-09-22 16:26] zelite opened #299 "Maximum call stack size exceeded on Chrome + Windows"
When clicking links on the left column (sideNav), nothing happens on the page.

On the browser console there's a message about:

    Uncaught RangeError: Maximum call stack size exceeded

![image](https://user-images.githubusercontent.com/9040070/30754511-421fef12-9fc3-11e7-8c7c-f81f8ce226cc.png)

I would expect when clicking on, e.g.: "Agile", that the content of the page would change to show me

[2017-09-22 16:38] shovanch commented on #299
I can confirm it.
Using Chrome on Windows 10.

[2017-09-22 16:55] Bouncey commented on #299
@systimotic do you get it on windows too?

[2017-09-22 17:09] systimotic commented on #299
@Bouncey Absolutely. This is the issue we've been talking about on Gitter for a while, the one that I mentioned we should resolve before launching 😅 In development, it doesn't render at all because of this issue, and on build, it doesn't run any of the Javascript. This issue is specific to Chrome on Windows.

[2017-09-22 17:35] quantuumsnot commented on #299
I can confirm that also (Chrome version 61.0.3163.100 (Official Build) (64-bit)), but found that on SRWare Iron (Portable ver, Chrome based browser) with version 55.0.2900.1 the guide navigation works with the same extensions!

[2017-09-22 17:44] MrAsrani1312 commented on #299
@Bouncey I agree with @systimotic . The issue doesn't exist on Chrome's Android app and Firefox though

[2017-09-22 17:48] Bouncey commented on #299
@systimotic can you replace the render method of `SideNav` with this and try it out?

I cannot reproduce this issue

[code]

[2017-09-22 17:54] Bouncey commented on #299
Or anyone that is on windows, is experiencing this issue and is confident with react :point_up:

[2017-09-22 18:15] karuppiah7890 commented on #299
@Bouncey I am experiencing this on Chrome in Linux (Ubuntu)

[2017-09-22 19:02] Bouncey commented on #299
Hmmmm could it be a memory thing?

Could everyone please comment with your RAM size?

Many thanks

[2017-09-22 19:03] shovanch commented on #299
Using Windows 10. RAM size = 4GB

[2017-09-22 19:12] raisedadead commented on #299
On it.

[2017-09-22 19:24] zelite commented on #299
I have 8Gb on Windows 10.

[2017-09-22 19:33] Bouncey commented on #299
Oh, not a memory issue then 👍

[2017-09-22 19:36] m-henderson commented on #299
anyone else getting a solid white screen when running locally ?

[2017-09-22 19:42] victorferreira commented on #299
I also got 8GB of memory on Win10 and I'm having the issue.

[2017-09-22 20:48] m-henderson commented on #299
@raisedadead you getting anywhere with this one ? I have looked through every peace of code and can't find the error.

[2017-09-22 20:50] xuhang57 opened #302 "Add chrome/firefox web developer tool guide"
Currently, under the developer tools guide,  https://guide.freecodecamp.org/developer-tools, a guide for how to use chrome/firefox web developer tool would be nice.

[2017-09-22 21:02] raisedadead commented on #299
This may not be a codebase issue.

Okay, so this works fine in Chrome Canary on Windows which build 63.0.xxxx.x and is broken on is broken on Chrome Stable on Windows which is build 61.0.3163.100

I am doing a system update on a Windows machine, so I will get back with more details.

This could be a corner case where we might have found a bug in Chrome that is breaking our render requirements (wit

[2017-09-22 21:04] raisedadead commented on #299
Other than that there is no issue on macOS/Windows or another browser Combination for that matter.

I ran a memory profiling test on Chrome and we peak at about 40 MB which seems okay too.

[2017-09-22 21:06] m-henderson commented on #299
@raisedadead could we submit the bug [here ](url)? https://bugs.chromium.org/p/chromium/issues/list

[2017-09-22 21:07] raisedadead commented on #299
@m-henderson we could, I would personally wait for being sure that this is not a codebase issue.

[2017-09-22 21:08] m-henderson commented on #299
@raisedadead good idea.

[2017-09-22 21:26] systimotic commented on #299
Hi everyone! I have a lot of info about this bug, and I think I found the cause:

1. A bit more info about what how this bug shows itself. In development mode, everything is loaded with Javascript. Because the Javascript errors out, you only see a white page. In production, the page is pre-rendered, so you will see the initial page. However, the Javascript errors out, so you won't be able to navig

[2017-09-22 21:30] Bouncey commented on #299
@systimotic Brilliant thank you!!

`v1.6.6` was our previous version

[2017-09-22 21:33] Bouncey commented on #299
Call stack size in chrome/ubuntu is 8983

[2017-09-22 21:38] systimotic commented on #299
@raisedadead I hadn't seen your comments yet when submitting mine. That's good news, but also really weird 😕
@Bouncey Huh, that's really close. Maybe it decreases faster on Windows? Might also indicate that this is indeed a browser bug as @raisedadead suggested.

[2017-09-22 22:03] systimotic commented on #299
Older versions of Gatsby are showing this error on run (build and dev):
[code]
The latest version throws the by now well-known out-of-memory issue, and gets stuck on the GraphQL queries when I give it more memory.
Does anybody have suggestions on how I can get `1.6.6` to run again? @Bouncey

[2017-09-22 22:26] Bouncey commented on #299
I am currently refactoring `SideNav` to reduce function calls

[2017-09-22 22:27] systimotic commented on #299
@Bouncey Cool 👍 I'm not sure if it'll help though. If I completely remove the `SideNav` component, I still get the same error

[2017-09-22 22:36] Bouncey commented on #299
Oh...

yes, I read this wrong

Although I don't understand how you had the nav the same but only had the bootstrap articles?

[2017-09-22 22:40] m-henderson commented on #299
have we looked at all of the recent merged pull request to see if something conflicted there ? When is the last time you guys remember it working on chrome ?

[2017-09-22 22:41] systimotic commented on #299
@Bouncey That's understandable, I made quite a mess there 😅
I created a `test-pages` directory and copied the `Bootstrap` directory to it. I changed the `gatsby-config` to use the `test-pages` directory as the file source. I didn't change the `seed/` folder, so it still generated everything based on the actual `pages` folder

[2017-09-22 22:46] systimotic commented on #299
@m-henderson The issue was first reported [here on Gitter](https://gitter.im/FreeCodeCamp/Contributors?at=59be9761177fb9fe7ed0d2d7). We've had a similar issue before (https://github.com/gatsbyjs/gatsby/issues/1979), but I believe I recall seeing that in Firefox as well, and @Bouncey had the issue there in Ubuntu/Chrome too. It doesn't show up in either of them anymore. We do have [a report of some

[2017-09-22 22:51] Bouncey commented on #299
All I did was `yarn add gatsby@1.6.6`

I have it running on 1.6.6

[2017-09-22 22:54] systimotic commented on #299
@Bouncey I don't know what happened, but after three tries, some messing with other modules, `rm -rf node_modules`, reinstalling, it appears to be working normally. I opened a PR https://github.com/freeCodeCamp/guides/pull/307

[2017-09-22 23:09] #299 closed

[2017-09-23 02:49] QuincyLarson commented on #299
@Bouncey @systimotic Awesome! Thanks for pushing the hotfix. Have you reached out to the Gatsby team yet? Do you think this is something they can fix on their end?

[2017-09-23 07:03] ahasna opened #310 "Translation to other Languages"
Are you guys considering to translate your content to other languages? I am happy to start doing this to my language Arabic

[2017-09-23 08:55] erictleung commented on #310
@ahasna thanks for the issue! This could be great. Let's hear from others on how we could or should implement translations.

cc/ @QuincyLarson @Bouncey

[2017-09-23 13:47] lisbethdavies opened #319 "Accessibility should not be hidden away under "Miscellaneous""
Making websites and apps accessible is way too important and its current location gives the continued impression to new developers that it's an afterthought, something you fix with a few alt tags just before launch and only to improve SEO.

Please consider making it a top level topic, just before Agile.

[2017-09-23 14:10] Bouncey commented on #319
@lisbethdavies I can assure you this was not intentional. I originally filled the guide with topics from the wiki section of the forum. I did some basic filtering into programming languages because they were easier to filter against.

Anything that didn't fit into one of those categories was lumped into a `to-be-sorted` directory, which  was later renamed to `misc.`. That is one of the reasons tha

[2017-09-23 14:12] Bouncey commented on #302
Sounds good to me :+1:

[2017-09-23 14:12] Bouncey commented on #79
Sounds good to me :+1:

[2017-09-23 14:23] Bouncey opened #322 "Add code block syntax highlighting to the README"
Make contributors aware of syntax highlighting for different languages in code blocks

` ```html`
[code]

` ```js`
[code]

` ```css`
[code]
etc...

[2017-09-23 14:24] lisbethdavies commented on #319
I'm so very glad to hear that it's not intentional - thank you! It's a wonderful project, you and the rest of the team have my total respect.

PR's = pull requests? Github novice seeks clarification ;-)

[2017-09-23 14:37] Bouncey commented on #319
@lisbethdavies I am actually blushing, thank you :blush: I am only a code slinger here. Many other people have spent a lot of time writing the content for us to read.

Yes a PR is a pull request :+1:

[2017-09-23 14:38] shovanch commented on #322
@Bouncey Should it be added under https://github.com/freeCodeCamp/guides#formatting-example-code ?

[2017-09-23 14:43] Bouncey commented on #322
Sounds good to me @shovanch

We should remove the line that says:

[2017-09-23 14:47] shovanch commented on #322
@Bouncey OK, I'm on it

[2017-09-23 16:02] Ethan-Arrowood opened #328 "Improve navigation"
If the navmenu isn't going to be fixed to the side, we should include a 'return to top' button/icon. Or we should make the navmenu fixed to the side of the screen so even when we scroll down on a long documentation page we can navigate to the next page easier.

This issue is open for feedback, I'm also happy to work on the CSS/JS required to make it happen.

[2017-09-23 16:26] vancanhuit opened #330 "Add event loop article for JavaScript topic"
Event loop is a fundamental concept related to JavaScript so I think we should add it.

[2017-09-23 16:36] Bouncey commented on #328
A fixed SideNav sounds great :+1:

Just so I'm certain, we are talking about a sticky side nav that remains in place when scrolling through an article?

[2017-09-23 17:10] misterfoxy commented on #330
I'd be happy to contribute with this

[2017-09-23 17:20] Bouncey commented on #330
Sounds good to me :+1:

[2017-09-23 18:31] Ethan-Arrowood commented on #328
Yep :+1:

[2017-09-23 18:31] Ethan-Arrowood commented on #328
I'll roll something out today.

[2017-09-23 18:33] Ethan-Arrowood opened #337 "Refactor _createNavData and SideNav to avoid dashedName collisions"
I'm currently taking a course on Data Structures and I think a section on this subject would be very useful. Content could include: Bags, Dictionaries, Sets, Trees, etc.
I'm currently implementing these structures using Java; however, we could provide multiple implementations in different languages such as Java, Python, C++, and even JavaScript.

[2017-09-23 23:11] systimotic commented on #322
Closed through #322 🙌 Thanks @shovanch!

[2017-09-23 23:11] #322 closed

[2017-09-24 00:24] systimotic commented on #337
Hi @Ethan-Arrowood!

We do have a section on data structures: [GitHub](https://github.com/freeCodeCamp/guides/tree/master/src/pages/computer-science/data-structures) I'm looking forward to seeing your contributions to it! Feel free to add new articles there too.

An issue I'm seeing with this is that this section doesn't show up in the SideNav. [A direct link](https://guide.freecodecamp.org/comput

[2017-09-24 01:54] Manish-Giri commented on #302
Can I take this up? Haven't contributed to `guides` before.

[2017-09-24 03:17] JuanLuisCh commented on #310
I'm able to start translating into Spanish, but, first we need to solve one thing. How to add the articles in different languages without being redundant

[2017-09-24 03:25] texas2010 opened #347 "Night Mode"
I would like to have night mode. thanks

[2017-09-24 03:29] m-henderson opened #348 "Yarn Install Fails"
I have checked this over and over again, I cant see where this is on my end. Could you all have a look at it and let me know what you think ? running yarn install on a fresh clone of guides fails.
![image](https://user-images.githubusercontent.com/16070192/30779172-a02adc0c-a0ae-11e7-9f71-995a2fbfd404.png)
![image](https://user-images.githubusercontent.com/16070192/30779176-b0c6f456-a0ae-11e7-87c0

[2017-09-24 06:31] Bouncey commented on #348
@m-henderson do you get any errors? Which version of yarn?

[2017-09-24 07:03] m-henderson commented on #348
yarn version 1.0.2 , instead of running yarn install, I did a npm install and then yarn run dev. The site is running find on local machine. idk why i am getting that error now when running yarn install

[2017-09-24 10:45] Bouncey commented on #337
We have another naming conflict, `data-structures` can be found in both `computer-science` and `python`. I'm sure it wont be long until we get them for C, C++, Java, JavaScript, Clojure and every other language.

At the minute, sorting of the side nav is done through `dashedName`'s, and this is where we got the collision with `Math` from prviously.

We should probably restructure both `_createNavD

[2017-09-24 11:32] vancanhuit opened #362 "Syntax highlighting for code snippets"
As I browse some articles, I see some code snippets isn't highlighted correctly. So I hope authors should re-check and apply proper syntax highlighting for it.

[2017-09-24 14:42] evaristoc commented on #310
@JuanLuisCh @ahasna:

The following below are my personal opinions:

It is important to take in account what @systimotic mentioned in the Contributors channel: there is currently no plans to make the translations available as the first objective would be to settle the existing project. However IMO translating while the material in English is produced would be a big advantage and will easy the proc

[2017-09-24 15:11] evaristoc commented on #310
@ahasna @JuanLuisCh
Don't get me wrong regarding the point about "you might end up been leaders...". It is not that you will lead it. You can either lead or be part of a group of people working on it. So don't get scared. The fact is that you are the first I know who are proposing translations - there is no translation team at the moment.

But I would certainly suggest to plan your activities acco

[2017-09-24 15:25] Bouncey commented on #362
@vancanhuit A lot of articles were ported over from the [forum](https://forum.freecodecamp.org) and were written a while a go.

If you spot any articles without syntax highlighting, if you (or anyone) could raise either an issue or a PR against that article, it would be greatly appreciated :+1:

[2017-09-24 16:01] vancanhuit commented on #362
@Bouncey I will try to do this.

[2017-09-24 16:11] shovanch opened #367 "Texts pointing to links in several articles in javascript/array section"
It seems that, in few articles the anchor tags are closed at the end, hence the article text is pointing to the URL.

[2017-09-24 16:17] Bouncey commented on #367
@shovanch can you point me to an example?

[2017-09-24 16:20] shovanch commented on #367
@Bouncey See this one - https://guide.freecodecamp.org/javascript/standard-objects/array/array-prototype-every

The text is clickable. Don't know if that's a desired behaviour

[2017-09-24 16:22] Bouncey commented on #367
oh wow!

`_normaliseArticles` has gone crazy!

These need to be corrected

[2017-09-24 16:23] shovanch commented on #367
@Bouncey Can it be done within the README file?

[2017-09-24 16:31] Bouncey commented on #367
I don't get what you mean?

[2017-09-24 16:48] shovanch commented on #367
I mean closing the anchor tags properly by editing the README for the article.

[2017-09-24 17:11] Bouncey commented on #367
Yes, this can be resloved by editing the `index.md` of the article :+1:

[2017-09-24 17:13] shovanch commented on #367
OK, then I am on it. Just a question, is it ok fix multiple articles in a single PR?

[2017-09-24 17:20] Bouncey commented on #367
yes please, as long as it is the same issue :+1:

[2017-09-24 18:01] RitikPatni opened #374 "Navigate to CSS>CSS-Frameworks and the whole site layout will change"
Not sure about any other case for this but encountered this problem on Linux Mint with Chrome Version 61.0.3163.100 (Official Build) (64-bit)

[2017-09-24 18:32] Ethan-Arrowood commented on #337
I'll take a stab at this @Bouncey. I've been working with a lot of parsing algorithms recently so I think I should be able to figure this out. Will update by end of the day :+1:

[2017-09-24 19:45] vallode commented on #374
This issue is due to the fact that the code on the article is not sanitised, I will try to find a fix now

[2017-09-24 22:33] Ethan-Arrowood commented on #337
What I've gathered so far is that the _createNavData does add 'data-structures' to the 'computer-science' page:
<img width="247" alt="screen shot 2017-09-24 at 6 28 10 pm" src="https://user-images.githubusercontent.com/16144158/30787433-30a70fce-a156-11e7-89be-1b411989f81f.png">
However, it (_createNavData) does not create a distinct 'data-structures' page with a path of 'computer-science/data-str

[2017-09-25 05:31] Bouncey commented on #337
@Ethan-Arrowood the bug is that `dashedName` is not a unique identifier. All the needs to happen with `_createNavData` and `SideNav.jsx`is where-ever we are using `dashedName` to find a child/parent, we should use paths instead

[2017-09-25 07:21] systimotic commented on #348
Hi Michael!

Our current installation includes the `sharp` image processing module, which is a native module that's compiled using `node-gyp`. From the error, it seems like you don't have it set up, and it's not included in our installation instructions. I also had issues with it, because it works differently with yarn and npm. This is not an issue on MacOS because python is preinstalled.

@zk433

[2017-09-25 08:52] chiragbhansali opened #387 "Search results are not updated with new content"
If you search for already published articles (like css cursors or markdown), the result will show but it is being labelled as a stub. Also, the search is returning different articles for if I type 'cursor' or 'cursors'(the result for 'cursor' is actually a broken link).

[2017-09-25 11:02] divayprakash commented on #348
@systimotic Working on it!

[2017-09-25 11:27] divayprakash commented on #348
@systimotic So I need a little bit of help here. I removed the `gatsby-plugin-sharp` dependency from `package.json` and also from `gatsby-config.js`. The `yarn build` did not hit any errors then and completed successfully on a fresh clone of the repo on my Windows 10 machine. I would also like to clarify that I did not have the `sharp` module installed/pre-configured.

Now the issue I have is that

[2017-09-25 11:31] Bouncey commented on #348
@divayprakash please ensure you have ran `yarn remove gatsby-plugin-sharp` to remove it the the `package.json`. And yes please commit the `yarn.lock` file 👍

[2017-09-25 11:44] JuanLuisCh commented on #310
@evaristoc
Thanks for the instructions, and observations.

I'm already working on a little guide about technical translation, and thinking about the essential subjects to be translated, giving priority to subjects for audiences in early steps of learning the basics of coding, like HTML, CSS, JavaScript. As you say, there is a big group that benefits for partial or total translations to understand

[2017-09-25 11:52] JuanLuisCh commented on #310
I understand that translation is not a priority yet, but yes, would be great to start translating and organizing efforts towards this objective, and keep it "Invisible" until the right moment.

The real challenge will be in the future incorporating multilingual options to the guide, how could we do it? @evaristoc

[2017-09-25 12:27] Bouncey commented on #310
This can be done with routing I.e

`/en/JavaScript/array`
`/es/JavaScript/array`
`/ru/JavaScript/array`
`/de/JavaScript/array`

With a fallback of English

These could be held in a `src/translations/` dir until such time that we make them live.

I'd be happy to put it on the roadmap, meaning it's not a priority right now, but it is something I would be interested in implementing in the future

[2017-09-25 12:30] Bouncey commented on #387
Thank you for reminding me about the webhook! @QuincyLarson I will send you the webhook for guides later today

[2017-09-25 12:37] #374 closed

[2017-09-25 13:00] m-henderson commented on #348
@Bouncey @divayprakash @systimotic good work! I figured this was on my end, but I wasn't sure. better safe than sorry (:

[2017-09-25 13:13] #348 closed

[2017-09-25 13:14] systimotic commented on #348
@m-henderson This should now be fixed thanks to @divayprakash. Can you check it out?

[2017-09-25 13:20] m-henderson commented on #348
@systimotic running like a well oiled machine.
![2017-09-25](https://user-images.githubusercontent.com/16070192/30810344-7088c3d4-a1ca-11e7-91bf-799bcb14be90.png)

[2017-09-25 15:55] johnkennedy9147 opened #410 "Articles have duplicate stubs"
Seeing a number of instances where an article has been added but the placeholder stub remains.

Some examples under Javascript - comparison operators, for loop  and for in loop
![stubs](https://user-images.githubusercontent.com/26827682/30817768-b140f74c-a211-11e7-9316-e488930ac660.jpg)

[2017-09-25 16:03] johnkennedy9147 opened #412 "Javascript/Tutorials contains non Javascript related stubs and articles"
Many of the stubs and articles listed here related to HTML or CSS rather than JavaScript.

I would suggest the ideal solution is that there is a top level Tutorials section (containing all tutorials), and a Tutorials section in each section for which there are tutorials containing only those relevant to that area, eg HTML/ Tutorials, CSS/ Tutorials...

This would improve discoverability of relevan

[2017-09-25 16:22] johnkennedy9147 opened #414 "Navigation structure too flat, also inconsistent between languages. Article naming inconsistent."
I think it would greatly benefit users if the tree structure had more layers and if those layers were consistent between sections for each language.

For example in the JavaScript section you get a big list of articles and there are around 10 on loops. With the article naming being inconsistent its hard to find all the loop articles.  If we used a structure like JavaScript / Loops / ... for exampl

[2017-09-25 16:41] m-henderson opened #415 "Add CSS pre-processor"
Hey Contributors! I am working on implementing night mode for guides, but to make this easier, I need [LESS](http://lesscss.org/). What are your thoughts on adding this to the application? Are you cool with it ?

[2017-09-25 16:50] Bouncey commented on #415
LESS || SASS || Stylus 👍

[2017-09-25 17:38] danedavid commented on #79
Checkout a branch and then we can work on it I guess

[2017-09-25 21:37] Bouncey commented on #414
I would be interested in seeing a PR on this :+1:

[2017-09-25 21:44] Bouncey commented on #410
I agree this needs cleaned up. Most of the content here was ported over from the forum, so I'm not surprised to see duplicate articles as it was done programmatically

QA'ing 2000+ articles in one go would have been impossible for the three of us at that time

[2017-09-25 21:46] Bouncey commented on #412
This could be related to #337

[2017-09-25 22:18] johnkennedy9147 commented on #414
I'd like to take a stab at this!

Am I right in thinking the side Nav is built out from the directory structure

so taking JavaScript loops as an example, if I
-add new directory to guides/src/pages/javascript/
-move the articles
-create / update index.md with something useful

that'll sort it?

[2017-09-25 22:26] johnkennedy9147 commented on #410
I can do this then.

What would be easier for you?

Individual PR for each to be removed.
Batches of a few at a time.
Everything to be deleted from a section eg JavaScript one day, HTML another...
All at once when I get through it all.

[2017-09-25 22:44] xuhang57 commented on #302
@Manish-Giri please go ahead and just ping this issue in your PR description. Thanks!

[2017-09-25 23:02] johnkennedy9147 commented on #412
Yeah, looking in the source code html/tutorials, css/tutorials and javascript/tutorials all seem to have correct content but in side nav they all show up under javascript/tutorials and no tutorials section appears under html or css

[2017-09-25 23:30] m-henderson commented on #415
Removed less and added sass https://github.com/freeCodeCamp/guides/pull/431

[2017-09-26 00:35] QuincyLarson opened #433 "Article on Functional Programming"
Since we mention Functional Programming in [the Medium article](https://medium.freecodecamp.org/heres-a-new-way-to-learn-coding-tools-and-concepts-right-when-you-need-them-ee82d15c576d), we should create an article on Functional Programming in case people search for it.

Would anyone be interested in writing it? It could go in the Software Engineering folder.

[2017-09-26 02:12] mfaheemakhtar opened #437 "What about using ES6 in JavaScript guide?"
I think, it would be much better to use ES6 or JavaScript + ES6 in JS section. New comers must know and learn about ES6, its benefits and features.

I'm also a newbie but would love to contribute in JS.

[2017-09-26 03:16] chiragbhansali commented on #433
#441

[2017-09-26 05:30] vancanhuit commented on #437
I think so too. We need to place ES6 articles into a separate topic in JavaScript for easy referencing.

[2017-09-26 09:24] OmoleOO opened #450 "Javascript > Tutorials > Page Redirects Using JavaScript"
While viewing the page, javascript > tutorial > page redirects using javascript, I get redirected to "www.yoururl.com".

[2017-09-26 09:32] systimotic commented on #437
I'd love to see some articles about ES6 in the Guide!

[2017-09-26 09:44] systimotic commented on #450
Sorry about that @OmoleOO! Interestingly, I only get redirected in Chrome, not in Firefox. Regardless, the issue exists because we have an issue where HTML in a code block is run unless it's inside an HTML code block. I'm opening a pull request to fix the issue in this specific case.

[2017-09-26 09:49] systimotic commented on #414
@johnkennedy9147 Thanks for taking this on!

The URL is built from the directory structure. The names in the SideNav come from the front matter:
[code]
The steps you mentioned should do the trick 👍

[2017-09-26 10:40] #450 closed

[2017-09-26 12:12] dwaq opened #453 "Comments in HTML not displaying properly"
See this page: https://guide.freecodecamp.org/html/comments-in-html

It should appear as:

		<h1>FreeCodeCamp web</h1>

		<p>FreeCodeCamp is an open-source project that needs your help</p>

Note, in order to even make this issue appear correctly, I had to indent the HTML tags and leave a blank space between the lines. I did not use the back ticks feature.

See this image:
![image](https://user-ima

[2017-09-26 13:20] davidkwan95 opened #454 "Search results showing articles that are no longer available"
When searching, I've found a lot of links that lead to 404. I think removed articles should not be included in the search results.

[2017-09-26 13:28] #433 closed

[2017-09-26 13:45] davidkwan95 opened #455 "Isloggedinasync article should be removed"
I don't think this article https://guide.freecodecamp.org/javascript/isloggedinasync belong in the javascript section because it is not a native javascript function. My suggestion is, making an article about asynchronous JavaScript and put that isLoggedInAsync as an example.

[2017-09-26 14:00] clearyusc opened #456 "Searching for 'functional programming' does not show the basic Functional Programming article"
Instead, it shows a bunch of other articles that are related to functional programming, but you would expect it to take you to the main article, https://guide.freecodecamp.org/software-engineering/functional-programming, and not tangentially related or more complex articles.

This is especially important because this is the example used in the freeCodeCamp blog announcement!

[2017-09-26 14:54] JuanLuisCh commented on #310
@Bouncey thanks!

[2017-09-26 15:05] OmoleOO commented on #450
Great job, guys!

[2017-09-26 15:17] enguerran commented on #456
That is very true, here is a screenshot of the results I had:

![](https://i.imgur.com/5TMB3ne.png)

For other «_search engines_», I guess we should wait for the website to be indexed:

![](https://i.imgur.com/tn7xk5B.png)

![](https://i.imgur.com/nA9iDCy.png)

[2017-09-26 15:21] johnkennedy9147 commented on #414
PR #459 submitted to make a start on this - began with a JavaScript loops directory

[2017-09-26 15:27] systimotic commented on #450
Thank you for reporting this @OmoleOO! If nobody tells us about it, we can't fix it 😄

[2017-09-26 16:10] danedavid commented on #456
I think the article on functional programming got merged just today... now we may be able to fix this

[2017-09-26 17:21] danedavid commented on #453
I dont understand the issue. You want the comment to be displayed on the page ?

[2017-09-26 17:25] dwaq commented on #453
I don't understand why there's an example on the page if you can't see it.

[2017-09-26 22:47] systimotic commented on #454
Hi @davidkwan95! Thanks for reporting this.

It looks like this is caused by the same issue as #387, so I'm closing this as a duplicate. If the issue persists after #378 is closed, please reopen this with some examples of search queries that have broken links.

Happy coding!

[2017-09-26 22:47] #454 closed

[2017-09-26 22:50] systimotic commented on #456
Hi everyone! Thanks for reporting and looking into this.

I agree that this is an important issue.
As mentioned, the article was only merged very recently. The database we use for searching is not updated automatically yet. We're addressing that in #387, so I'm closing this as a duplicate.

Happy coding!

[2017-09-26 22:50] #456 closed

[2017-09-26 22:56] systimotic commented on #453
Thanks for reporting this @dwaq!

The source for this article is [here](https://github.com/freeCodeCamp/guides/blob/18b9668e84be5715267eaf7efecfe9d1454ea5ec/src/pages/html/comments-in-html/index.md).
We're currently having an issue where HTML inside code blocks is being executed, unless the code block is marked as an HTML code block.
To fix this issue here, the first ` ``` ` in the file linked abo

[2017-09-26 23:05] systimotic commented on #455
Thanks for reporting this @davidkwan95!

It looks like this article is related to Angular. We don't have a section on that yet, but it's definitely not in the correct section now. There are some Angular articles in the miscellaneous section, but I think this article should be removed.

[2017-09-26 23:06] #415 closed

[2017-09-26 23:07] #219 closed

[2017-09-26 23:08] systimotic commented on #16
Related: #387

[2017-09-26 23:16] systimotic commented on #412
😞 That's an annoying issue. Thanks for reporting this @johnkennedy9147, I'll close this in favor of #337. Happy coding!

[2017-09-26 23:16] #412 closed

[2017-09-27 06:12] Bouncey opened #474 "Duplicate articles in CSS - CSS/Properties"
Take `text-decoration` for example.

Duplicates should be removed :+1:

[2017-09-27 06:47] dakotaclemenceplaza commented on #474
What about duplicating themes in javascript? For example
https://guide.freecodecamp.org/javascript/multiply-two-numbers-with-javascript

Is there a need for such articles when there is arithmetic operations article
https://guide.freecodecamp.org/javascript/arithmetic-operation-javascript

Should these be removed?

[2017-09-27 06:54] kevinsmithwebdev opened #477 "Use of "JavaScript" and articles in titles"
I'm new here, but when I look at the list of JavaScript articles, several of their titles lead with "JavaScript...". This creates a confusing list as it seems to be out of alphabetical order, with entries starting with "j" sprinkled throughout. I would suggest not putting "JavaScript" in the title as it is redundant because we are in the JavaScript folder.

This may have also lead to some accident

[2017-09-27 07:22] Bouncey commented on #477
Thanks for the issue @ksjazzguitar

For this to be rectified correctly:
- rename the containing folder for this article `/src/pages/javascript/javascript-ternary-operator` -> `/src/pages/javascript/ternary-operator`
- the title field in the front matter should also be editied
[code]
becomes
[code]

[2017-09-27 08:11] #289 closed

[2017-09-27 08:22] johnkennedy9147 commented on #477
this ties in with issues #410 and #414

On the naming of articles the Article Style Guide does list examples that include language:

    "HTML Lists"
    "CSS Borders"
    "JavaScript For Loop"

So I was taking that as appropriate naming for the changes I am making, however, I do agree that it is not helpful.

[2017-09-27 08:30] johnkennedy9147 commented on #474
Isn't this a duplicate of issue #410 Stub placeholder articles being left when article published.

[2017-09-27 08:50] johnkennedy9147 commented on #455
I was thinking it would be good to have a section within JavaScript for Libraries & Frameworks, then in that section sub-sections for those we have articles pertaining to. The whole JQuery section for example could nest under that.

[2017-09-27 11:17] chiragbhansali commented on #474
@Bouncey How can we delete the folders of the duplicate properties. Do contributors have the permission to do so?

[2017-09-27 14:40] Ethan-Arrowood commented on #337
I'm stumped on this one. @Bouncey feel free to try to fix this yourself; you can probably figure it out faster than I can.

[2017-09-27 15:02] dhcodes opened #492 "Standardize informational and source links"
Only looking at the Javascript section for now, but I'm sure others may have this issue; it seems like the way links are added to articles varies wildly. Let's discuss on the Contributors room and add a recommendation to the style guide. I think we should also talk about how people add sources to articles.

Some are:
`[ MDN | MSDN ]`
[Example](https://guide.freecodecamp.org/javascript/return-state

[2017-09-27 15:17] dhcodes opened #493 "[suggestion] SideNav width"
I'm not a UI expert, but I think making the width of the sidenav be `col-md-3` looks a touch better than its current `col-md-4` because it puts the content more in the center and lines up nicely with the logo at the top. Thoughts? imho of course.

[2017-09-27 16:56] clang676 opened #494 "Add guides for specific JavaScript frameworks"
Any plans to add guides for specific JavaScript frameworks?

Such as angular, Vue.js,  and react?

[2017-09-27 22:53] beigebrucewayne opened #503 "Add Vim Section?"
Would adding a Vim section make sense? If so, I'd be down to help contribute to it's development.

[2017-09-27 23:57] HKuz commented on #492
Thanks for bringing this up @dhcodes - we should definitely agree on a format. In addition to updating the style guide, I think we could also include the suggested format as a comment in the stub template. That way, at least the person editing it the first time through sees the format. (I'd also suggest changing the heading level of the "More Information" section from level-4 to level-3).

I don't

[2017-09-28 13:12] systimotic commented on #493
@dhcodes I agree with your pros, but I also see some cons:
- Line length is longer, which isn't good for the reading experience
- Line length on the SideNav is shorter which means a lot more things wrap on multiple lines, which also isn't ideal.

[2017-09-28 14:16] Ethan-Arrowood commented on #493
Check out the screenshots below for a comparison.
Column Width 3:
<img width="1439" alt="Width3" src="https://user-images.githubusercontent.com/16144158/30971432-dbd13d66-a435-11e7-992d-d39f3452797e.png">
Column Width 4:
<img width="1438" alt="Width4" src="https://user-images.githubusercontent.com/16144158/30971443-e4064f3a-a435-11e7-97c7-631a52e7b59b.png">
@dhcodes & @systimotic if you guys prefe

[2017-09-28 19:16] dhcodes commented on #493
We need a 3.5 ... lol. @systimotic based on @Ethan-Arrowood's screenshots, the line-length looks the same.

[2017-09-28 19:41] Ethan-Arrowood commented on #493
FYI This was screenshot on a 15"MacBook Pro running Google Chrome at standard view

[2017-09-29 00:53] jamesjpk123 opened #520 "Add Go Section"
[Go](https://golang.org/), a new programming language is in need of documentation in this guide.

[2017-09-29 00:56] jamesjpk123 commented on #503
Vim section is being added in PR #514, if it goes through.

[2017-09-29 01:58] beigebrucewayne commented on #503
I'm the same guy. Decided to just add it myself...lol.

[2017-09-29 02:07] beigebrucewayne commented on #520
Added to PR #514

[2017-09-29 03:11] jamesjpk123 commented on #520
Cool @beigebrucewayne!

[2017-09-29 03:11] jamesjpk123 commented on #503
Oh didn't realize @beigebrucewayne lol.

[2017-09-29 03:16] jamesjpk123 commented on #347
Does the main freeCodeCamp website have night mode? If not, it would break away from freeCodeCamp's "style" to add night mode, unless night mode was added to both websites. Also, how would we distinguish between a user that want's night mode, and a user that doesn't automatically? You don't need a freeCodeCamp account to view the guide, and turning it on **every** single time you opened up the gui

[2017-09-29 03:19] jamesjpk123 commented on #240
I think this would be a great idea! With the "everchanging" state of programming, it would be a relief to know if an article was last updated. If we do this, to fix the "stale" issue, if an article has gone 3 months without being "reviewed" by a person, it can automatically be tagged stale, and someone can review the accuracy of the information. So by the end, we would have a "last updated" and "L

[2017-09-29 06:42] pszalanski opened #526 "Stub for Python: Comprehensions"
Python has a powerful feature: Comprehensions. They make it possible to write a for loop in one line, e.g.

[code]

The same thing exists for dicitonaries for Python versions above 2.7.

A stub for this topic is missing, as far as I can tell.

[2017-09-29 08:17] systimotic commented on #493
😄 A 3.5 would be nice

Line length in the SideNav is definitely shorter. This is more noticeable when you go in another level:
![20170929_10-13-49_firefox](https://user-images.githubusercontent.com/7262039/31006923-09ecc1d8-a4ff-11e7-8a96-09a657596750.png)
![20170929_10-14-50_firefox](https://user-images.githubusercontent.com/7262039/31006929-0d71d488-a4ff-11e7-9574-47bfd25ab2c8.png)

In the scree

[2017-09-29 10:57] HKuz commented on #503
@beigebrucewayne - looks like you've got a few votes of approval on your suggestion, and I think having a Vim section would be a welcome add (especially that exit article... 🤣). In general, anything development, design, or data science-related is fair game here, and folks would certainly appreciate a quick reference for the Vim keyboard shortcuts. I'll go QA your PR to get it merged, so the sectio

[2017-09-29 12:16] HKuz commented on #526
Hi @pszalanski - I agree that this is an important topic and should be covered! I would request that the article cover the various forms of comprehensions (feedback from other welcome):

- list comprehensions per your example
- dictionary comprehensions as you noted: `{k: v for k, v in iterator}` (where `iterator` returns two items, like `enumerate` or `zip`)
- set comprehension: `{n % 2 for n in

[2017-09-29 13:49] Ethan-Arrowood opened #532 "Yarn Install issue"
I've been working on my Guides fork for a few days now with no issues. I've even submitted two PR's. However, today I ran `yarn run dev` and I was greeted with some strange dependency error. So I ran `yarn install` and that returned a new uglier error from some `gyp` command. I went ahead and backed up my changed files then I removed my `guides` directory and recloned my fork. After running `yarn

[2017-09-29 14:18] dhcodes opened #533 "Vim issue when QA'ing locally"
I get this error after checking out a PR for QA. Seems Vim related. This could be an issue on my local machine.

[code]

[2017-09-29 14:21] Bouncey commented on #533
@dhcodes Does vim throw a config file into the root of the project? maybe it is not being carried over when you pull down a PR?

It looks like it can find any vim plugins?

[2017-09-29 14:25] Ethan-Arrowood commented on #532
This was a weird one. Some crazy issue with pre-commit hooks. Just ran rm -f .git/hooks/pre-commit.old and then I was able to use `yarn install` and `yarn run dev` again

[2017-09-29 14:31] dhcodes commented on #533
Thanks @Bouncey . I think I've determined it's a local issue. Will close for now.

[2017-09-29 14:31] #533 closed

[2017-09-29 14:32] HKuz commented on #532
Ethen, I had a Python issue when I first ran `yarn install` but got a slightly different error (so take this as more of a datapoint). My install crashed because my bin defaults to Python 3.6 where gyp wanted Python 2.x. When I ran the install in an Anaconda environment for Python 2.7, it worked.

[2017-09-29 14:40] Ethan-Arrowood commented on #532
@HKuz I've had similar issues in other projects.

[2017-09-29 14:49] HKuz commented on #532
Sorry, Ethan, not Ethen - I turn into fat-fingers McGee on mobile.

[2017-09-29 14:50] #532 closed

[2017-09-29 14:55] Bouncey commented on #532
Eevee, nice!

[2017-09-29 14:55] Bouncey commented on #532
One of the packages used node-gyp, I though we had got rid of it @systimotic ?

[2017-09-29 15:52] systimotic commented on #532
@Bouncey Yep, we did! From the screenshot, I'm seeing that `sharp` is causing the issue, like it was in #348. We removed it through #394.

@Ethan-Arrowood From reviewing your PR, it looks like it may have been a little bit since you last updated your fork. If you didn't do this yet, first add the remote:
[code]
Then you can update the current branch with
[code]
That should resolve this problem.

[2017-09-29 15:56] meowwwls commented on #347
@jamesjpk123 `localStorage` could be used to persist the theme choice. This of course would be lost each time the browser was restarted, but for users not logged in, this is the case for any site that allows preferences.

I agree that night mode would be nice (for all of FCC, not just the guide), and Heydon Pickering actually recently wrote a wonderful [article](https://inclusive-components.design

[2017-09-29 16:49] texas2010 commented on #347
I would like to give this update. @m-henderson is working on this.

[2017-09-29 18:17] tomball opened #538 "Add a license"
"Open source" can be a vague term, as it means different things to different people (especially when lawyers are involved). Please add a LICENSE file at the top of your repo that states explicitly what your team wants. It's easiest to choose an existing license and copy its text verbatim, since all the major ones have been carefully reviewed by lawyers throughout the world.

The [Open Source Initi

[2017-09-29 18:34] texas2010 commented on #538
@tomball, thank you for notice that.

@Bouncey @QuincyLarson, it seems we need to add license on this repo.

[2017-09-29 19:25] demian85 opened #539 "What about developer.mozilla.org?"
I was planning on sending a PR with JS contributions, but then I realized that I would be writing exactly the same as in https://developer.mozilla.org/en-US/docs/Web/JavaScript
Don't you think the purpose of both guides are the same? There should be a way to avoid duplicated documentation!

A good example is the following section: https://guide.freecodecamp.org/javascript/standard-objects
You coul

[2017-09-29 21:39] johnkennedy9147 commented on #539
Hi @demian85
I disagree, I believe the FCC guide will serve a useful purpose and be complimentary to the existing resources on the internet.

Read @QuincyLarson post on medium to see the intent.
[https://medium.freecodecamp.org/heres-a-new-way-to-learn-coding-tools-and-concepts-right-when-you-need-them-ee82d15c576d](url)

It's still very early days for the project and a lot of the content needs wo

[2017-09-29 22:10] systimotic commented on #539
Hi @demian85!

You make a good point, one that I definitely thought about before putting time into this project too. Having a whole section that is merely a copy of what is on MDN seems pointless. I think there is a difference, though.

MDN is amazing reference material that you can definitely use while writing a guide. However, it can be a bit daunting to a beginner. The language used isn't alway

[2017-09-29 22:13] systimotic commented on #538
Great point @tomball, we missed that here! The `package.json` states that we're using MIT, but I think we should probably go with BSD for the code and CC for the content, like with the main repo.

[2017-09-29 22:16] #453 closed

[2017-09-29 22:18] systimotic commented on #474
@chiragbhansali [Doing this on your fork might work](https://github.com/blog/1545-deleting-files-on-github). I believe empty folders are removed automatically.

[2017-09-29 22:33] systimotic opened #542 "Fix image width in content"
Currently, there is no maximum width for images. This causes them to overflow:
https://guide.freecodecamp.org/algorithms/binary-search-trees
https://guide.freecodecamp.org/machine-learning/neural-networks
https://guide.freecodecamp.org/meta/free-code-camps-summit-august-2015
and more

The CSS (`src/css/main.scss`) should be updated to give images inside the `.content` a `max-width` of `100%`, and

[2017-09-29 22:43] systimotic commented on #387
@Bouncey 🔔 How is this going?

[2017-09-30 12:55] dhcodes commented on #542
PR submitted. @timo you did all the hard work.

[2017-09-30 13:24] HKuz commented on #520
Closing this issue as it was addressed in #514

[2017-09-30 13:24] #520 closed

[2017-09-30 13:24] HKuz commented on #503
Closing this issue as it was addressed in #514. Thanks everyone!

[2017-09-30 13:24] #503 closed

[2017-09-30 15:25] dhcodes commented on #493
We could make the width of `col-md-4` be `30%` or something. It's not a big deal either way; just something I noticed.

[2017-09-30 16:45] anku255 opened #560 "Can't run FreeCodeCamp Guide locally on Bash on Windows"
I am using Bash on Windows 10 to run FCC guide locally. When I run the command `yarn run dev` I get ` Error: EMFILE: too many open files, open '{path}/guides/src/pages/mathematics/vectors/curves/index.md'`.
More about the error can be read in this screenshot below:
![bash_2017-09-30_22-07-57](https://user-images.githubusercontent.com/22813027/31047672-6ecb96e6-a62c-11e7-842f-905bcedbb4e1.png)

`No

[2017-09-30 17:10] Bouncey commented on #560
@anku255 Please try [this answer on SO](https://stackoverflow.com/a/21070580) and let us know how you get on :+1:

[2017-09-30 17:19] #337 closed

[2017-09-30 17:35] Bouncey commented on #387
@QuincyLarson has the details, just waiting on confirmation that the hook has been added

[2017-09-30 17:35] Bouncey commented on #16
closed in favour of #387

[2017-09-30 17:35] #16 closed

[2017-09-30 18:59] Ethan-Arrowood opened #563 "Oversized image in Algorithms Binary Search Tree"
<img width="1433" alt="screen shot 2017-09-30 at 2 57 02 pm" src="https://user-images.githubusercontent.com/16144158/31048647-b859772a-a5ef-11e7-8ad5-5ea95cec26d7.png">
Should be an easy css fix. Just set the width of the image element. Would be a good first commit; I'll let someone else take it if they want. If someone needs help I'd be happy to help them if necessary.

[2017-09-30 19:05] texas2010 commented on #563
I think this PR will solve this problem. https://github.com/freeCodeCamp/guides/pull/555

[2017-09-30 21:31] systimotic commented on #563
Yep, good catch @Ethan-Arrowood! I'll close this as a duplicate of #542, which is about this same issue happening all throughout the Guide.

[2017-09-30 21:31] #563 closed

[2017-09-30 22:01] pedrosaisse opened #568 "freeCodeCamp logo not redirecting to main page"
The freeCodeCamp logo at the nav-bar is calling the ``` /challenges/next-challenge/``` route.
Shouldn't the main page's route be called, instead ?

Here's the reason I opened this issue:
I visited ```https://about.freecodecamp.org/``` and then clicked on the logo to return to the main page. But received an 404 error.
The URL informed was ```https://about.freecodecamp.org/challenges/next-challenge`

[2017-09-30 22:05] #568 closed

[2017-09-30 22:07] erictleung commented on #494
@clang676 sure! We just need people to write them :smile:

[2017-09-30 22:21] #542 closed

[2017-10-01 05:54] #233 closed

[2017-10-01 06:04] Bouncey commented on #493
We could roll our own grid...

🤔

Or use a `.container-fluid` for the row that holds the side nav and content

[2017-10-01 10:24] johnkennedy9147 commented on #410
@Bouncey pr #459 #482 (already merged) and #586 (currently pending) combined should resolve this issue

[2017-10-01 10:37] johnkennedy9147 commented on #474
@Bouncey @systimotic removed dupes text-decoration and background image property in pr #586
I didnt spot any others but quite likely I've missed some with the volume of stubs and articles in css

[2017-10-01 12:02] systimotic opened #587 "HTML inside code blocks is rendered"
If there is HTML (or something that resembles an HTML tag) inside of a Markdown code block, it is not escaped. It is only escaped if the language of that code block is set to HTML, or a different language that is set up to handle things that look like HTML elements.

This causes issues with HTML inside strings inside Javascript code blocks, and primarily with all of the code blocks that contain HT

[2017-10-01 21:48] Bouncey opened #607 "Testing"
Do nothing with this

[2017-10-01 21:48] #607 closed

[2017-10-01 22:17] shovanch commented on #538
Is anyone working this?

[2017-10-01 22:54] texas2010 commented on #538
@shovanch you can work on it. 👍

[2017-10-02 03:52] BitYog opened #612 "Font-Awesome Article?"
It is in the freeCodeCamp curriculum and is usually helpful for beginners. Can add an article on it in the Bootstrap section. Proceed?

[2017-10-02 04:06] BitYog commented on #494
@erictleung
1) What exactly do we need?
2) Where do I add these guides? (which folder)

[2017-10-02 04:40] BitYog opened #615 "Miscellaneous cleanup"
1) JavaScript articles included in miscellaneous. Eg, <a href="https://guide.freecodecamp.org/miscellaneous/stringprototypelastindexof"> String.prototype.lastIndexOf() </a> or <a href="https://guide.freecodecamp.org/miscellaneous/equality-vs-identity-operator"> Equality & identity operator. </a>
2) Python articles. Eg, <a href="https://guide.freecodecamp.org/miscellaneous/python-function-divmod">

[2017-10-02 07:11] systimotic commented on #538
Before you start working on it, we should probably agree on which license to use. I suggested to use BSD for the code and CC for the content, but I think @QuincyLarson should make the final call on this.

[2017-10-02 07:26] shovanch commented on #538
Sure. I will wait.

[2017-10-02 08:30] srawat19 opened #623 "Images for Block and Inline Element"
![inline_output](https://user-images.githubusercontent.com/16048167/31069389-e1e3fc10-a779-11e7-86d2-6685e0061f52.png)

[2017-10-02 08:48] srawat19 commented on #623
![block_output](https://user-images.githubusercontent.com/16048167/31070017-6f2cf0a2-a77c-11e7-9de6-110b9d0b488d.PNG)

[2017-10-02 08:48] srawat19 commented on #623
Added Block level example snapshot

[2017-10-02 10:23] johnkennedy9147 commented on #494
Hi @erictleung @BitYog I am in the process of adding directories for Libraries and Frameworks under JavaScript, should get a PR submitted later today.  It is just the framework of directories and stubs, so if you want to make a start on the articles then just pop them into the appropriate folder when they are live.

[2017-10-02 12:18] systimotic commented on #612
@BitYog Sounds like a good idea to me! I'm not sure if the Bootstrap section is a good place for it, though. The two aren't really related. Maybe it should be in `Miscellaneous`?

[2017-10-02 12:20] systimotic commented on #623
Hi @srawat19, thanks for contributing! Please refer to https://github.com/freeCodeCamp/guides#adding-images-to-articles for adding images to your guide.

[2017-10-02 12:20] #623 closed

[2017-10-02 12:30] systimotic commented on #615
Hi @BitYog! Most of the articles in the Guide were imported from the forum. We categorized the ones we easily could. Everything else was put in `Miscellaneous`. As you correctly noticed, everything in there still needs to be put in the correct place. Any help with this would be greatly appreciated.

When manipulating the file structure a lot, the easiest solution might be to clone your fork and do

[2017-10-02 12:35] systimotic commented on #410
@johnkennedy9147 I think we caught all of these. Can you do a final check and close this if it is indeed resolved?

[2017-10-02 12:41] systimotic commented on #455
@johnkennedy9147 That would probably be a good idea to do eventually, but this article specifically still won't be useful there. It appears to be referring to something that we don't have the context of.

[2017-10-02 12:47] systimotic commented on #414
@johnkennedy9147 Do you have more places where this should happen? I know that @davcri is working on doing this for the Java section. It would be great to create a list of things that need to be done, so we can follow our progress and what we still have left to do.

[2017-10-02 13:06] Ethan-Arrowood commented on #587
Have we considered a stricter contributing guideline regarding embedded code snippets? I always put the language after the ` ``` ` when I write markdown; we should try to make it a forced practice.

This would require us manually fixing all currently broken embeds, and maybe we could add something to the precommit file to check for a language (or at least some string) after ` ``` ` in any .md file

[2017-10-02 13:08] johnkennedy9147 commented on #410
New ones likely to be created as we progress, so I'll close this issue and periodically check and resolve any others I find.

[2017-10-02 13:08] #410 closed

[2017-10-02 13:46] johnkennedy9147 commented on #414
@systimotic I think most sections would benefit from a hierarchical structure, though less important on sections with relatively few articles. HTML, CSS, Java, Javascript, Python, Agile and SQL I think are the most urgent due to combination of number of articles and what I think will be most heavily used sections of the Guide.  Just submitted PR #630 as another step on this.

[2017-10-02 14:21] johnkennedy9147 commented on #612
@BitYog @systimotic Font-Awesome is a CSS framework so may fit best in there? Or maybe a new top-level dir for these awkward to categorise web development tools (Bootstrap would fit in there with FA rather than be its own category)

[2017-10-02 14:26] johnkennedy9147 commented on #494
@systimotic @BitYog @erictleung I've submitted PR #630 creating directory structure and stubs for a few common frameworks and libraries

[2017-10-02 14:28] johnkennedy9147 commented on #477
@Bouncey @systimotic I think this issue can be closed now

[2017-10-02 15:24] systimotic commented on #477
@johnkennedy9147 I still found a few instances when searching through the Javascript directory using this regex: `^title: [^\n]*(JavaScript)`. I'll leave this open until those are resolved.

[2017-10-02 22:10] Bouncey commented on #387
This is now completed :tada:

[2017-10-02 22:10] #387 closed

[2017-10-02 22:19] systimotic commented on #387
Awesome!

[2017-10-02 22:39] systimotic commented on #612
@johnkennedy9147 I'm not sure if FontAwesome counts as a CSS framework, I think of it as a library. I think Bootstrap is absolutely a CSS Framework. Its directory might have to be moved to the `CSS Frameworks` directory.

[2017-10-03 02:50] invinciblycool commented on #615
@BitYog I could help in moving the Python articles :smile:

[2017-10-03 06:52] systimotic commented on #615
@invinciblycool That would be great! Be sure to check for duplicates while you're moving articles 👍

[2017-10-03 07:17] erictleung commented on #492
@dhcodes @HKuz I like inline citations similar to Wikipedia. Maybe without the colon too?

Example

[code]

so it will render as

Thoughts?

Otherwise, I'm okay with `Short description of resource: [source](link...)`.

[2017-10-03 07:23] systimotic opened #659 "Section title in article title?"
In https://github.com/freeCodeCamp/guides/issues/477, the inconsistency of the naming of articles in the Javascript section was pointed out. Now, Javascript has been removed from nearly all titles in the folder.

On Gitter, @davcri pointed out something similar in the Java section. Here's a screenshot of what it currently looks like:
![20171003_09-14-23_firefox](https://user-images.githubuserconte

[2017-10-03 07:43] systimotic commented on #587
@Ethan-Arrowood I think it would be a great idea to more strongly advice people to specify the language, but looking at what we're currently saying (https://github.com/freeCodeCamp/guides#formatting-example-code), I'm not sure how to improve it.

Most people create their articles on GitHub and never therefore never run the pre-commit hook. It would be nice to find some way to enforce this, but man

[2017-10-03 07:49] erictleung commented on #659
@systimotic I agree there appears to be some redundancy. I'm not sure if adding the title there adds or removes anything from SEO? Maybe @Bouncey can speak more on this. I agree on @systimotic's points on the tradeoff paragraph.

Question: does searching for things make it more difficult without the language name in it?

Side note: to make searching more efficient, should maybe have a `tags` attri

[2017-10-03 09:30] johnkennedy9147 commented on #659
It would be useful to have the language indicated in the search results, but in a consistent place.  Is it possible to include the top level navigation folder. By which I mean just the name X from the folder: guides/src/pages/X/{subsection...}/article.

So for example:

![image](https://user-images.githubusercontent.com/26827682/31118470-664af28c-a825-11e7-96b2-237933893992.png)

would become

![i

[2017-10-03 09:39] systimotic commented on #659
@johnkennedy9147 I agree 100%, that's what I suggested in #206 too.

[2017-10-03 12:21] davcri commented on #659
I also think that it woul be better: it is more elegant. Simplicity is a core value of FCC Guides and this should be reflected also in the UI/UX (as far as it doesn't affect SEO).

PS: :+1: for a gitter freeCodeCamp/guide :smile:

[2017-10-03 12:32] davcri commented on #659
@johnkennedy9147 I like the idea: search results can be improved. I really like the solution used by [devdocs.io](https://devdocs.io/):

![screenshot from 2017-10-03 14-22-50](https://user-images.githubusercontent.com/6860637/31124857-7f1e3c26-a846-11e7-9acf-ea74fc2ebe14.png)

So ideally:
![31118470-664af28c-a825-11e7-96b2-237933893992](https://user-images.githubusercontent.com/6860637/31125140-93

[2017-10-03 14:09] HKuz commented on #492
@erictleung - I like that style for in-line citations 👍  Sorry, I should have been a bit more clear, the format I noted above was for the "More Information:" section, it would look a bit goofy in other areas 😄

[2017-10-03 14:17] dhanushuUzumaki commented on #615
@BitYog Can I help in moving the git articles?

[2017-10-03 14:21] dhanushuUzumaki commented on #494
Hi, If we are to write an article about a framework, should it be a single article containing a brief hello world intro to that framework or should we create subdirectories for each topic and add full explanation there?

[2017-10-03 14:23] pranabendra opened #663 "Images broken in webpage"
When I view the article <a href="https://github.com/freeCodeCamp/guides/blob/5ebf839b98db808c35f2a47e176b195fdc36edd3/src/pages/mathematics/differential-equations/eulers-method/index.md">herein</a>  Github, all the images appear properly.

![image](https://user-images.githubusercontent.com/30474395/31128919-be2f1d84-a870-11e7-8ab2-cc2b75461f75.png)

But, upon viewing the article <a href  = "https:

[2017-10-03 14:31] texas2010 commented on #663
oh, I see. you added a link at that. I look it up. it is a page. it supposes to be picture file. not website page.

for example, you use this link. https://github.com/pranabendra/articles/blob/master/Euler-method/images/eqn1.png   you could notice it is a website page. not picture file.

[2017-10-03 14:35] dhanushuUzumaki commented on #663
It is just as @texas2010  pointed out. If a link to the correct image is used then it is properly displayed.
<img width="1280" alt="screen shot 2017-10-03 at 8 03 23 pm" src="https://user-images.githubusercontent.com/14927280/31130839-2300afa2-a876-11e7-8a09-ed61406e6f22.png">

[2017-10-03 14:39] BitYog commented on #615
@dhanushuUzumaki Yeah, you can.

[2017-10-03 14:41] pranabendra commented on #663
Thanks a lot! @texas2010 @dhanushuUzumaki

Understood my mistake. I'm fixing all of them.

[2017-10-03 14:52] BitYog commented on #615
@systimotic I am doing these changes on a Windows machine with Github Desktop. I have done some of the work required. How do I open a pull request when I'm completed??

[2017-10-03 15:06] dhanushuUzumaki commented on #455
Created a PR for this #664 .

[2017-10-03 15:06] Ethan-Arrowood commented on #587
Hmm this is a tricky one then. I imagine we could find a way to improve Gatsby to suit our needs. I think you should open an issue on Gatsby at least.

[2017-10-03 15:12] dhanushuUzumaki commented on #615
@BitYog  I believe you have forked this repo and made your changes. Just commit and push to your forked version. When you visit your forked repo page on GitHub, there will be an option to create a PR. If you prefer using CLI, then you could try [this](https://git-scm.com/docs/git-request-pull).

[2017-10-03 15:51] BitYog commented on #615
@systimotic @invinciblycool @dhanushuUzumaki I've done the changes in GitHub Desktop, but I'm not able to make a pull request on the website.

[2017-10-03 16:06] dhanushuUzumaki commented on #615
@systimotic just making sure, after making the changes did you commit and push those changes to your repo?

[2017-10-03 16:06] erictleung commented on #492
@HKuz ah I see. For the "More information:" section, I'd suggest going with a list too. So something like this?

[code]

[2017-10-03 16:13] johnkennedy9147 commented on #612
@systimotic actually I totally agree now that I think about it, despite calling themselves "the iconic font and CSS framework" Font Awesome doesn't actually satisfy the requirements to be considered a framework.  But I would say neither does Bootstrap, they are both libraries arent they? Bootstrap also is not just CSS so would it be appropriate to categorise under CSS?

[2017-10-03 16:15] erictleung commented on #494
@BitYog

1. Any JS frameworks you feel are worth mentioning
2. It appears that @johnkennedy9147 has gone ahead and made a `frameworks-and-libraries` subdirectory to put these in.

@johnkennedy9147 thanks for moving some of the articles around. I think that is in the right direction. Let's wait on others to comment cc/ @HKuz @systimotic @Bouncey

@dhanushuUzumaki I think a quick introduction about

[2017-10-03 16:39] BitYog commented on #615
Yeah, I did. But it still doesn't show up on GitHub.

[2017-10-03 16:44] BitYog commented on #612
As @johnkennedy9147 has already created a Frameworks and Libraries section, we can add the Font-Awesome article in it. @systimotic @johnkennedy9147 can we start creating the article now?

[2017-10-03 18:00] nebrelbug opened #670 "Multiple Image Sections"
Under HTML, there is:

Images
Elements/Images
Elements/Img Tag

[2017-10-03 19:39] systimotic commented on #663
Thanks for catching the error and figuring out what to do @pranabendra @texas2010 @dhanushuUzumaki! I'm closing this issue as resolved.

Happy coding!

[2017-10-03 19:39] #663 closed

[2017-10-03 20:13] systimotic commented on #670
Good catch @nebrelbug! Here are the links to the articles:
https://guide.freecodecamp.org/html/images/
https://guide.freecodecamp.org/html/elements/images/
https://guide.freecodecamp.org/html/elements/img-tag/

The first article is the most complete, but the last one has the best place and title. The contents of the first article should be added to the last one. The first two articles should then

[2017-10-03 20:25] systimotic commented on #615
@BitYog There should be a "Publish this branch to GitHub" button. Click that. After that's done, go to the main page of this repo: https://github.com/freeCodeCamp/guides
It should say that you recently pushed new changes, and show a button to create a Pull Request.

[2017-10-03 20:46] systimotic commented on #612
@BitYog You can definitely start creating the article, we can always move it later. Where is the frameworks and libraries section? I'm not seeing anything apart from an open PR specifically for JS frameworks and libraries.

[2017-10-03 21:14] johnkennedy9147 commented on #612
@BitYog
The section you saw referenced in the issue #494 is just for Javascript frameworks and articles, so Font Awesome wouldn't belong in there.
@systimotic I'm still liking a new Web Development Toolkits section for awkward things that are important but dont fit neatly somewhere else. What do you think?

[2017-10-03 21:21] johnkennedy9147 commented on #659
@davcri  Ooh - thats pretty, never seen that site before, 🔖  now

[2017-10-03 22:25] Bouncey opened #675 "Test markdown articles for frontmatter with Travis-CI"
All markdown articles need
[code]
At the top of the file

We could just ask Travis to `node bin/createNavData` As part of the CI tests

This will give a clear indication to maintainers that the articles won't break the build

[2017-10-03 22:32] nebrelbug commented on #670
I just found another one! There's also https://guide.freecodecamp.org/html/elements/html-img-tag.
Is https://guide.freecodecamp.org/html/elements/img-tag still best? Thanks!

[2017-10-03 22:33] texas2010 commented on #675
Yes! good idea.

[2017-10-03 22:44] nebrelbug commented on #670
Do my latest Pull Requests work?
Thanks so much!

[2017-10-03 22:46] johnkennedy9147 commented on #675
@Bouncey I've never used (or even seen) travis or node before but I think what you mean is that the command needs to be added to the file travis.yml in the script section? that will make travis run that node file during each build, and node will return an error code if the title section is missing therefore avoiding the issue of breaking the build if a file is committed sans title.

[2017-10-04 03:44] QuincyLarson commented on #387
Awesome! This is huge! Thanks, @Bouncey

[2017-10-04 03:56] QuincyLarson commented on #538
@systimotic Yes - I agree. We want to have two licenses, like we do on the github.com/freecodecamp/freecodecamp repo - BSD-3 for the code and CC-SA-BY 4.0 for the articles themselves.

I've opened a pull request to add these.

Thanks to @tomball for pointing out that we hadn't yet added licenses.

[2017-10-04 04:07] QuincyLarson commented on #539
I couldn't have said it better than @johnkennedy9147 and @systimotic did.

I use the MDN as a reference also, along with documentation, Wikipedia, and resources like DevDocs.io.

With the freeCodeCamp Guide, our goal is instead to offer articles that are "good enough" as opposed to technically exhaustive.

[2017-10-04 04:07] #539 closed

[2017-10-04 04:59] dhanushuUzumaki commented on #494
Thanks @erictleung

[2017-10-04 05:06] dhanushuUzumaki commented on #675
I believe, please correct me if wrong, that createNavData is currently not throwing an error if the title data is not present; Should that be added? [getTitle is called here](https://github.com/freeCodeCamp/guides/blob/011475f6f6bb6b9413d9af230992d2a1ff76209f/bin/createNavData.js#L23)

[2017-10-04 06:28] Bouncey commented on #675
[this line](https://github.com/freeCodeCamp/guides/blob/011475f6f6bb6b9413d9af230992d2a1ff76209f/bin/createNavData.js#L12) throws an error when the frontmatter is missing.

If this line fails, it would be a good idea to throw an error with the message adout missing frontmatter. Thanks for the suggestion @dhanushuUzumaki

@johnkennedy9147 you are correct, `node bin/createNavData` should be added to

[2017-10-04 07:52] johnkennedy9147 commented on #675
@Bouncey submitted PR #691  to add requested command

[2017-10-04 08:03] johnkennedy9147 commented on #675
@Bouncey Question: I took a look at Travis as it was doing its checks on my PR and the line I added was ran, even though the PR isn't committed yet. Should that happen?

![image](https://user-images.githubusercontent.com/26827682/31165246-3f00a7a4-a8e2-11e7-8e7f-188f10faa6cb.png)

It seems wrong, and potentially dangerous to me, for changes to immediately take effect. Though with my very limited k

[2017-10-04 08:16] Bouncey commented on #675
Travis takes it's setting from the .travis.yml file that is on the PR. So this is normal. It does not effect any other PRs until it is merged

[2017-10-04 08:18] Bouncey commented on #675
@johnkennedy9147 would you be comfortable with making [this line](https://github.com/freeCodeCamp/guides/blob/011475f6f6bb6b9413d9af230992d2a1ff76209f/bin/createNavData.js#L12) throw an error if it fails?

[2017-10-04 10:02] Bouncey opened #693 "Add a gatsby plugin for relative links"
We need to catch relative links in markdown files to enhance UX.

Please add [this plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-catch-links/) to our `gatsby-config.js` file and test

[2017-10-04 10:02] Bouncey commented on #693
@systimotic I think we need more labels...

[2017-10-04 10:07] systimotic commented on #693
@Bouncey 😄 I'm very tempted to add "enhancement", "on the roadmap", "bug" and "changes requested"

[2017-10-04 10:27] ChrisMcNulty91 commented on #693
@Bouncey Has anyone started looking at this? If not I'll get cracking

[2017-10-04 10:42] systimotic commented on #693
@ChrisMcNulty91 You can go ahead!

[2017-10-04 10:50] #455 closed

[2017-10-04 11:50] johnkennedy9147 commented on #675
@Bouncey I took a look at the code and this is what I came up with:

`function getPageTitle(content) {
 let meta;
 try {
 // meta = '---\ntitle: Frontmatter Title\n---'
 meta = content.match(metaRE)[0];
 }
 catch (err){
 if (err instanceof TypeError){
	 err.message ="Frontmatter may be missing from an article.";
 }
 console.error(err);
 throw  err;
 }
  return meta.split('\n')[1].replace('title: '

[2017-10-04 12:27] systimotic commented on #675
@johnkennedy9147 Nice work! I think it could be simplified a little bit:
[code]
Of course, I had to test before sharing, but I got a little carried away: https://github.com/systimotic/guides/commit/283a1b7fd4eb604060181175e5afd0f8a8768e66 😄

[2017-10-04 13:01] Bouncey commented on #675
@johnkennedy9147 could you implement @systimotic's `getPageTitle()` please 👍

[2017-10-04 13:01] johnkennedy9147 commented on #675
@systimotic 2 questions:
Would mine have worked?
Does the example you posted above throw 2 errors, firstly a typeerror then maybe a referenceerror, or would it have kicked out of try block at typeerror? I think the latter.

[2017-10-04 13:01] Bouncey commented on #675
@systimotic if you could commit `23a1b7` to @johnkennedy9147 PR I would gladly merge 👍

[2017-10-04 13:03] Bouncey commented on #675
It will `try` to run the code block without expections. If an exection occurs, the `catch` code block runs

[2017-10-04 13:13] HKuz opened #696 "Hacktoberfest Information!"
Contributors,

If you're curious about the "Hacktoberfest" labels and want to get involved, here's a link to the [official Hacktoberfest site](https://hacktoberfest.digitalocean.com/). It has all the rules and a [sign-up link](https://hacktoberfest.digitalocean.com/sign_up/register). The general idea is you sign up, make 4 pull requests on open source projects between October 1-31, and you get sti

[2017-10-04 13:15] invinciblycool opened #697 "Arranging articles in order to follow instead of alphabetical order."
Currently the articles on each topic are listed in alphabetical order.
Considering a beginner visiting the guide, it becomes very tiresome to learn a topic from the very beginning because of the difficulty faced in navigating through articles.

Instead if the articles are in a sequence to follow, it would be much better.
Consider the case of python, an article on while loops lies way below the hie

[2017-10-04 13:26] BitYog commented on #615
@systimotic @invinciblycool @dhanushuUzumaki  I've created PR #698. Reviews will be very helpful.

[2017-10-04 13:45] dhanushuUzumaki commented on #206
@Bouncey Has anyone started looking at this? Else I would like to give it a try.

[2017-10-04 13:56] systimotic commented on #675
@johnkennedy9147 Absolutely, yours worked perfectly!
My version throws only a single error, yours actually showed the error twice 😄 `console.error` showed it the first time, then again on `throw`. I know that we did that later in the same file too, but it's redundant.
As Stuart explained, when there is an error in the `try` block, it will skip to the `catch` block. Using this, I could for example

[2017-10-04 14:20] systimotic commented on #206
@dhanushuUzumaki We did add breadcrumbs to the pages, but not to the search page. The page breadcrumb component is at `src/pageComponents/Breadcrumb.jsx`. You're welcome to give this a go, I'd love to see this implemented!

[2017-10-04 14:51] johnkennedy9147 commented on #675
thanks @Bouncey @systimotic

[2017-10-04 15:32] systimotic commented on #670
Good catch once again @nebrelbug! Those PR's are a good start. I've opened a big PR that removes a lot of duplicate articles in the HTML section (#703), including the `html-img-tag` article, so I'm closing #680.

The others still need to be fixed, though. Can you make all the changes (including moving the content to the right article) on one branch and create a big PR that does the whole thing at

[2017-10-04 15:38] systimotic commented on #697
@invinciblycool Good point!

Whether we want to stick with this ordering depends on what the goal of the Guide is. As I understood it, the Guide is meant as reference material, not as a guided walk-through on how to learn a subject (that's what the main curriculum is for).

For reference material, I think alphabetical ordering makes sense. That said, we could make this easier by grouping things be

[2017-10-04 15:39] dhanushuUzumaki commented on #477
@systimotic Raise a PR for this #704.

[2017-10-04 15:43] dhanushuUzumaki commented on #206
@systimotic  Thanks, I'll pick it right away.

[2017-10-04 15:44] systimotic commented on #206
@dhanushuUzumaki Awesome! Keep us updated 🙂

[2017-10-04 16:37] invinciblycool commented on #697
Yeah, I hope we will arrive at a conclusion which improves the navigation inside the guide.

[2017-10-04 16:49] #675 closed

[2017-10-04 17:40] dhanushuUzumaki commented on #206
@systimotic Raised a PR for this #710

[2017-10-04 22:00] Ethan-Arrowood commented on #693
@ChrisMcNulty91 if you need help I can give you a hand 👍

[2017-10-05 00:24] erictleung commented on #697
@invinciblycool @systimotic I agree on the point to reflect on the purpose of the Guide. I agree that for now, it is more of a reference base rather than a sequential, linear guide to all things. I imagine the guides being non-linear like Wikipedia. In all, I think the Guide should be a complement to learning from another more linear tutorials and learning material.

[2017-10-05 06:07] invinciblycool commented on #697
@erictleung I agree with considering Guide as a reference over a sequential guide to things.
But still as @systimotic said, we could still group articles.

[2017-10-05 08:03] pgrzesik commented on #526
hey @pszalanski - are you interested in writing this article ? If not, I'd gladly do it
Regards

[2017-10-05 08:07] systimotic commented on #697
I'm glad we agree on this! I think we've come to a conclusion on the original subject of the issue, alphabetical ordering issue is the right choice. Because of that, I'm closing this issue.

Grouping articles is an ongoing process. Feel free to submit PR's or create issues about things that need to be grouped.

Happy coding!

[2017-10-05 08:07] #697 closed

[2017-10-05 08:19] systimotic commented on #560
@anku255 Hi! Were you able to get it to work using the instructions from the link?

[2017-10-05 08:27] pszalanski commented on #526
Yes, please go ahead and write it.

[2017-10-05 14:28] BitYog commented on #615
@systimotic @invinciblycool @dhanushuUzumaki Created a new PR - #733 to fix this issue. Need reviews, so that there are no random additions or deletion. Let's finally make some progress here.

[2017-10-05 16:36] dhanushuUzumaki commented on #477
@systimotic @texas2010 Create a new PR #734 .

[2017-10-05 20:08] palingheorghe commented on #477
@systimotic @Bouncey shouldn't we change the README.md file so we wouldn't encounter issues like this one? Right now the README is guiding new contributors to write their titles like all these initial ones we now changed.
![extract from README.md](https://screenshots.firefox.com/zDRGZGyx0ix0QaN4/github.com)

[2017-10-05 20:24] systimotic commented on #477
@palingheorghe I agree. I think that should be handled through https://github.com/freeCodeCamp/guides/issues/659. It's still waiting for a few more responses.

[2017-10-06 01:40] dhcodes commented on #492
I agree with both of you. Anyone is welcome to make the change to the readme or I will at some point tomorrow or the next day.

[2017-10-06 02:54] #362 closed

[2017-10-06 02:59] #330 closed

[2017-10-06 11:01] siderio2 commented on #670
Looks like this is affordable to me (almost totally newbie), so I would gladly try and submit a PR if you want.

[2017-10-06 15:18] #538 closed

[2017-10-06 15:32] systimotic commented on #367
Thanks for finding and fixing these @shovanch! I found a few more articles that have the same issue (or something that seems similar):
- https://guide.freecodecamp.org/javascript/standard-objects/array/array-prototype-lastindexof (MSDN link)
- https://guide.freecodecamp.org/javascript/standard-objects/string/string-fromcharcode
- https://guide.freecodecamp.org/javascript/standard-objects/string/st

[2017-10-06 15:35] systimotic commented on #670
Hi @siderio2! As @nebrelbug already started on this previously, we'll wait a little bit for their response on this particular issue. There are still plenty of other things to be done on the Guide though, your contribution there would be much appreciated! May I suggest https://github.com/freeCodeCamp/guides/issues/302, https://github.com/freeCodeCamp/guides/issues/319 or https://github.com/freeCode

[2017-10-06 15:41] dhanushuUzumaki commented on #206
@Bouncey @systimotic Raised a new PR #751

[2017-10-06 15:47] dhanushuUzumaki opened #752 "Pre-commit normalisation changes files"
While committing, the pre-commit script changes a lot existing, untouched files and leaves them unstaged.

<img width="1280" alt="screen shot 2017-10-06 at 9 16 49 pm" src="https://user-images.githubusercontent.com/14927280/31286416-b2007216-aadb-11e7-870d-48447048fa2a.png">

[2017-10-06 17:01] HKuz commented on #659
I really like how DevDocs handles the search results - either an icon or the word (as @johnkennedy9147 's example uses) would be an elegant solution.

I can give some backstory for the README. When the Guide was coming together this summer, we were looking at the top search results for popular queries (like if I searched 'HTML lists', what came up), and modeled our example titles off those results

[2017-10-06 17:06] siderio2 commented on #670
Sure, I'm already looking at those, and if @nebrelbug doesn't come around in the next days, I'll be ready to take over it.

[2017-10-06 20:52] mabuyo commented on #367
I can fix the 4 articles you listed @systimotic if no one else is working on it. I'll do it in a single PR as well.

[2017-10-06 20:59] systimotic commented on #670
@siderio2 Awesome, thanks!

[2017-10-06 21:09] systimotic commented on #367
@mabuyo That would be great!

[2017-10-06 22:20] systimotic commented on #612
@johnkennedy9147 I'm not sure. I'd like to avoid sections that have a few articles. Maybe the best way to go about this is adding it to misc until we have enough content to create a new section for this.

[2017-10-07 02:38] nebrelbug commented on #670
I just created the pull request.

[2017-10-07 02:43] nebrelbug commented on #670
Thank you so much for your help!

[2017-10-07 17:57] mabuyo commented on #319
I took a shot at doing this. To clarify: we want this [article](https://guide.freecodecamp.org/miscellaneous/accessibility-basics) to be a top-level article under a new section called "Accessibility". Took a screenshot of what I did:

<img width="1243" alt="screen shot 2017-10-07 at 1 55 09 pm" src="https://user-images.githubusercontent.com/6900407/31310510-44b3fb4c-ab67-11e7-8609-b05b717abbdc.png

[2017-10-07 18:07] ChrisMcNulty91 commented on #693
@systimotic @Bouncey I've added the plugin is there anything particular I can test to make sure it's working

[2017-10-07 18:54] mabuyo commented on #319
Just checked PRs, looks like this was acknowledged in #775!

[2017-10-07 21:54] QuincyLarson commented on #659
@davcri Yes - I am a huge fan of DevDocs and I've asked its creator for advice on the Guide in the past. If we can find a nice svg image, we could use that alongside the heading - just like on DevDocs.

We could then use this in search as well as in the side navigation. That said, we should continue to use the breadcrumbs on the articles and in the search results, as they are unambiguous. I notice

[2017-10-07 21:58] systimotic commented on #693
@ChrisMcNulty91 Nice work!

`src/pages/bootstrap/bootstrap-buttons/index.md` has a link at the end that is very close to a working relative link. Remove `/articles` from that link, run `yarn run dev` and make sure the page does not reload when you click that relative link.

If this is working, we can change some of the links that link to the full `https://guide.freecodecamp.org/...` path to relati

[2017-10-07 22:40] systimotic commented on #299
We reported it, but it hasn't gotten any attention yet.

[2017-10-07 23:21] ChrisMcNulty91 commented on #693
@systimotic I'll get on that. So if I make the links to `https://guide.freecodecamp.org/... `Should they still open an new page or should it open in the same page

[2017-10-08 03:28] Bouncey commented on #752
@dhanushuUzumaki thanks for raising an issue about this, believe it or not, this was intended behaviour,  it I don't think it is working out as I imagined. It just causes confusion.

@systimotic Perhaps we should remove normalise from the pre-commit script and instead have a version of camperbot normalise every day and commit changes if necessary? My experiments with Travis doing it for every PR w

[2017-10-08 03:55] Bouncey commented on #693
@ChrisMcNulty91 it should be as is you were clicking a link in the navigation

[2017-10-08 04:31] dhanushuUzumaki commented on #752
@Bouncey Thanks for letting me know. And once the discussion is complete, if possible I would like to give this a try.

[2017-10-08 06:24] BitYog commented on #615
@systimotic #733 The changes you requested are done. I have added the relevant commit.

[2017-10-08 15:51] nsuchy opened #796 "Cannot install guides nor run guides using yarn"
When attempting to install and run the guides project with yarn using the instructions provided at https://github.com/freeCodeCamp/guides#running-the-guide-locally-on-your-own-computer I get an error. The error output is as followed.

**"yarn install" output:**
[code]

**"yarn run dev" output:**
[code]

[2017-10-08 19:59] systimotic commented on #796
We discussed this on Gitter. We found that running the following commands solved problem:
[code]
The main error is this line:

I couldn't find a lot of information about this. The only related thing I could find was this issue: https://github.com/yarnpkg/yarn/issues/3825. It suggests it was a cache issue, which would be possible given the things we saw (removing existing modules was required to ma

[2017-10-09 09:27] davcri commented on #659
What about keeping the HTML title with the `<language> <artcile>` structure but removing it from
the article's header ?
Example:
[code]

The HTML title should work well for SEO and, at the same time, we can remove some clutter from the sidebar.

[2017-10-09 14:24] arcdev1 commented on #752
@Bouncey... for contributors, do you want us to check-in these changes prior to submitting a PR?

[2017-10-09 14:41] systimotic commented on #752
@Bouncey After https://github.com/freeCodeCamp/guides/pull/805, I'm fairly confident I could create a plugin that would remove the need for the link normalisation.
The stub normalisation should only need to happen in certain cases. We could document this and make sure all reviewers are aware of when it needs to be run.
The linter will already warn if a stub is missing, we'll need to document movin

[2017-10-09 18:53] arhillis commented on #474
Is there anyway that articles can get added to the main repository more quickly so that we know which articles have already been modified and which ones are still stubs? I think that would cut down on the duplicates.

[2017-10-11 20:40] systimotic commented on #752
Update: I won't have be able to make time to create that plugin any time soon. It also turned out to be a lot more complicated than the other one 😅 I don't feel like I've explored all options yet, but I won't be able to do that soon. Feel free to move ahead as you consider appropriate.

[2017-10-11 20:42] systimotic commented on #560
This has been inactive for a while, so I'm closing this. If this is still an issue for anybody, please leave a comment with more information and we'll reopen the issue.

Happy coding!

[2017-10-11 20:42] #560 closed

[2017-10-12 09:51] bharadwajpenydala opened #849 "Need info on creating new folder in pages?"
Hi,

Tried to create a new folder(topic) under pages folder, cause of no write access, build failed. Is there a work around for this?

[2017-10-12 18:07] dhcodes commented on #849
Did you add the folder locally? It should work if you:
a) make a new branch
b) make a new directory in `src/pages`
c) add an `index.md` file with a properly formatted title (like the others)

Then you can make a PR to against the master with the new directory.

[2017-10-12 18:23] bharadwajpenydala commented on #849
No, I was looking to add directory over the remote. Thanks for the reply though, I'll do it locally.

[2017-10-12 18:47] texas2010 commented on #849
sorry about I closed PR. it is better to do that on the local. then send PR. thanks

[2017-10-12 18:52] bharadwajpenydala commented on #849
It's okay @texas2010  :) I would have done the same if I were you :)

[2017-10-13 07:14] ChaituVR opened #870 "Fix Typos"
Good for Beginners

- [ ] src/pages/agile/acceptance-criteria.md
 **Line 11:** The Acceptance Criteria will be the **beginnnings**

- [ ]  src/pages/algorithms/binary-search-trees/index.md
 **Line 19:** **### Relavant** videos on freeCodeCamp YouTube channel
  should be **Relevant**

- [ ]  src/pages/algorithms/binary-search-trees/index.md
 **Line 15:** For each node, its left **descendents** are

[2017-10-13 08:25] MattLawsonn commented on #870
I've just created a PR for all of these, should be good to go now

[2017-10-13 14:37] datruq opened #874 "Git broken link"
Hi there,

I was browsing the GIT guide, and I found a broken link
![image](https://user-images.githubusercontent.com/17466312/31551289-b3e812e6-aff9-11e7-864e-15ab96a9ed37.png)

It's redirecting to https://guide.freecodecamp.org/git/git-merge/index.md
404 Page not found

Cheers!

[2017-10-13 14:58] HKuz commented on #874
Hi @datruq - thanks for pointing this out! This (and a couple other broken links in the Git section) should be fixed in pending PR #633. I'll update that PR message to close this issue once it's merged. Thanks 🎉

[2017-10-13 22:57] QuincyLarson commented on #659
@davcri yes - that's a good idea. We don't want clutter in the sidebar. Can you figure out a way to add the parent categories dynamically to each page's meta information?

[2017-10-14 16:49] davcri commented on #659
With _"dynamically"_ do you mean something like the following example ?

---

- **index.md**:
[code]
- **generated HTML page**:
[code]

[2017-10-14 21:40] QuincyLarson commented on #659
@davcri Yes - like that, where it's dynamically pulling in the parent categories and article title, so that it doesn't need to be hard-coded on every page. It should be part of the meta data and the title.

We have a breadcrumb at the top of the view, so it should be clear that "Docs Access Modifiers" are related to Java. We just need to make the metadata correct for search engines.

[2017-10-15 02:24] dhcodes commented on #492
Revisiting this, I now think we should use the following:

[code]

These feel more like 'natural language' links to me. I'm probably making this more important than it needs to be but having worked through some PRs, it saves space/time to combine the link with the description of what it is, imho.

[2017-10-15 03:45] svinkle opened #897 "Fixing some a11y, need React guidance"
Hi there! I'm attempting to fix up some accessibility issues with the site itself and need some help with understanding this React code. Specifically, the elements which render the side nav panels.

I've narrowed it down to [`renderHeader()`](https://github.com/freeCodeCamp/guides/blob/master/src/LayoutComponents/nav/NavPanel.jsx#L76) where this issue seems to be. This method returns a `div` with

[2017-10-15 15:00] Ethan-Arrowood commented on #897
HI @svinkle could you inspect element on the exact elements you are referencing and post a screenshot here please? This will help me as I traverse the React structure.

[2017-10-15 15:07] svinkle commented on #897
Ah yes, that would have beeb helpful.

Here you go, @Ethan-Arrowood:

![screen shot 2017-10-15 at 11 06 49 am](https://user-images.githubusercontent.com/1392632/31586001-0c046d80-b199-11e7-91aa-7344577f411f.png)

[2017-10-15 15:18] davcri commented on #659
@QuincyLarson got it, thanks for clarifying! Unfortunately I don't know React and I can't implement it in short times, but with the help of other campers I think that it will be totally doable 😄 Maybe we can open another issue to discuss this.

About the main issue: I think that we all agree about using a title that doesn't repeat any string contained in the parent folder.
If this is the situation

[2017-10-15 17:28] Ethan-Arrowood commented on #897
The NavPanel is made up of individual React-Bootstrap [Panel](https://react-bootstrap.github.io/components.html#panels) elements. The <a> element is created by this component. I'd recommend investigating the [Panel](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Panel.js) source code. Try to find the parameter the <Panel /> component passes to the <a> href property. Once you fi

[2017-10-15 17:49] svinkle commented on #897
Got it! Good pointers, @Ethan-Arrowood. Thanks!

[2017-10-15 17:50] Ethan-Arrowood commented on #897
You should keep this issue open, edit the code, and submit a PR and reference this issue. Once your PR is merged we can close the issue. When you do submit a PR let me know I'd be happy to review it for you 👍

[2017-10-15 17:51] svinkle commented on #897
Ah yes, good flow there. Will do.

[2017-10-17 03:22] Radu-Raicea opened #941 "Adding DevOps section"
We should add a DevOps section to teach people about automation and pushing to production.

[2017-10-17 03:26] Radu-Raicea commented on #941
Suggested in PR #942

[2017-10-19 00:44] l34kr commented on #615
Would like to help on this too if there's any more help needed :) But better wait for the changes of @BitYog getting merged =D

[2017-10-19 02:04] LucidComplex opened #1060 "Remove vim section"
Is having a vim section still under the scope of the freeCodeCamp guide? I feel like tools such as text editors shouldn't be part of a begginer's guide to coding.

[2017-10-19 02:11] LucidComplex commented on #1060
Ah, sorry. I didn't review the issues beforehand and it seems an issue was up to **add** the vim section. No reason taking it down now!

[2017-10-19 02:11] #1060 closed

[2017-10-19 08:47] QuincyLarson opened #1297 "Dynamic meta data for Twitter and Facebook cards"
Currently Guide articles don't get their own cards on Twitter or Facebook.

We want to turn raw URLs like this:

![quincy_larson_on_twitter___test_article_https___t_co_acac3vne2i_](https://user-images.githubusercontent.com/985197/31762147-ed0b530a-b47f-11e7-9671-161b3ec3ca17.png)

Into nice looking cards like this:

![quincy_larson_on_twitter___test_https___t_co_a4uwqx6gfz_](https://user-images.gi

[2017-10-19 11:34] gautamkvashisht opened #1388 "Getting Travis CI build error while making pull request"
When I make a pull request, I get Travis CI build error and build fails. How to solve this issue ?
This is the pull request I have made :-
https://github.com/freeCodeCamp/guides/pull/1413

[2017-10-19 13:43] AugustasV commented on #874
I guess i fixed this page issue. Try to make PR.

[2017-10-19 16:25] johnkennedy9147 commented on #1388
@gautamkvashisht as you spotted the first commit build failed due to file naming, you fixed this for your second commit but it also failed as the articles are missing the frontmatter.  I see you submitted a new PR #1441 - you can make the amendments and then update that PR.

The frontmatter provides the article title in the sidenav, example frontmatter from Go article:
[code]

add the appropriate

[2017-10-19 16:27] gautamkvashisht commented on #1388
@johnkennedy9147 Thanks for your help ! :+1:

[2017-10-19 16:42] texas2010 commented on #1388
@johnkennedy9147 thank you for help him.

[2017-10-19 16:42] #1388 closed

[2017-10-19 22:07] Juell1635 opened #1815 "UI Opensource"

[2017-10-19 22:07] texas2010 commented on #1815
@Juell1635 ?

[2017-10-19 23:03] jamesjpk123 commented on #941
The issue can be closed, as #942 is merged.

[2017-10-19 23:04] #941 closed

[2017-10-19 23:06] jamesjpk123 opened #1853 "We should have a PR title guideline."
I was thinking, to avoid potential conflicting PRs on the same subject, that every "content" PR should have the full article title in the name of the PR. If there is a PR that changes an article name, the PR should include both the new and the proposed name. What does everyone else think?

[2017-10-19 23:08] texas2010 commented on #1853
yeah, the problem is many people not pay attention and make PR for that. we have this problem since few week ago. so I don't have any idea for solving this problem.

[2017-10-19 23:08] texas2010 commented on #1853
opps. i dont meant to close this.

[2017-10-20 00:01] jamesjpk123 commented on #849
@texas2010 + @bharadwajpenydala is this issue resolved?

[2017-10-20 00:10] texas2010 commented on #849
it seems he didn't make PR but I close this issue because it is not guide repo issue.

thanks

[2017-10-20 00:10] #849 closed

[2017-10-20 04:14] jjpatel361 opened #1996 "Best Practices Guide"
I am interested in writing best practices for REST API.  Does it go in `software-engineering` or `software-engineering/design-patterns`?

[2017-10-20 07:37] davcri commented on #1853
@jamesjpk123 good idea! I think that in general we should clarify this in the README in order to have cleaner contributions (or some guidelines for reviewers).

We can add something like:
[code]

What do you think ?

[2017-10-20 07:44] freebird1195 commented on #65
Has anybody started working on the AMP version? I am up for it. Anyone wish to collaborate?

[2017-10-20 10:03] max80713 commented on #232
I want to give it a try!

[2017-10-20 11:49] amandeepmittal commented on #1996
IMO it could do better in `design-patterns`.

[2017-10-20 11:59] amandeepmittal opened #2160 "Broken npm Wikipedia page link"
Screenshot:
![screen shot 2017-10-20 at 5 28 33 pm](https://user-images.githubusercontent.com/10234615/31819843-313d63dc-b5bc-11e7-8af0-b855de46a0e1.png)

[2017-10-20 12:10] amandeepmittal opened #2170 "Links not working on Guide to Back-end Projects!"
Page: `https://guide.freecodecamp.org/miscellaneous/guides-to-back-end-projects`
![screen shot 2017-10-20 at 5 38 59 pm 2](https://user-images.githubusercontent.com/10234615/31820171-afce654c-b5bd-11e7-886d-f97ad4ee8e17.png)

[2017-10-20 13:45] davcri commented on #1996
Best practices are not design patters. When I speak about design patterns I think something like _singleton_, _observer_, and other Gangs of Four design patterns.

@jjpatel361 It's hard to tell, it depends on the content of the article.

[2017-10-20 14:16] HKuz commented on #492
Okay - we should make a final call on this - how about combining best of both worlds and taking @erictleung 's suggestion to keep the list format, but use @dhcodes 's combo of the link text with the description. So basically:

#### More Information:

- [History of Rust](https://en.wikipedia.org/wiki/Rust_(programming_language)#History)
- [Rust Programming Language](https://www.rust-lang.org/en-US/

[2017-10-20 14:26] davcri opened #2231 "Reviewers guide"
We should agree on some guidelines in order to have consistent merging/closing process for the huge number of pull requests that are arriving.

I'll gathered some tips found in the gitter channel _fcc/contributors_.

**UPDATE**: [please refer to this PR](https://github.com/freeCodeCamp/guides/pull/2976) where we can add commit to update this reviewers' guide!

---

OLD message content:
I know that

[2017-10-20 14:28] Ethan-Arrowood commented on #897
Hows this going?

[2017-10-20 14:32] johnkennedy9147 commented on #2231
Once agreed we could make a reviewers guide doc and put it in the TLD and make reading it a prerequisite to being granted write access.

[2017-10-20 14:36] johnkennedy9147 commented on #2231
@systimotic @Bouncey @QuincyLarson @HKuz @texas2010 @dhcodes your input would be good here, especially for newbies like myself

[2017-10-20 14:54] svinkle commented on #897
@Ethan-Arrowood Don't worry I haven't forgotten about you! I need to break up my work into smaller PRs then I'll send them over for review. I have time coming up this weekend/early next week so expect some things then!

[2017-10-20 14:59] amandeepmittal commented on #1996
@jjpatel361 Instead of best practices, why don't you go for guide of REST Apis irrespective of programming languages.

[2017-10-20 15:00] johnkennedy9147 commented on #2231
maybe include a section on useful filters etc that make life easier
for example the below clears out a lot of PRs that I wouldnt be dealing with and sorts oldest first
`is:pr is:open sort:updated-asc -label:platform -label:enhancement -label:invalid -label:"changes requested" `

[2017-10-20 16:08] davcri commented on #659
I created a PR where we can discuss how to improve the README: https://github.com/freeCodeCamp/guides/pull/2276

[2017-10-20 16:31] #870 closed

[2017-10-20 16:52] jamesjpk123 commented on #1853
That sounds like a really good idea @davcri!

[2017-10-20 17:24] blakeathomas opened #2319 "New Section"
I was thinking would it be helpful to open an IDE section. It could contain key features, snapshots so that readers could see the layout w/o installing it and other things. If so I would be willing to create the folder and a few different pages w/ stubs.

[2017-10-20 19:42] srk97 commented on #2170
657ed99078fcfd7db20e7579b850fcd24c1a83bc

[2017-10-20 19:43] srk97 commented on #2170
657ed99078fcfd7db20e7579b850fcd24c1a83bc

[2017-10-20 19:44] srk97 commented on #2170
Links to Socket I/O and JS-IsLoggedInAsync could not be found.

[2017-10-20 19:45] srk97 commented on #2170
#2372

[2017-10-21 00:34] LulaV14 commented on #1297
Hi @QuincyLarson,  may I help with this?

[2017-10-21 01:48] texas2010 commented on #2160
close this as solved

[2017-10-21 01:48] #2160 closed

[2017-10-21 02:49] dhcodes commented on #492
@HKuz do you want to make the PR to finish out your Hacktoberfest quest?

[2017-10-21 02:54] #874 closed

[2017-10-21 03:25] dhcodes opened #2503 "Add citation suggestion to README.md"
I worry some of the new content directly plagiarizes other sites. IMHO, we should work on a recommended way to cite other sources and discourage unattributed copying/pasting.

Thoughts?

[2017-10-21 03:36] bryanchapel commented on #2503
Haha! I tweeted Quincy about this just yesterday and already put in a pull request for on particular article I found. This is how I did it: https://github.com/freeCodeCamp/guides/pull/2337/files?short_path=230a905#diff-230a9052be3f27a5607aea2debfbf534

[2017-10-21 03:38] dhcodes commented on #2503
I like it @bryanchapel; Good work! We need to write it into the README assuming others agree. Would you like to do that once everyone has a chance to comment?

[2017-10-21 03:40] bryanchapel commented on #2503
Can do!

[2017-10-21 03:45] amandeepmittal commented on #2170
My quesrion is do the links exist or not. If not we can close this issue and don't bother.

[2017-10-21 04:57] srk97 commented on #2170
@amandeepmittal look at the PR. There are links to all the articles except JS-IsLoggedInAsync as I said before.

[2017-10-21 04:59] amandeepmittal commented on #2170
@srk97 Okay. That sums it up. Earlier it was not clear to me about what you just said. Let's close this issue if the PR is already in the process.

[2017-10-21 04:59] #2170 closed

[2017-10-21 05:05] bryanchapel commented on #2503
Since I'm kind of new to this, about how long should you wait before making a decision on an issue? I made a change to the README and referenced this issue in the commit above to help the discussion along. Let me know how it looks. :)

[2017-10-21 06:24] davcri commented on #2503
I agree whit all you said!

Only one note: we should also pay attention to license and term of service. For example someone opened a pull request with copy pasted text from Quora that has [this long ToS](https://www.quora.com/about/tos). I don't know if this is legal, but one thing is sure: this is not ethical!

[2017-10-21 06:34] zk433 commented on #2231
@davcri , great overview, thank you!

Re plagiarism. -I use [this checker](https://www.quetext.com/) to evaluate the extent to which someone has copy pasted from another source.

[2017-10-21 10:18] davcri commented on #2503
I found another this PR [Algorithm: Add AVL Tree Article](https://github.com/freeCodeCamp/guides/pull/868/files?short_path=5803e80#diff-5803e80369ec64a11573f342ce46bdff) with content copied from [tutorialspoint](https://www.tutorialspoint.com/data_structures_algorithms/avl_tree_algorithm.htm).

It's a sad situation and it's difficult to not discourage contributors, but we are trying to create a co

[2017-10-21 10:37] davcri commented on #2231
Nice site @zk433 ;) At the moment I just copy some paragraph from the article and search for it through DuckDuckGo (or other search engines).

[2017-10-21 13:14] lvcoulter commented on #2503
Not sure if this conversation is open, but I'm throwing in my thoughts. I wrote my first article last night. I've also been an English teacher in my last incarnation, so I struggled with how to write concise content without it sounding exactly like my favorite resources. I opened several sources on the same topic and read them all, then closed them and wrote all my thoughts down without looking at

[2017-10-21 15:02] Ethan-Arrowood commented on #2503
college student perspective: My university classes are all governed by very strict no-plagiarism rules. I think the guides should reflect similar values as other content creators work hard to produce their work and if we are not giving them proper citation then that is extremely unfair.

We could ask everyone to use something like APA citations (its already a scientific standard). This would not o

[2017-10-21 15:43] bryanchapel commented on #2503
@Ethan-Arrowood Agreed. Didn't even think of the SEO benefits of this, haha!

@lvcoulter I think you're highlighting the difference between paraphrasing what you've researched and learned, and directly quoting. I think that's totally appropriate. My only suggestion would be to collect some of those references and stick them in a `### Other Resources` section near the end of the doc so readers can

[2017-10-21 15:55] bryanchapel commented on #2503
On APA vs MLA formatting for citations, I agree that we could use APA since it's typically the scientific standard, I do however like that the MLA specifies a "Date Accessed" for the citation. I think that's really helpful for possibly spotting references that may have changed or gone out of date since a topic was added to the guide, and we can amend/update these as needed. Maybe we could do a bit

[2017-10-21 16:19] blulion opened #2736 "Insertion sort code is not displaying properly"
I've added an article about insertion sort with algorithm and code example in Swift language. But the code example is not displaying the complete code. `while` conditions were missing. when i try to edit the code, i could see the original code. I think there is some issue with formatting. How can i correct it.

https://guide.freecodecamp.org/algorithms/sorting-algorithms/insertion-sort

https://gi

[2017-10-21 16:27] Glazy opened #2742 "Put an emphasis on good PR naming."
There are too many PRs named `Update index.md` and it is getting a little bit out of control. For someone who is looking to contribute there is absolutely no way to tell whether a PR is already in the works and it can be off-putting.

I think the solution to this would be to just auto-close any that don't make sense or have just been left as the default.

I did notice an issue already open about t

[2017-10-21 17:14] Glazy commented on #2319
Hey @blakeathomas, I agree it would be really helpful to have a section on this.

Having a consistent and well formatted set of features, screenshots and quirks for every mainstream IDE would be great.

[2017-10-21 17:56] davcri commented on #1853
@Glazy made a good point in #2742. Given the number of PR named `Updated index.md`  we could agree on:
- gently closing (temporary) these PR
or
- adding the label "change requested"

In this way reviewers can easily filter these PR. What do you think guys ?

[2017-10-21 17:58] davcri commented on #2742
Can we discuss this in #1853 ?

[2017-10-21 18:16] davcri commented on #2503
@QuincyLarson @Bouncey @HKuz @Timo (I'm tagging top contributors, they are more experienced than me): can you please give feedback ? I think this is a delicate subject.

[2017-10-21 21:14] dhcodes commented on #2503
I think direct copy/paste should generally be discouraged unless directly quoted and integral to the article. Paraphrasing, which is what @lvcoulter is doing, it a-okay by me assuming we cite sources. As mentioned, I like @bryanchapel's approach as it's similar to Wikipedia. We could even model wikipedia's citation format if we wanted. I'm not sure it matters truly if it's APA or MLA as long as we

[2017-10-21 21:19] louisheath commented on #696
Hi all, I'm very new to PRs and Hacktoberfest.

I submitted two PRs to the guide, I can spot them on my profile and also on the repo, but when I hit 'Pull Requests' in the nav bar only one of them is visible. Is this just a bug or am I doing something wrong? Thanks!

![prconfusion](https://user-images.githubusercontent.com/28117240/31855945-aa28e464-b6ad-11e7-8491-fd28624f0dec.png)

[2017-10-21 21:22] HKuz commented on #492
@dhcodes - much appreciated and thank you! But @erictleung has an open PR for the README over in #621 - I say we just include this change in that PR for efficiency's sake 😄 I'll have to think of a good article to write to earn my free t-shirt... ✏️ ✅ 💥 👕

[2017-10-21 21:30] HKuz commented on #696
Hi @louisheath - when I sort PRs by `is:open is:pr author:louisheath` I see two open PRs ( #2784 and #2778), so looks like they are okay on our end! Sometimes GitHub can have a lag, and you just need to refresh it, also, with all the activity (PRs are pouring in), it may just be a little slow to show everything. Thanks for contributing! 🎉

[2017-10-21 23:29] Glazy commented on #2742
Sure thing @davcri!

[2017-10-21 23:30] #2742 closed

[2017-10-22 04:28] QuincyLarson commented on #2503
@dhcodes Sorry I'm so late to this thread.

Here are my thoughts on this: by forcing contributors to abide by a style guide, we're making it harder to contribute. Such a style guide should instead by enforced through an automated script. Just like we use ESLint for our JavaScript, we should use a style checker for our citations.

And we should tackle plagiarism the same way: by running a build scr

[2017-10-22 04:42] QuincyLarson commented on #2503
@davcri Thanks for spotting that case of clear plagiarism. I've closed that contributor's pull request and also reverted another PR from them that I spotted which had plagiarism. I gave him a stern one-time warning (the notion of plagiarism is less familiar in some parts of the world and I gave him the benefit of the doubt).

If we spot people plagiarizing, we should give them a one-time warning t

[2017-10-22 04:49] QuincyLarson commented on #2231
@davcri This is great! We should add this to the Readme under a heading "How We Review Pull Requests"

One note - instead of differentiating between copyrighted and creative commons text, we should just say "If you quote text - or even paraphrase it - you should cite the source."

We can set up a CI task to check for plagiarism, but for now, I think @zk433's tool is a great resource for manually c

[2017-10-22 04:51] Ethan-Arrowood commented on #2503
I like the idea of a plagiarism-checker. The python one you linked is now broken due to the Google API it was using being deprecated. Furthermore, it would be easier to run a Node script through the Travis Build anyways. . . So I propose we add a Plagiarism-Checker Node.JS script as a down-the-road feature. However, at the moment I am way too busy to start this project. I have a lot on my plate in

[2017-10-22 06:03] erictleung commented on #2231
At least in the short term, while we deal with the near 1000 PRs (!!!), we should give some guidelines on how to deal with these duplicates.

Today, I went looked through PRs that were least recently updated (a built-in sort in GitHub) and then started there. With that PR, I searched through all the PRs for any other issues with similar content (e.g. today I found like 3 PRs modifying the same cry

[2017-10-22 06:14] jjpatel361 commented on #1996
Thanks, folks. Ended up creating a separate folder `rest-api`. This is my last commit for **hacktoberfest**.
Closing this issue now!

[2017-10-22 06:14] #1996 closed

[2017-10-22 07:26] sanatankc opened #2931 "Fix navigations for better accessibility"
That's how header and navbar are for now
![now](https://user-images.githubusercontent.com/20373641/31859321-dcfb2b16-b727-11e7-8982-cdc469fedae8.gif)
That's how I think they ideally should be
![ideal](https://user-images.githubusercontent.com/20373641/31859339-006162aa-b728-11e7-81b1-8cba3d297f4b.gif)

I would love to help in this.

[2017-10-22 09:59] johnkennedy9147 commented on #2736
@blulion I think its because in your code example you haven't specified a language so things like `<INT>` and `<array.count  ... while (i >`are being treated as html tags and not displayed.

Changing line 100 to:

[code]

should fix.

[2017-10-22 10:17] tanushree57 commented on #696
Hi

I'm not sure how The Travis CI build works but my files failed the checks (it says "The command "node bin/createNavData" exited with 1. Done. Your build exited with 1.") and I'm not sure why or what to do to fix any errors on my end. Also they do show up as my contributions so is that enough or do they have to pass for them to be counted? Can you help me out here?

Thanks.

[2017-10-22 11:06] badasteroid commented on #310
I'll be happy to help the translation or to create a team that could do it for italian language :)

[2017-10-22 12:46] davcri commented on #2231
I prepared a PR to improve the README: https://github.com/freeCodeCamp/guides/pull/2976. It's mostly taken from the first post of this issue. Feel free to share your thoughts! The more the comments, the best the guidelines will be.

[2017-10-22 14:40] Ankk98 commented on #2931
i would like to help

[2017-10-22 16:48] Ankk98 commented on #2931
if we change the .navbar properties and add fixed position attribute, we face the issue of div on wrong containers.
They are overlapping.
div of navbar and other part of page should be under the same div according to me.
But i guess this is react js and i am not familiar with it :/ .

[2017-10-22 17:03] bryanchapel commented on #2503
I agree about the checker script as well. There is a Node version by Copyleaks (https://www.npmjs.com/package/plagiarism-checker) that we might be able to use. I also think that writing one from scratch might not be that hard.

You could use the request-promise and cheerio libraries to send chunks of the committed text to Google, then parse the first 10 or so results and check the text chunk again

[2017-10-22 18:39] soueuls commented on #1297
I am interested to work on this with @LulaV14 if she is in!

I made some research and twitter partially support the OpenGraph protocol as a fallback (we should favor it over the native twitter protocol this way we get twitter/facebook without too much code duplication.

[code]
As you can see the two first meta tags can be set statically.

- twitter:creator we could allow the writer to add an autho

[2017-10-23 04:35] BitYog commented on #615
@invinciblycool @dhanushuUzumaki I’m closing this issue. If you still want to contribute, you can copy my changes and open a new PR. Just credit me somewhere in the comments.
@l34kr Thanks, but my changes aren’t getting merged. Can you help with #612?

[2017-10-23 04:35] #615 closed

[2017-10-23 11:17] davcri opened #3315 "Travis Build: add a plagiarism check"
As discussed in https://github.com/freeCodeCamp/guides/issues/2503#issuecomment-338450570, we should add a plagiarism check at build time. Options that can be evaluated:

- https://www.npmjs.com/package/plagiarism-checker
- [Plagiarism Checker](https://github.com/architshukla/Plagiarism-Checker) (seems deprecated, but there seems to be alternatives: https://github.com/architshukla/Plagiarism-Check

[2017-10-23 11:18] davcri commented on #2503
@bryanchapel did you already make a PR with your updated README ? If not, can you make it ? In this way we can discuss it (for me it's almost all right, I have only a doubt in using HTML tags vs markdown).

I vote for writing about the Honesty Policy in both the README and the CONTRIBUTING files.

I also opened a new issue to discusse about adding a plagiarism check inside the Travis Build https:/

[2017-10-23 14:22] artismarti commented on #615
@BitYog I was thinking of writing a quick guide on FontAwesome - based on #612.
Where shall I write this?

[2017-10-23 15:29] bryanchapel commented on #2503
Just made the PR. #3371. This is just for the README. Didn't do anything for CONTRIBUTING.

[2017-10-23 15:53] blulion commented on #2736
@johnkennedy9147: Thank you.

[2017-10-23 15:53] #2736 closed

[2017-10-23 15:56] dhcodes commented on #2503
I added some small edits.

[2017-10-23 16:35] BitYog commented on #615
@artismarti I think the designer tools section would be the best place.

[2017-10-23 21:52] tourboijosh opened #3656 "Add tag scripts"

[2017-10-24 06:17] QuincyLarson commented on #2503
@bryanchapel @dhcodes I've merged your edits! Thanks! We should mirror this in CONTRIBUTING to make sure people see it. Then I believe we can close this issue.

[2017-10-24 06:17] QuincyLarson commented on #2503
@bryanchapel Nice find on the plagiarism checker! Yes - we would absolutely love your help implementing this.

Seeing that @Ethan-Arrowood is a bit busy at the moment, and has determined that the Python library definitely doesn't work, you're now our only hope on this.

![](https://i.imgflip.com/1y59u4.jpg)

[2017-10-24 08:41] omurbekjk opened #3988 "add counting sort algorithm"

[2017-10-24 09:22] pujanm commented on #3988
Where we have to add this algorithm?

[2017-10-24 09:30] omurbekjk commented on #3988
@pujanm You can add other algorithms [here]( https://guide.freecodecamp.org/algorithms/sorting-algorithms)
Pull request for [this](https://github.com/freeCodeCamp/guides/pull/4012)

[2017-10-24 10:02] svcastaneda opened #4035 "Fix header"
When a window gets small enough, a top and bottom border appear on the search bar. It also has no padding, which makes it seem cramped.

![image](https://user-images.githubusercontent.com/6743763/31936657-cebf74b6-b877-11e7-8b89-dda5515bc9fb.png)

![image](https://user-images.githubusercontent.com/6743763/31936716-ff00af6e-b877-11e7-8b08-238671dd7e23.png)

[2017-10-24 11:17] harishkotra commented on #3656
Tag scripts? @tourboijosh

[2017-10-24 12:27] HKuz commented on #696
Hi @tanushree57 - the build has to pass for us to merge a PR (otherwise, we break the site 😢 ). I'm not sure what that error is referring to exactly, but here are the two ways I know of that break the build:

1. You created a new folder or subfolder for your article, but didn't include an `index.md` file - every folder in `src/pages` needs an `index.md` file in it. This has happened when someone c

[2017-10-24 13:18] dynamicdebian commented on #696
I want to solve this issue

[2017-10-24 14:10] dhcodes commented on #2503
I've looked into this a bit more and assuming we use a comparison search via a search engine (google or bing), we may need to limit the test to only files changed in the PR since the free plan for Google Custom Search now limits you to 100 queries/day. I've looked for alternatives, but there aren't many--Bing also has removed their free plan.

I know Jest can run tests only on changed files, but I

[2017-10-24 14:34] carlosvigil opened #4177 "Merging similar PR"
There's 15 Python Lambda pull requests. I imagine using search, or encouraging comments/reviews could help.

#2077 #2166 #2275 #2421 #2280 #2523 #2769 #3018 #3050 #3087 #3148 #3440 #3755 #3926

Not sure what best practice is here. Curious as to how this is solved.

[2017-10-24 14:38] #4177 closed

[2017-10-24 14:42] adiparab14 opened #4180 "New Section for Software Testing"
Can a new section be created for Software Testing?

[2017-10-24 18:14] freebird1195 opened #4290 "Add Rest & Soap Api"
Add an article on Rest & Soap Api

[2017-10-24 18:28] tanushree57 commented on #696
Hi @HKuz
Firstly, **thank you** for helping out. Secondly, I had already taken care of the 1st point that you mentioned about creating an index.md file so my folders already had those. So I went onto the next point that you mentioned about there being a title.

Turns out I didn't have a title on any of my pages so I'm guessing that's why the builds failed. I've added them according to the format y

[2017-10-24 20:48] QuincyLarson commented on #65
@freebird1195 We would welcome your help with this. To my knowledge, we haven't started implementing this yet. Would you like to tackle this?

[2017-10-24 20:54] QuincyLarson commented on #659
@davcri OK - I've merged your PR.

Google still isn't picking up the hierarchy of the files, so we still need to update the meta information. Is anyone interested in helping with this?

[2017-10-24 21:02] QuincyLarson commented on #2231
@erictleung Yes - I agree that this is the best process for dealing with potential conflicts. The good news is that with articles, conflicts are usually pretty easy to address right in GitHub's editor.

Once we work through this backlog we should have significantly fewer conflicts.

[2017-10-24 21:10] blakeathomas commented on #2319
I just opened PR #4387. Hopefully it's helpful and gets merged

[2017-10-24 21:10] #2319 closed

[2017-10-24 21:15] QuincyLarson commented on #1297
@LulaV14 @soueuls Yes - we would welcome your help with this. Would the two of you be interested in pairing on this? This is a high priority.

Regarding @soueuls's questions:

- Yes - for the og:title we should incorporate the breadcrumbs: "JavaScript - Break Statement | freeCodeCamp Guide" or even "CSS - Selectors - Attribute - Class | freeCodeCamp Guide" - can you think of a way to handle arbitr

[2017-10-24 21:18] QuincyLarson commented on #2503
@dhcodes Yes - I agree. We should only test files changed in the PR.

@Ethan-Arrowood pointed out that we might want this to be part of our pre-commit step, so that we can point out possible plagiarism to the contributor before it even gets committed. Then if the contributor thinks there's a false positive, they could run the commit task again with --not-plagiarism and it would skip this step, but

[2017-10-24 22:06] Ethan-Arrowood commented on #3315
As @QuincyLarson mentioned in https://github.com/freeCodeCamp/guides/issues/2503#issuecomment-339134886, it might be worth implementing this as a precommit hook to block users from even submitting a plagiarized PR in the first place.

Then there should also be a `--not-plagiarism` flag that users could add to their commit statement to override the plagiarism checker.

We should outline in our cont

[2017-10-25 01:56] jromest opened #4517 "Add Terminal/Command Line Article"
Can we add article about terminal or command line and its basic usage?

[2017-10-25 02:56] ChaituVR commented on #3656
I am Closing this Issue for now as there is no description, Please feel free to reopen this anytime :)

[2017-10-25 02:56] #3656 closed

[2017-10-25 04:40] freebird1195 commented on #65
@QuincyLarson I am willing to work on this. Would require some help getting started though.

[2017-10-25 04:45] QuincyLarson commented on #65
@freebird1195 Sure - what help do you need? As far as I know, nobody here has experience with AMP, so I'm not sure how much help we could be, but we're definitely willing to try if you have specific questions :)

[2017-10-25 06:29] Tusharchoudhary commented on #526
@pgrzesik hey! have you been working on the article, do you need some help or should I try making the first draft?

[2017-10-25 08:34] freebird1195 commented on #65
@QuincyLarson I just tried a small AMP project to learn. I will give it a shot, hope that it comes to be something useful. I will keep asking questions on the go. :)

[2017-10-25 08:51] raisedadead opened #4639 "announcement : prevent spam contributions to the repo for hacktoberfest"
Hello,

It's been evident that many contributions to the repo are not made in the good spirit of Hacktoberfest, lots of which are either spammy or are extremely low-effort like adding and removing punctuations.

This is unfair to all of the genuine efforts that the super awesome community has done.
Luckily we have a way to be fair to the contributors.

We would be marking such contributions as `in

[2017-10-25 09:08] raisedadead commented on #4639
Quick links:

##### [Check Open Unmerged Issues after 1st October](https://github.com/freeCodeCamp/guides/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aunmerged%20is%3Aopen%20created%3A%3E2017-10-01%20)
##### [Check Closed Unmerged Issues after 1st October](https://github.com/freeCodeCamp/guides/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aunmerged%20is%3Aclosed%20created%3A%3E2017-10-01%20)

[2017-10-25 11:04] texas2010 commented on #4639
Sure. I can do that.

[2017-10-25 11:17] texas2010 commented on #4639
I meant to say I can do that in some PR. but not today.

[2017-10-25 13:36] nsuchy commented on #65
@freebird1195 Yes the guides project uses React.

[2017-10-25 13:36] HKuz commented on #4639
Thanks for formalizing this in an issue, @raisedadead - agree completely that spammy/low-effort PRs just for the t-shirt aren't fair to those who make genuine contributions. I'd add that we should mark all PRs against the old `guide-articles` repository as `invalid` as well. I know some of these were honest mistakes, but @texas2010 and I have been re-directing them to this repo, and asking them to

[2017-10-25 14:05] BerkeleyTrue commented on #4639
@

[2017-10-25 14:06] BerkeleyTrue commented on #4639
@raisedadead Sounds good

[2017-10-25 14:48] HKuz commented on #696
@tanushree57 - I just looked at your PR, yes, you need to add the title field at the top of both new files you created - neither of the files I'm looking at in the PR have it. I'm not sure what you read about the H1/2/3 is referring to (perhaps just a site in general for what's displayed as the title for a browser tab?), but the way the fCC Guide site builds, it needs that field at the top of the

[2017-10-25 15:14] Ethan-Arrowood commented on #4639
Feel free to ping me on any PR if you need a secondary reviewer

[2017-10-25 15:14] Ethan-Arrowood commented on #4517
If you would like to feel free to do so and submit a PR!

[2017-10-25 15:48] paolomangiadev commented on #2931
working on this :)

[2017-10-25 17:33] IsaacAbrahamson commented on #4639
I think this might be a good thing to state in rules for contributing.

[2017-10-25 20:51] geekanamika opened #4903 "No Android App Development guide in src folder?"
I wanted to contribute for Hactober fest. I am an android developer but couldn't find any src which corresponds to android development. There is one Mobile app Development folder but it further includes only React development and more. Can you please guide if i am missing something ?

[2017-10-25 23:18] #1815 closed

[2017-10-25 23:36] Bouncey commented on #4903
Feel free to add the relevant categories for your article.

Any parent directories will need stubs, which can be done using `yarn run normalise` and committing the changes

[2017-10-26 04:12] Ethan-Arrowood commented on #4639
Hey guys we need to get all contributors on the same page here. I closed someones' [PR](https://github.com/freeCodeCamp/guides/pull/4838) today for lack of effort and then they commented asking why because this: https://github.com/freeCodeCamp/guides/pull/1614 got merged. I know things are changing rapidly, but we should fast track a proper CONTRIBUTING and README guidelines. I'm going to work on

[2017-10-26 05:46] erictleung commented on #492
@dhcodes @HKuz I totally forgot my PR 😅  I've obviously gotten busy the past several weeks. I'll update it right now.

[2017-10-26 07:08] systimotic commented on #4639
@Ethan-Arrowood 👍 👍 Do keep in mind that a pre-commit script does not run when commits are created using the GitHub web interface (almost all PR's are created there because we recommend it in the README and Medium articles). If you want it to run for every Pull Request, we might need to add it to the test suite (so it runs in the CI) or create a bot like @camperbot that closes invalid PR's automat

[2017-10-26 07:12] systimotic commented on #2931
Thanks a lot for reporting and fixing this @Ankk98 @paolomangiadev! We already have an open PR (https://github.com/freeCodeCamp/guides/pull/338) and issue about this, so I'm closing this as a duplicate.

Happy coding!

[2017-10-26 07:12] #2931 closed

[2017-10-26 07:15] systimotic commented on #796
Closing as stale. If anybody runs into this problem in the future, please comment here and we'll look into it further. Happy coding!

[2017-10-26 07:15] #796 closed

[2017-10-26 07:15] Ethan-Arrowood commented on #4639
👍

👍

[2017-10-26 07:17] systimotic commented on #4035
Thanks for reporting this @svcastaneda! We already have an open PR (https://github.com/freeCodeCamp/guides/pull/229) and issue that address this, so I'm closing this as a duplicate.

Happy coding!

[2017-10-26 07:17] #4035 closed

[2017-10-26 07:51] raisedadead commented on #4639
Can someone add this to the PR template? I am expanding the camper-gh-bot's functionality for some automation, but that might take a while.

[2017-10-26 10:29] LulaV14 commented on #1297
Hi @soueuls, I'll be glad to work with you 😊 and I agree with what you say.
So what I was thinking is maybe we can have the meta tags for 'twitter:card', 'twitter:site', and 'twitter:creator' in the 'meta.js' file like this:

[code]

And for the remaining parts I like the idea about the Breadcrumbs, and I think it will not be that difficult maybe if in the 'Article.jsx' file we use just the split

[2017-10-26 11:04] meetdshah007 commented on #696
I am having issue like this with Travis

I am trying to create content on new folder. How do i Fix this?
Can someone help fixing this??

[2017-10-26 13:15] Tuxhedoh opened #5085 "Bootstrap Navigation bar page"
At the bottom is a list of examples, but they don't appear to be different at all. I'm a noob, so I've got no idea why this is, or I'd attempt to fix it myself.

[2017-10-26 13:45] HKuz commented on #2231
@davcri - this looks excellent, thanks for compiling all this information in one place!

I agree with @erictleung 💯 on trying to merge what we can (and resolve conflicts, if necessary).

Here are a few comments that have come up on other issues or in recent conversation:

If a PR breaks the build (the Travis CI check fails ❌ ) there are two likely sources (which need to be addressed/fixed before t

[2017-10-26 15:02] #5085 closed

[2017-10-26 15:03] Tuxhedoh commented on #5085
I was not looking at the Guide page, but the actual markdown.

[2017-10-26 15:48] tanushree57 commented on #696
Hi @HKuz
I'll add them right away. Thank you so much for the help! :) I'll keep this in mind for any future PRs I make.

Also, is there a way to see the latest copy of the file after multiple changes have been made?

[2017-10-26 17:18] HKuz commented on #696
@meetdshah007 - you need the `title` field mentioned in my comment [above](https://github.com/freeCodeCamp/guides/issues/696#issuecomment-338973024) to fix your file. 👍

[2017-10-26 18:02] HKuz commented on #4639
@raisedadead and others - looks like this repo doesn't have the `.github` folder - I'll create on and take a first cut at the PR template.

[2017-10-26 19:05] chesun opened #5175 "Organize articles in Mathematics folder"
After going through the content in the Mathematics folder, it seems like it can be roughly categorized under Linear Algebra, Calculus, and Basic Algebra and Trigonometry. I recommend creating separate folders for each of these categories and organize corresponding articles into these folders for ease of access and better organization.

[2017-10-26 20:16] soueuls commented on #1297
@LulaV14 I think meta.js is the perfect place for these twitter tags, I am not very well aware of what Helmet is doing (I will read about it tomorrow on my way to work and build you a working solution for that), it looks obvious that it's the right place to add it, I don't know why it does not work though.

But, the more I think about it, the more I think building the title from the breadcrumb is

[2017-10-26 20:37] LulaV14 commented on #1297
@soueuls Ok great 😊 ! And about the title I believe that it's ok to handle it the way I put it in the example using the 'pathname' constant that we already have in the Article.jsx file.

Maybe it's a little confusing because here we don't see all the files so what I'm going to do is create a PR with the changes that I have so you can test it and tell me what's wrong with the code and if you have a

[2017-10-26 20:38] adiparab14 commented on #4180
https://github.com/freeCodeCamp/guides/pull/5209 Created a pull request to add this Software Testing section

[2017-10-26 21:24] jamesjpk123 commented on #5175
I can start on a PR now.

[2017-10-27 03:08] KaraAJC commented on #4290
I just read a great article today about this!
Where does this get posted?

[2017-10-27 03:34] andres-uris commented on #4290
@KaraAJC  I want to help with the SOAP example 😄

[2017-10-27 03:42] KaraAJC commented on #4290
woohoo!! Here is the article I'm going to refer to in the guide:

![soap v rest difference infographic](https://content-static.upwork.com/blog/uploads/sites/3/2017/04/19075723/SOAP-v-REST-1.png)

[SOAP & REST | Comparing two API architectures by Carey Wodehouse](https://www.upwork.com/hiring/development/soap-vs-rest-comparing-two-apis/)

[2017-10-27 04:01] andres-uris commented on #4290
AWESOMEE 👍

[2017-10-27 04:11] andres-uris opened #5344 "Add the page or article name in the commit message"
Hello world!

I think that it would be great if the contributors know if exist some pull request to add or update an article, because we would work in other article or page.

Actually a lot of pull requests just says add someting, update index.md, etc.

Can you update the README and write a recomendation that says "add the article name, that you are working on it,  to the commit message"  ?

This

[2017-10-27 07:42] adiparab14 commented on #5344
I agree. This is causing multiple updates for the same files. If article name is mentioned in the commit message, a quick search can help.

[2017-10-27 12:03] aysebilgegunduz opened #5459 "SQL Injection for Security Category"
SQLi should be on the Security Category.

[2017-10-27 12:09] aysebilgegunduz commented on #5459
added category.

[2017-10-27 12:09] #5459 closed

[2017-10-27 13:35] Bouncey commented on #5175
Please hold off on this. I have a bunch of stubs to add to this section, I wouldn't want to undo all of the categorising work.

[2017-10-27 13:43] jamesjpk123 commented on #5175
Ok

[2017-10-27 13:58] KaraAJC commented on #4290
@freebird1195 @ChaituVR
Would creating the article inside `guides/src/pages/miscellaneous/` make sense?

[2017-10-27 14:16] ChaituVR commented on #4290
Makes Sense  :+1: But before starting the article consider looking into this PR #2908

can be useful if this PR is merged in the Future to avoid duplication

Thanks @KaraAJC

[2017-10-27 14:34] KaraAJC commented on #4290
Thank you!! @ChaituVR!
now that I'm preparing to build this article, I realize it might be better to create a section called **`WEB`** that covers all kinds of web-specific things, like:
- what an API is,
- what is a Web Service,
- REST,
- SOAP
- what webAPIs exist..
- HTTP...

I can create a new issue for that, and just focus on this article, which describes REST vs SOAP...
OR I can just create t

[2017-10-27 14:36] Bouncey commented on #2503
@dhcodes Travis can run any script you give it, we just have to write it. If any check we make fails you can `process.exit(1)` and Travis will mark the commit as `build failed`

@QuincyLarson This check would be better as a Travis check due to the amount opf PR's coming via the GitHub GUI. Pre-commit hooks only work when committing locally.

[2017-10-27 14:50] ChaituVR commented on #4290
It is a good idea to create a new folder named `web` but if it is only one article for now then it is good to go with `miscellaneous` folder itself and move it later when you get more articles

@Bouncey @texas2010 any thoughts?

[2017-10-27 14:50] #612 closed

[2017-10-27 14:56] KaraAJC commented on #4290
I think the REST api article you referred to would make sense there, and I'd be willing to pivot to have @andres-uris just write a SOAP article, and I'll write an HTTP protocol article instead, giving the `web` folder 3 completed articles, out of an anticipated 7:

Here's a [commit I made](https://github.com/KaraAJC/guides/commit/a810b9a49cc93fe3369e364509438c4719d9866a) so far:
![screen shot 2017

[2017-10-27 15:12] dhcodes commented on #2503
@Bouncey yeah I think based on what everyone has said, it may be best to go the PR bot route. I'm currently working on making one in probot, but I'm slow so if someone else wants to give it a go, by all means, go for it.

[2017-10-27 18:40] svinkle commented on #897
@Ethan-Arrowood there's one more thing I'd like to do but also need some guidance.

I'm trying to create a `ref` from a wrapper element in `templates/Article.jsx`. Then in `LayoutComponents/nav/NavItem.jsx`, on `Link` click, send focus to the `ref`.

By shifting keyboard focus this will help keyboard-only and screen reader users to get from the side nav to the article area quickly.

Any tips on cr

[2017-10-27 19:01] Ethan-Arrowood commented on #897
@svinkle where is this `<article />` tag? If it is in a parent component of `NavItem` then you can pass the ref as a prop down to the `NavItem`. If its a sibling I'd recommend lifting it up to the parent element and then passing it back down to the `NavItem`. This project also uses Redux so you may want to consider adding it to the store. @Bouncey may be able to share more insight on the best impl

[2017-10-27 19:05] svinkle commented on #897
@Ethan-Arrowood Right, the `article` element is something that I'm adding in `Article.jsx` No PR yet, just working on it locally in a new branch.

I can't figure out where or how `<Article/>` is being used as it's not being imported anywhere. If I knew this I might be able to figure out how to pass it around and back down to `NavItem`.

[2017-10-27 19:18] chesun commented on #5175
@Bouncey Do you mean stubs for the index.md for the entire mathematics section? Or new stubs for new folders on specific topics?

[2017-10-27 19:45] Ethan-Arrowood commented on #897
Going to pin this to my todo list and will revisit it on Sunday when I have some time. Keep me posted if you make any progress before then.

[2017-10-27 19:48] shoorik007 opened #5637 "Added the video"
Added the video

[2017-10-27 21:23] jamesjpk123 opened #5668 "Add Video Support"
I wasn't sure if this was already available or not, but I think it wouldn't be s good idea to be able to add videos to our articles. Maybe some people might be able to create videos, for the articles. And if we have that support, maybe we could add support for embedded Scrimba lessons.

[2017-10-28 04:31] Mtea994 opened #5774 "Add BlockChain"
I am creating this issue because i think more people need to know about Blockchain and freecode camp guide is one of the best resources for beginners to learn about new advances in the computer science related field

[2017-10-28 04:36] AkiraLaine commented on #494
Gonna be writing some Vue.js articles :smile:

[2017-10-28 05:59] no-stack-dub-sack opened #5791 "search does not seem to be working..."
not sure if this is best opened here or in the search engine repo, but the guides search does not seem to be working at the moment. Can anyone else confirm this?

![image](http://g.recordit.co/ouTtmeRuF1.gif)

[2017-10-28 06:48] Bouncey commented on #897
@svinkle this is where `gatsby` comes in.

Article is passed to the Layout component as props. We don't import Article directly, it is used as a template for the HTML coming from the markdown files

As for refs. You should be able to do everything in Layout, you will be able to update the ref in a lifecycle hook like componentDidUpdate or componentWillReceiveProps.

If you are going to wrap `props

[2017-10-28 13:31] thomaskuntzz opened #5959 "Where to put article about markup languages?"
"Markup Language" is a term that comes up quite often but I can't find any explanation of what that is on the guide. I thought it could be good to make an article about it because that's not something that everybody obviously knows. However, I can't figure out where is the best place (the most relevant section) to put such an article... Any idea?

[2017-10-28 22:44] viniciusarre opened #6141 "Articles about programming paradigms and what's new"
I would like to suggest more article about programming paradigms such as Object Oriented programming, Functional programming as well as what is new on the web (Flux and redux). Thanks!