[2017-10-28 23:17] systimotic commented on #5668
Hi @jamesjpk123! You should be able to write HTML in the `index.md` documents, so you can paste a YouTube iframe in there and embed it that way. If this doesn't work, please open a new issue and we'll look into that.

Video's are great, but the Guide is a text-based resource. Not everyone's internet connection can handle a video. When creating a guide, using a video to support your content is a gr

[2017-10-28 23:17] #5668 closed

[2017-10-28 23:18] systimotic commented on #5637
It looks like you intended to submit a PR instead of creating an issue, so I'm closing this. If not, please leave a comment here with more information.

Happy coding!

[2017-10-28 23:18] #5637 closed

[2017-10-28 23:21] systimotic commented on #5791
@no-stack-dub-sack It appears to be working fine for me. Can you look at the network tab in the devtools and see if that gives any information about what is going on?

[2017-10-29 15:35] HKuz commented on #2231
Hi everyone - I'm going to close this issue now that @davcri 's PR #2976 was merged - it created a new CONTRIBUTING.md file with these suggestions incorporated. Feel free to re-open if you want to continue the discussion, open a new issue, or submit a PR against that file 👍

[2017-10-29 15:35] #2231 closed

[2017-10-29 15:42] HKuz commented on #1853
Hi everyone, thanks for all the suggestions! I'm going to close this issue since they've been formalized in the new CONTRIBUTING.md file 🎉

[2017-10-29 15:42] #1853 closed

[2017-10-30 10:53] andres-uris commented on #4290
@KaraAJC Ok sounds good, I will write SOAP article on src/pages/web/soap/index.md . Sorry for the delay answer.

[2017-10-30 13:00] dhcodes commented on #2503
I probably wasn't clear enough in my last post. **If anyone wants to work on this, consider it open.** There's no assurance that I'll get anything working and there are many other skilled programmers out there who could probably whip something up faster than I.

[2017-10-30 16:41] IsaacAbrahamson commented on #5791
I can confirm I had this issue a few days ago, but looking at it today it seems to be working.

[2017-10-30 20:44] parvinder09 commented on #6141
ok

[2017-10-31 01:01] andres-uris commented on #5344
@texas2010 Can give us feedback? This can improve the way we contribute to the guide. Check  PR
#5764

[2017-10-31 03:52] juanluischaurant commented on #310
As stated weeks ago, I have been working on the technical translation (Right now it's only in Spanish) guide for Free Code Camp Guide articles, I need some orientation before going any further, where could I publish that guide?

[2017-10-31 09:43] Bouncey opened #7238 "Remove normalise from pre-commit script"
We use a pre-commit script that can be found in the `package.json`

We need to remove the normalise part of the pre-commit to stop confusion for contributors when multiple files change when committing.

A future issue will deal with automating the normalise script.

[2017-10-31 10:04] #7238 closed

[2017-10-31 12:04] Sudhanshu36 opened #7296 "Add Cryptocurrency"
Knowing about cryptocurrency would be useful in the coming years, as well as knowing about bitcoin.

[2017-10-31 12:14] Bouncey commented on #5959
Are there a great many markup languages? Could it be considered a category of its own?

We already have an [article on markdown](https://guide.freecodecamp.org/developer-tools/markdown/). Would this be the best place for a singular article on markup?

[2017-10-31 13:49] svinkle commented on #897
@Bouncey The `article` element was originally a `div` so, it should already do what you're expecting.

I've tried to figure this `ref` part out, but no dice. My React knowledge is limited. I'm not sure how to do this as both `Article` and `Layout` components are not extending `React.Component` as a class; they're both just functions. Can you still use lifecycle hook methods here?

Any other tips o

[2017-10-31 14:48] Bouncey commented on #897
Convert whichever you need into a class, I have no issues with this.

[2017-10-31 15:50] philliplaibe commented on #7296
## Cryptocurrency

Cryptocurrency is electronic money. There are two main things that make it different than just using your credit card or Paypal.

1. It used cryptography as a part of the protocols for use to provide security.
2. It utilizes blockchain technology

The most well known cryptocurrency is Bitcoin which was created in 2009 and like most cryptocurrencies is decentralized and used mini

[2017-10-31 16:52] antoniolpaulos commented on #5959
Could be under a subject like "Typesetting", also opening up a spot for TeX and LaTeX for example.

[2017-10-31 17:34] philliplaibe opened #7483 "add command line/terminal guide"
Add folder to have guides about using command line including frequently used commands such as cd for change directory, l for list etc.

[2017-10-31 20:01] sw-yx commented on #897
hey Scott - coming here from twitter. just want to offer some react guidance but i havent dived into this specific code. basically what i see is you are trying to pass info from a child comment back up to a parent. there are a few ways to do this: 1) use redux, 2) use parent methods that you pass down as props, 3) use refs.

i think refs are a messy creature in react and should be avoided as far a

[2017-10-31 20:51] AlmeroSteyn commented on #897
Hi @svinkle .

Also from your twitter question. Honestly I did not have the time to look at the actual solution (night time here now) but from what you say sounds like a pretty standard setting focus on route transition.

Maybe there are reasons in the app architecture for not being able to do this but would it be possible to convert the `article` component to a class component? If it is being ren

[2017-10-31 21:43] ALeilands commented on #414
I agree about the confusing navigation. I think that not only individual language section structure should be more consistent, but also the Guide in general should be more organised. If the main idea is not to have a bunch of information that should be accessed mainly by searching but to have a roadmap of sorts that can be explored through different paths, it should be more structured, with these.

[2017-10-31 22:00] marijnpool commented on #68
It might be better to declare the height per viewport.

[2017-10-31 22:00] QuincyLarson commented on #65
@freebird1195 Awesome - thanks! Have you had a chance to work on this any? Are you still interested in tackling this issue?

[2017-10-31 22:02] QuincyLarson commented on #4639
I believe this is now resolved thanks to @HKuz's PR: https://github.com/freeCodeCamp/guides/pull/5171

If this is still an issue, please re-open the PR.

[2017-10-31 22:02] #4639 closed

[2017-11-01 03:00] QuincyLarson commented on #68
It looks like the navbar is now 36 pixels. Closing this.

[2017-11-01 04:03] freebird1195 commented on #65
Hey, as much as I wanted to, I have never worked on React. I don’t think I will be able to dedicate that amount of time as of now, I am sorry.

[2017-11-01 07:25] AlmeroSteyn commented on #897
@svinkle I had a look at the actual codebase this morning.

From what I can see there does not seem to be a way, aside from the Redux implementation, to pass het the ref of `article` to the `NavItem` component as they are siblings of the same component tree.

The following implementation of `article` will focus the `article` element on each navigation from the menu:
[code]

The only drawback I cou

[2017-11-01 15:42] HKuz commented on #696
Thanks everyone for participating in Hacktoberfest 🎃! Now that it's officially over, I'm closing this issue.

[2017-11-01 15:42] #696 closed

[2017-11-01 17:09] jp-sauve commented on #7483
I've written about this, hopefully at enough length. Check out the PR and comment!
https://github.com/freeCodeCamp/guides/pull/7564

[2017-11-01 17:20] jp-sauve commented on #5959
Markdown (according to wikipedia) is a style of markdown. I'm all for the reorganization discussed in #414  in which I would take markdown out of the "Developer Tools" section, and group it with other markup languages. Then we can have TeX, groff, html,xml and any others together.

[2017-11-01 18:21] tanushree57 commented on #696
@HKuz Thanks alot! This was fun! :)

[2017-11-01 19:08] jp-sauve opened #7787 "Vim: Duplicate content"
There is significant duplicate content on the following pages of the Vim section:
https://guide.freecodecamp.org/vim/modes
https://guide.freecodecamp.org/vim/useful-commands

[2017-11-01 19:25] thomaskuntzz commented on #5959
@jp-sauve I fully agree with this. There are loads of markup languages, so let's make an article explaining the concept (it's talked about quite a lot accross the articles) and even maybe a full section for all the markup languages out there (like the ones you mentionen @jp-sauve).

[2017-11-02 04:44] fvcproductions commented on #2503
Just to note, there are some PRs that reference this issue but in the interest of maintaining positive contributions, I am marking the PRs that have the majority of the content copied and pasted from external websites as `invalid` and closing them.

To restate what @davcri has said and what I ultimately agree with, "we are trying to create community content, not a copy-paste website".

[2017-11-02 07:25] jp-sauve opened #7790 "Hexcodes article should be a section in CSS Colors page"
Currently in https://guide.freecodecamp.org/computer-science/hexcode
This content belongs with the descriptions of rgb,rgba,hsl,hsla, and color names.
Adding empty section with #1839

[2017-11-02 08:22] davcri commented on #2503
@dhcodes could you provide some insights of the PR bot here https://github.com/freeCodeCamp/guides/issues/3315 ? I would like to know more about them.

[2017-11-02 08:25] davcri commented on #3315
About the pre-commit hook, @Bouncey stated that:

[2017-11-02 17:50] dhcodes commented on #3315
@davcri re: your question. I'm currently working on a [probot](https://github.com/probot/probot)-based) PR bot that would work as follows:
- User submits PR
- PR gets tagged as content (this triggers bot)
- Bot runs selected parts of diffed content through a Google Search
- If certain percentage is found on another site, automatically adds a comment to the PR that says in nice terms that it's susp

[2017-11-02 21:19] QuincyLarson commented on #3315
@dhcodes I think instead of trying to exclude articles that use direct quotes or have adequate references, this should be left to a human reviewer to decide. By raising awareness that the content comes from an external source, it will give PR reviewers a heads-up that they need to make sure things are properly cited. Then they can pass judgement as to whether further citation is necessary themselv

[2017-11-02 21:21] svinkle commented on #897
@AlmeroSteyn, thanks for the deep dive! Will dig in tonight or tomorrow and let you know how it goes. 👍

[2017-11-02 21:22] QuincyLarson commented on #65
@freebird1195 Thanks for letting us know.

@Bouncey is this something you would be interested in implementing?

[2017-11-03 04:53] QuincyLarson opened #7798 "Fix Readme links"
I found a few non-functional links in the newly-update Readme:

![freecodecamp_guides__a_collection_of_easy-to-understand_guides_to_programming_tools](https://user-images.githubusercontent.com/985197/32360946-c3b8db12-c028-11e7-98eb-4d695e9732dd.png)

These seem to have been introduced by @fvcproductions's Readme update: https://github.com/freeCodeCamp/guides/pull/7784

---

- [x] [Checked](https:

[2017-11-03 09:03] AlmeroSteyn commented on #897
@svinkle cool!

Actually in https://github.com/AlmeroSteyn/react-a11y-patterns/blob/master/src/components/PageFocusSection.js I got around the constant focus on refresh by sending state with React Router.  Forgot to mention that in the previous comment.

[code]

This way you can control when focus is set. You could maybe do the same think if gatsby link passes through the state.

[2017-11-03 09:30] adiparab14 commented on #7798
@QuincyLarson please review

[2017-11-03 09:31] adiparab14 commented on #7790
@jp-sauve please review

[2017-11-03 11:45] Bouncey commented on #7798
fixed via #7800

[2017-11-03 11:45] #7798 closed

[2017-11-04 15:35] armgabrielyan opened #7808 "Add Electrical and Electronics Engineering"
Knowing about Electrical and Electronics Engineering is interesting even if you are software developer.

[2017-11-04 17:22] no-stack-dub-sack commented on #5791
@systimotic @IsaacAbrahamson I just remembered this and checked again and it is working now. So not quite sure what was going on. We can probably safely close this for now until it can be reproduced and we can identify a cause.

[2017-11-04 23:03] IsaacAbrahamson commented on #5791
@no-stack-dub-sack, yeah I can no longer reproduce either. I'm going to close following your suggestion.

[2017-11-04 23:03] #5791 closed

[2017-11-06 00:37] thepriefy commented on #7787
I wanna do this one. What is the expected output?

[2017-11-06 14:53] svinkle commented on #897
@Bouncey @AlmeroSteyn I couldn't figure this out for the life of me, so I had to get a little sneaky about it, but it works. See what you think of #7818.

[2017-11-06 19:24] DamianRivas opened #7823 "Prioritize Concepts Encountered in freeCodeCamp Course"
<h1>The Problem</h1>

Currently, the freeCodeCamp course contains external links for people to follow in order to better understand the concepts being introduced. For example, when you encounter hexadecimals for the first time in the course, it contains links to the Wikipedia pages for hexadecimals and the RGB color system:

![freecodecamp git](https://user-images.githubusercontent.com/10257813/32

[2017-11-06 22:01] johnkennedy9147 commented on #7823
@DamianRivas people are more likely to create content for an article if a stub already exists so if we can get a list of all the links to other sites in the course we can cross reference and create stubs for any that are missing. But as for pushing contributors toward fleshing out stubs or existing articles, everyone is a volunteer and only likely to write about what they know and are interested i

[2017-11-06 22:23] johnkennedy9147 commented on #7808
@QuincyLarson out of scope for FCC guide?

[2017-11-06 23:03] johnkennedy9147 opened #7825 "Articles imported from forum contain invalid nav links"
Looks like some articles which were imported from FCC Forum contain nav links that make no sense within guides.

No idea how many instances there would be.

Example:
![image](https://user-images.githubusercontent.com/26827682/32468409-0e190fcc-c346-11e7-8116-6f69cb1b8c2c.png)

Not sure if there is a quick way to identify affected articles, likewise if can be resolved any way other than manual edit

[2017-11-07 08:03] AlmeroSteyn commented on #897
@svinkle

Dove a little bit deeper and you are quite right. The Gatsby Link component seems to disallow the option to pass an object to `to` in the code. Normally, with React Router you can do this:

[code]

But `Gatsby Link` passes the `to` prop into this function internally before setting it as the component state:

[code]
So it expects the `to` to only be a `string`.

This IS normally the way t

[2017-11-07 11:20] samarali1995 opened #7829 "my theme appear as empty"
please I make wordpress theme and now I want to upload it in online host (00webhostapp.com)
I create wordpress and I install my theme but the website appear as empty
what should I do please ????

I created this theme on localhost (wamp) and appear without any problem

[2017-11-07 11:41] Bouncey commented on #897
If this is the way to go. I'd be happy to accept a forked version of `gatsby-link` that accepts objects. You should maybe open a PR against the gatsbyjs/gatsby repo also 👍

[2017-11-07 13:57] johnkennedy9147 commented on #7829
@samarali1995 Hi, sorry but this is not an advice forum. refer to wordpress.org for help

[2017-11-07 13:57] #7829 closed

[2017-11-07 15:22] Ethan-Arrowood commented on #897
Impressive work @svinkle great job on this!

[2017-11-07 20:49] QuincyLarson commented on #7808
@johnkennedy9147 @ArmenGabrielyan16 This is within the scope of our guide. @ArmenGabrielyan16 could you list out specific topics you'd like to see covered?

[2017-11-07 21:11] QuincyLarson commented on #5774
@Mtea994 agreed - would you be interested in helping us write some articles about various aspects of blockchain?

[2017-11-07 21:22] Mtea994 commented on #5774
Sure why not.currently i working on a project based on blockchain i will share some details but i am not very qualified i am still an undergrad student so you and others much qualified than me should review it

[2017-11-07 21:36] ArmenGabrielyan16 commented on #7808
@QuincyLarson @johnkennedy9147

[2017-11-08 09:01] davcri commented on #7790
Digital representation of colors it isn't specific to CSS, it's a more generic topic of digital images: evaluate carefully which is the best plate to describe this concepts.

[2017-11-08 11:36] davcri commented on #3315
@QuincyLarson yes this seems a perfect balance between the script (Probot in this case) and human effort.

@dhcodes I didn't know Probot ! Is the code hosted here on Github ? I could try to help, even if I'm not so experienced with JavaScript.

[2017-11-08 13:43] Bouncey opened #7832 "Implement schema.org"
To aid our SEO, we should implement the [http://schema.org/TechArticle](http://schema.org/TechArticle) schema.

Follow the [getting started guide](http://schema.org/docs/gs.html).

The implementation should be programattic i.e. we shouldn't have to edit each article to get this working.

It would probably be easier to do this through a plugin that hooks into the `gatsby api`, specifically the `onC

[2017-11-08 16:36] dhcodes commented on #3315
@davcri the code is here: https://aromatic-okra.glitch.me

Sorry for taking so long :(. It's most definitely a learning experience.

[2017-11-08 19:21] svinkle commented on #897
Thanks, @Ethan-Arrowood!

@AlmeroSteyn, right; my primary issue was that I couldn't pass a prop of some state back down to `<Article/>` for the `componentDidMount()` conditional check.

That said, @Bouncey are your expecting a different solution from me based on @AlmeroSteyn's note, or is this 👍?

[2017-11-08 20:41] Bouncey commented on #897
Which ever way you would like to tackle the issue, I am agnostic about it right now :+1:

Thanks for sticking with this @svinkle

[2017-11-08 21:10] LulaV14 opened #7834 "Two ES6 folders in 'src/pages/javascript'"
There are two ES6 folders inside 'src/pages/javascript/'. One called [ES6](https://github.com/freeCodeCamp/guides/tree/master/src/pages/javascript/ES6) and the other [es6](https://github.com/freeCodeCamp/guides/tree/master/src/pages/javascript/es6).
The one in uppercase is giving me trouble in git while doing a rebase to master.

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q

[2017-11-08 21:19] #5774 closed

[2017-11-08 21:19] jp-sauve commented on #3315
Is citation enough? It obviously cures plagiarism, and where the sources have permissive licenses, it's enough. But for copyrighted content, there is a delicate balance between fair use and infringement, and it seems that it would come down to a few factors. Whether the FCC guide can be considered commercial, whether the copied material would deprive the copyright owner of profits, and the amount

[2017-11-08 21:20] QuincyLarson commented on #5774
@Mtea994 Awesome - I've merged your PR to create the stub. Thanks in advance for your help adding new topics and - as time permits - articles :)

[2017-11-08 21:21] QuincyLarson commented on #7808
@ArmenGabrielyan16 Awesome. Those articles would be great. I think you should put "Electrical Engineering" as the root-level topic. Then could you nest all of those within topics and subtopics, then create stubs for them?

[2017-11-08 21:27] QuincyLarson commented on #3315
@jp-sauve Rather than delving into those legal questions you've posed, I think we follow our best judgement and operate under the principle that articles should be primarily original. We are not interested in cross-posting articles from the MDN, Stack Overflow, etc. The bulk of these articles should be original. I think it's better to have a short article that is just a single, attributed, paragra

[2017-11-09 01:03] svinkle commented on #897
Well, the way I see it:

1. It works as is, and
2. I need to put this to bed and move on.

When #7818 gets merged feel free to close out this ticket. It was great working with y'all! 🙂

[2017-11-09 03:44] mokutsu commented on #302
Hi all, I noticed this issue was from a few weeks ago, was wondering if I could help out at all!

[2017-11-09 13:49] meckanism commented on #7834
I'm having this problem as well.
I'm on a fresh clone of my fork, at `master` and I have a modified file at `src/pages/javascript/ES6/index.md`.

As LulaV14 suggests, this seems to be related to the `src/pages/javascript` having two folders with the same name.

On github we can see the duplicated folders but on my osx and windows machines i cannot. Probably because both filesystems are case insens

[2017-11-09 17:45] ArmenGabrielyan16 commented on #7808
@QuincyLarson Thanks for your support. I think your suggestion is interesting. I am on it. I really appreciate any help from the community.

[2017-11-09 19:56] QuincyLarson commented on #7808
@ArmenGabrielyan16 Awesome! We're here to help if we can. Also, if you haven't already, jump into the gitter.im/freecodecamp/contributors room :)

[2017-11-09 19:59] ArmenGabrielyan16 commented on #7808
@QuincyLarson Thank you very much.

[2017-11-10 06:38] luandy64 opened #7841 "MathematicsDerivatives: Images not rendering"
While I was scrolling through topics to see people's writing styles, I noticed these images not appearing.

<img width="1280" alt="fcc_error" src="https://user-images.githubusercontent.com/19473996/32645916-4f405b84-c5af-11e7-9da2-6663bc0ec6ec.png">

---

- [X] [hecked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️

[2017-11-10 06:49] luandy64 opened #7842 "Duplicate Stubs: Pythagoras Theorem and Pythagorean Theorem"
Pythagorean Theorem should probably be the one that is kept

---

- [X] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [X] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2017-11-10 07:53] Asjas commented on #7841
@luandy64. Hi, I just checked the [freecodecamp docs](https://guide.freecodecamp.org/mathematics/derivatives) and you are correct that the images are not displaying. I suspect it's because the docs haven't been updated yet.

If you browse on github to the latest [master copy](https://github.com/freeCodeCamp/guides/blob/master/src/pages/mathematics/derivatives/index.md) you will see the images are

[2017-11-10 07:55] Asjas commented on #7841
Please let me know if this issue can be closed 👍

[2017-11-10 14:57] johnkennedy9147 commented on #7841
@luandy64 @Asjas looks like the link in the img tag is to the page on github for the image, rather than the raw image compare results of these two links:
https://github.com/MarkMikow/MyFiles/blob/master/img3.png
https://github.com/MarkMikow/MyFiles/blob/master/img1.png?raw=true

[2017-11-10 17:10] johnkennedy9147 commented on #7834
issue resolved by PR #7843. thanks for your contribution

[2017-11-10 17:10] #7834 closed

[2017-11-10 19:06] luandy64 commented on #7841
@Asjas @johnkennedy9147 If either of you would like to handle this, that'd be great. I was just pointing out my finding.

[2017-11-10 20:52] johnkennedy9147 commented on #7841
Anybody who wants to fix this feel free.
You can ask me if you need guidance.
thanks

[2017-11-11 00:16] johnkennedy9147 commented on #65
@QuincyLarson @Bouncey @nsuchy What are the advantages? I don't know much about AMP but what I recall reading in articles was pretty negative - essentially good for Google, bad for everyone else.

[2017-11-11 00:23] johnkennedy9147 commented on #437
closing issue as ES6 section has been created and several articles added

[2017-11-11 00:23] #437 closed

[2017-11-11 00:27] johnkennedy9147 commented on #526
closing as article was created in PR #1770

[2017-11-11 00:27] #526 closed

[2017-11-11 17:57] nsuchy commented on #65
@johnkennedy9147 AMP provides a very fast way to load articles on mobile, Google keeps it on their cache so it takes mere ms to load on mobile. Some people dislike saying it keeps people on Google longer, for freeCodeCamp though the goal isn't to make a profit but to provide knowledge to others. By using Google's AMP it makes it faster for people on the go to get knowledge. In our case it doesn't

[2017-11-11 18:39] adiparab14 commented on #7841
@johnkennedy9147 Please check

[2017-11-11 20:06] xuhang57 commented on #302
@mokutsu  please go ahead! Thanks for working on this 👍

[2017-11-11 21:13] johnkennedy9147 commented on #7841
@adiparab14 Hi, thanks for the PR. I have merged it. However, I noticed afterwards there 3 more images that aren't loading in the article. Would you like to fix those too?

[2017-11-11 21:24] adiparab14 commented on #7841
@johnkennedy9147 Done

[2017-11-13 22:47] johnkennedy9147 opened #7852 "Incorrectly named articles can pass build tests if added where index.md exists."
If someone creates a file with incorrect name in a folder in which an index.md already exists the build tests will still pass. Examples PR #2324 (corrected before merge) PR #445 Merged without being corrected (PR #7851 submitted to fix.)

We need to add further check(s) to catch this.

This doesn't break the build as the articles are simply ignored.

---

- [x] [Checked](https://github.com/freeCod

[2017-11-14 22:54] fvcproductions commented on #5344
The idea of having a descriptive title in new PRs has now been integrated with the new pull request template.

I will close this issue for now as the PR referenced above addresses this. https://github.com/freeCodeCamp/guides/pull/6592

[2017-11-14 22:54] #5344 closed

[2017-11-14 22:57] fvcproductions commented on #7483
Closing as above PR mentioned addresses this. :smile:

[2017-11-14 22:57] #7483 closed

[2017-11-14 23:01] fvcproductions commented on #7296
I am currently reviewing the PR created above so I will close this issue for now.

[2017-11-14 23:01] #7296 closed

[2017-11-18 20:53] jp-sauve commented on #7790
Fair point. All of the other methods, aside from CSS colour names, are also used outside CSS. I suggested it as the others are already in the CSS article, and ought to stay together, if not in their current location.

[2017-11-18 21:03] jp-sauve opened #7863 "Create way to separate current from deprecated code"
I think there ought to be a way to mark older code, so that users know that while they might come across it, it's no longer used. I'm thinking specifically of HTML4 tags like "bgcolor" that have been replaced.

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be adde

[2017-11-20 18:16] vijayabharathib opened #7867 "CSS preprocessor section returns "404 Page Not Found" error"
Hi there,

I was trying to access **CSS > CSS Preprocessors** section. The link returned **404 - Page Not Found** error. Screenshot attached.
![github-issue-css-preprocessors-404-not-found](https://user-images.githubusercontent.com/15519267/33034000-79a7085a-ce4c-11e7-9007-aa03f537a197.png)

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the

[2017-11-20 19:45] Asjas commented on #7867
Hi @vijayabharathib.

Thanks for picking that up. I just noticed that the `title` of the page isn't correct. That is why it's not loading the website correctly.

Anyone is free to open a PR and fix this.

[2017-11-22 16:09] nsuchy opened #7877 "Collapse nav on mobile"
At the moment using the guide on a mobile device is difficult due to the navigation being long, it takes lots of scrolling and avoiding tapping a new article to get to content. There should be a way to collapse the navbar after selecting a guide article.

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed befo

[2017-11-22 17:18] nsuchy opened #7878 "Add Redis Articles"
A set of articles on the Redis Datastore would be a nice addition to the freeCodeCamp Guide. Thoughts?

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2017-11-23 07:15] Asjas commented on #7867
@vijayabharathib Thanks for your PR. The CSS Preprocessors page is now loading and the `Title` is displaying as it should. :tada:

[2017-11-23 07:15] #7867 closed

[2017-11-23 15:28] vijayabharathib commented on #7867
@Asjas, handing it over to @RohanGurjar who seems to have created the PR. 👏 👏

[2017-11-23 21:16] systimotic commented on #7877
Absolutely agree! We already have an open issue and PR about this: https://github.com/freeCodeCamp/guides/issues/298
I'm closing this as a duplicate.

Happy coding/reviewing!

[2017-11-23 21:16] #7877 closed

[2017-11-23 21:50] systimotic commented on #7841
I'm closing this, as it has been fixed through #7845. Thanks for reporting this, looking into it and fixing it everyone! Happy coding 😃

[2017-11-23 21:50] #7841 closed

[2017-11-23 21:52] systimotic commented on #7825
Good catch @johnkennedy9147! I looked into this before, and this was the only instance of this that I could find. Regardless, https://github.com/freeCodeCamp/guides/pull/739 will fix issues like this one where there are three or more links on a single line.

[2017-11-23 22:32] systimotic opened #7884 "Front-matter detection breaks on edge case"
## Problem

There's an edge case that our front-matter regex doesn't catch. This came to light through https://github.com/freeCodeCamp/guides/pull/7855
The regex:  https://github.com/freeCodeCamp/guides/blob/4c39e4939e3290afbda8c8dd91fa1329e9ea6920/utils/regEx.js#L5
What it should match:
[code]
The edge case (it shouldn't match this):
[code]
You can see it in action here: http://regexr.com/3h8ht

[2017-11-24 14:15] 1andee opened #7885 "Duplicate articles for Monty Hall problem"
While sifting through the PRs, I found duplicates for this topic.

- One under the [Mathematics](https://guide.freecodecamp.org/mathematics/the-monty-hall-problem) category.
- Another in the [Logic](https://guide.freecodecamp.org/logic/monty-hall-problem) category.

Seems to me that Logic would be a better fit.

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Ac

[2017-11-24 21:34] adiparab14 commented on #7852
@johnkennedy9147 I think changing the isAFileRE constant in regEx.js to check for index.md should work.

[2017-11-24 23:06] chotuaashiq commented on #7884
@systimotic I am interested in solving the issue. I am comfortable with the regex thing, but I am not getting the detection of front-matter thing. Can you help me in that?

[2017-11-24 23:54] johnkennedy9147 commented on #7852
@adiparab14 Yeah, I think that would work. There are files in the repository correctly called something other than index.md but I don't think the build checks are looking in the directories containing them.
@systimotic what do you think?

[2017-11-25 18:27] nsuchy commented on #267
<img width="1280" alt="screen shot 2017-11-25 at 1 24 30 pm" src="https://user-images.githubusercontent.com/8227641/33233474-67118efe-d1e4-11e7-8753-e17888ec70f0.png">
@systimotic Would something like this work?

[2017-11-25 21:34] QuincyLarson commented on #267
@nsuchy That's a great place to include it. A couple notes:
1. we would want the hyperlink to be green like all the other hyperlinks
2. We should have the "Edit on GitHub" link at the bottom of the page, subtly indicating that they should read the article before proposing edits.
3. It should be clear to people who click the button how to go about opening the pull request.

Here's what we tell them

[2017-11-25 22:13] systimotic commented on #7884
Thanks for the PR @chotuaashiq! We don't need to implement both solutions, using only a regex would be fine too. On a second thought, sticking with the regex might be better, as we're using it for the breadcrumbs too.

If you do want implement gray-matter instead of using a regex, you'll have to change this function:
https://github.com/freeCodeCamp/guides/blob/069f005094b71df4c9b67980e6099b4178ce7

[2017-11-25 23:00] systimotic commented on #7852
Thanks for the input.

@johnkennedy9147 is correct in saying that the root directory (src/pages/) is not read, and that is should be the only directory that has files that are not named `index.md`

Sadly, just changing the regex won't fix the issue here, as it will continue to ignore file that are not named `index.md`

I think the best approach would be to change things up the `readIndex` function

[2017-11-27 03:52] erictleung commented on #267
@QuincyLarson I agree with those points. Maybe putting it in the bottom right corner would be good.

Although I agree that having it near the bottom should "subtly indicat[e] that they should read the article before proposing edits," but just as a comparison, MDN and Wikipedia have their edit buttons near the top for easy access. If this proposal goes through and we implement it near the bottom fi

[2017-11-27 19:19] QuincyLarson opened #7895 "Default image for og:image meta property"
Currently the meta properties of guide articles will render the first image in an article as the og:image and twitter image:

![sharing_debugger_-_facebook_for_developers](https://user-images.githubusercontent.com/985197/33284635-5b3da3c8-d375-11e7-8186-068515ccc1a4.png)

But if there is no image in an article, it leaves the og:image property blank, and renders this:

![sharing_debugger_-_facebook

[2017-11-27 19:20] 1andee opened #7896 "Deploy previews failing: can't find module 'parse-passwd'"
Reference PRs https://github.com/freeCodeCamp/guides/pull/2587 and https://github.com/freeCodeCamp/guides/pull/7691, the below error is being thrown during deploy preview:

[code]

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough detai

[2017-11-27 19:26] QuincyLarson opened #7897 "Title meta property for an article should include topics it's nested topics as well"
Currently the Title property just states the title of the article, which in some cases isn't all that helpful:

![sharing_debugger_-_facebook_for_developers](https://user-images.githubusercontent.com/985197/33284924-4ac1c578-d376-11e7-9f01-9e5f86a7e34d.png)

Instead, we should also pull in the topics that article is nested within. For example:

C > Appendix

or:

Mathematics > Algebra > Piecewise

[2017-11-28 05:50] Bouncey commented on #7896
Please do not merge PR's when not all checks have passed. As soon as a PR is merged, it goes to production. If we don't have a green test suite then something is wrong and we need to investigate.

There was an issue with the build environment which in now resolved.

[2017-11-28 05:50] #7896 closed

[2017-11-29 11:04] spezzino commented on #7897
This was fixed on #5225

[2017-11-29 11:04] spezzino commented on #7895
This was fixed on #5225

[2017-11-29 21:49] systimotic commented on #1297
Thanks for adding this @LulaV14!

[2017-11-29 21:49] #1297 closed

[2017-11-29 22:05] systimotic commented on #7897
Looks like this is working to me too 🎉 Thanks @spezzino

[2017-11-29 22:05] #7897 closed

[2017-12-01 15:42] systimotic commented on #7895
As @spezzino mentioned, a default image was added in that PR. It's the image at this URL: https://s3.amazonaws.com/freecodecamp/freecodecamp-square-logo-large.jpg

The reason this image isn't showing up in a card is because it returns a 403 on all requests, even with `freecodecamp.org` as origin. I'm not sure why this is happening.

It should be updated to a working image here:
https://github.com/

[2017-12-01 20:34] QuincyLarson commented on #7895
@systimotic Awesome! I've updated the asset on S3 and now it's working. Great job, @spezzino! Thanks everyone!

[2017-12-01 20:34] #7895 closed

[2017-12-01 20:36] QuincyLarson commented on #7897
@spezzino Awesome! Thanks for fixing this.

[2017-12-01 20:43] QuincyLarson opened #7910 "Meta OG image doesn't work when there's already an image but it's too small"
Some articles have images - and thus the meta data won't fall back to our default image: https://s3.amazonaws.com/freecodecamp/freecodecamp-square-logo-large.jpg

This is related to https://github.com/freeCodeCamp/guides/issues/7895 which @spezzino recently fixed.

For example:

![sharing_debugger_-_facebook_for_developers](https://user-images.githubusercontent.com/985197/33502370-60ec9c74-d6a5-11

[2017-12-01 21:39] QuincyLarson commented on #267
@erictleung The observation that these buttons are near the top on Wikipedia and the MDN is an important one. In that case, I think we should stick with convention and keep the buttons near the top, though I do think the button should be right-adjusted.

[2017-12-02 04:47] nsuchy commented on #267
@QuincyLarson The demo I posted was done using inspect element as a proof of concept. When implementing the actual button it can be right-aligned.

[2017-12-02 04:48] nsuchy commented on #5175
@Bouncey Did you ever to get adding the stubs?

[2017-12-02 17:16] adiparab14 opened #7913 "Incorrect url in Contributing.md"
In Contributing.md, in the Table of Contents, the url for Closing Templates for Reviewing PR's is incorrect
---

- [X] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2017-12-02 17:17] adiparab14 commented on #7913
Current it is pointing to the Closing under the Getting PR accepted topic

[2017-12-02 19:25] ArmenGabrielyan16 commented on #7913
@adiparab14 Thank you. I addressed this issue in PR #7914.

[2017-12-03 11:40] #7913 closed

[2017-12-03 13:08] zoubiforat opened #7915 "A little Mistake :3"
Under "Object Oriented and Function Programming" -> "Make Instances of Objects with a Constructor Function":
this is written in the yellow box
[code]
but i think how i understood, it should be :
[code]

_Formatting edited by Timo_

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposin

[2017-12-04 22:34] Bentley912 commented on #4517
Just created a pull request for this

[2017-12-04 23:05] Ethan-Arrowood commented on #4517
Can you send the link for tracking please

[2017-12-05 00:25] Bentley912 commented on #4517
What link are you talking about?

On Dec 4, 2017 6:05 PM, "Ethan Arrowood" <notifications@github.com> wrote:

[2017-12-05 00:26] Ethan-Arrowood commented on #4517
Of your pull request. When it is eventually merged we will want to close this issue.

[2017-12-05 02:12] Bentley912 commented on #4517
https://github.com/freeCodeCamp/guides/pull/7921

[2017-12-07 07:15] jp-sauve opened #7925 "Intermittent Netlify failures"
Netlify builds failing occasionally, requiring a manual restart.

It looks like node is giving "ENOSPC" error, which is a full filesystem, or could be that there are not enough free inotify file watchers available to do what you're doing.

There is advice and a brief description here:
https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details

If this isn'

[2017-12-07 07:18] Ethan-Arrowood commented on #7925
There is also an aspect of timing here. I noticed this evening after powering through some PRs that Netlify will backup and won't trigger on resolved conflict merges. It creates an illusion that the PR is ready to be merged, but it simply hasn't triggered the Netlify build script.

[2017-12-07 11:02] adiparab14 opened #7926 "HTML not correctly visible for HTML->Elements->Li Tag"
HTML not correctly visible for HTML->Elements->Li Tag
![image](https://user-images.githubusercontent.com/1599508/33712040-4d299e76-db46-11e7-88b6-1069ecf0ec1d.png)
Screenshot is for one sitation. There are multiple situations in the article.
---

- [X] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *I

[2017-12-07 12:28] systimotic commented on #7915
Hi @zoubiforat!

I believe you're talking about https://www.freecodecamp.org/challenges/make-instances-of-objects-with-a-constructor-function, which is a part of the core freeCodeCamp curriculum, not the Guide.

For help with the challenges, please use the forum: https://forum.freecodecamp.org/

Happy coding!

[2017-12-07 12:28] #7915 closed

[2017-12-07 12:34] systimotic commented on #7926
Good catch @adiparab14!

This is related to https://github.com/freeCodeCamp/guides/issues/587. In summary, HTML in code blocks is rendered instead of displayed as code if the language is not specified.

For now, this could be fixed here by specifying the language on the broken code blocks (changing the opening "``\`" to "```html"). Do you want to submit a PR for this @adiparab14?

[2017-12-07 16:04] adiparab14 commented on #7926
@systimotic Submitted a PR

[2017-12-07 17:43] #7926 closed

[2017-12-07 17:48] systimotic commented on #7925
Thanks for reporting this @jp-sauve.

Some impacted PR's were shared on Gitter: https://github.com/freeCodeCamp/guides/pull/2830 https://github.com/freeCodeCamp/guides/pull/2848 https://github.com/freeCodeCamp/guides/pull/2840
The build logs: [log 1](https://app.netlify.com/sites/guide/deploys/5a288d58df99531830caa9cb) [log 2](https://app.netlify.com/sites/guide/deploys/5a2890eca114777f58d1ff7b) [

[2017-12-07 20:48] #7884 closed

[2017-12-07 21:46] systimotic commented on #7910
According to https://developers.facebook.com/docs/sharing/best-practices/#images, the minimum image size is 200 x 200 pixels. Figuring out the size of the images at build time will be challenging 😄

[2017-12-07 22:17] brycekahle commented on #7925
Hey folks, it looks like gatsby had a [bug](https://github.com/gatsbyjs/gatsby/issues/1958) that was fixed in `1.9.17`. Can you try upgrading?

[2017-12-08 09:18] chotuaashiq commented on #7787
@jp-sauve I think that the https://guide.freecodecamp.org/vim/modes page can be merged with the https://guide.freecodecamp.org/vim/useful-commands page and then make it a single page, which will be containing both the modes as well as the commands. It will reduce (almost nullify) the duplicated content as well as the number of pages to be maintained will also be reduced.

[2017-12-08 09:23] chotuaashiq commented on #7863
@jp-sauve can you please give more details of what is to be done in this issue. I want to work on this issue.

[2017-12-08 14:12] 1andee commented on #7885
Resolved in #7932

[2017-12-08 14:12] #7885 closed

[2017-12-08 15:25] systimotic commented on #7925
Thanks @brycekahle! I actually came across that issue, but I didn't realize it could be related to this.

Unfortunately, we currently can't update to a newer version of Gatsby because of https://github.com/gatsbyjs/gatsby/issues/1979 (still an issue in 1.9). 1.9.17 does not work anymore because of incompatible dependency versions, and any version after it has the call stack issue.

Looking into it

[2017-12-08 16:58] brycekahle commented on #7925
I'll take a look and see if I can contribute to getting that issue fixed. Sounds like you are pushing the limits of Gatsby. 😄

You may be right here. I do find it odd that gatsby is using `inotify` during a production build. Those are usually only used for "watch" style operations. I wonder if their usage has been removed in future versions too.

[2017-12-08 18:07] chotuaashiq commented on #7832
@Bouncey  I would like to work on this issue. Can you give me some more details as of what is to be done so that I can complete the issue :) .

[2017-12-09 03:44] thepriefy commented on #7787
@chotuaashiq @jp-sauve Should I move the content from 'useful-command' page and move it to 'modes' page so I don't need to create a new page?

[2017-12-11 21:03] QuincyLarson commented on #7910
@systimotic We just need to make sure at least one image per page is 200x200px. Perhaps we could figure out a way of adding the image dimensions as an attribute on the image tag to speed up future builds?

[2017-12-12 09:48] #68 closed

[2017-12-12 09:48] #161 closed

[2017-12-12 10:54] #232 closed

[2017-12-12 14:17] Bouncey commented on #299
Just further this

Firefox Quantum has a frame limit of 5712 on Ubuntu
Where chrome has a limit of 12578

Which make no sense. Chrome still refuses to render anything, but firefox doesn't even blink and carries on as expected

[2017-12-12 17:53] Gabogg07 commented on #310
Hello @juanluischaurant i am interesting in working with you in translating to spanish. I dont know how much work is already done in this area, but i can always start at least with the readMe file. I checked that in the translation folder there is only Polish

[2017-12-12 23:07] quantuumsnot commented on #299
Can someone check what is the actual call stack limit per browser tab while some other active tabs demand more run-time active handles/threads? Is it possible that freeCodeCamps engine stalls when more resource hungry tab(s) kicks in?

[2017-12-15 03:32] jp-sauve opened #7950 "Code Coverage in wrong location"
It seems to me that an article about code coverage should be in the software engineering section. Right now it's https://guide.freecodecamp.org/developer-tools/code_coverage but it's not a "tool" in the manner of the other pages in this category. I have merged #2983 but now one of the pages needs to be moved or deleted.

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is

[2017-12-16 17:57] johnkennedy9147 commented on #7910
@QuincyLarson @systimotic As an interim solution we could always use the default image.

Sometimes images within the article are not going to make good sharing images anyway, maybe the best long term solution is to get a good graphic made specifically for the og:image for guides which is then used on all articles. Or maybe something that combines a common guides image with the article title so its

[2017-12-17 09:52] chotuaashiq commented on #7950
@jp-sauve Yes the code coverage article in the tools should be deleted . Should I open a PR?

[2017-12-19 04:45] jp-sauve commented on #7950
Sure, that would be great! That is assuming there isn't one in the works right now.  :)

[2017-12-19 18:05] QuincyLarson commented on #7910
@johnkennedy9147 I see what you're saying. I think we should have the goal of finding a relevant web comic or other fun large image to include in every page. That way, these will be a lot more appealing. It's OK if some of these are reused on multiple articles. XKCD and CommitStrip have some great ones that should look good as the article's OG image.

Would you be interested in helping find approp

[2017-12-19 22:41] johnkennedy9147 commented on #7910
@QuincyLarson Sorry, to clarify, you are saying to embed an image in each article, which would be then used for the OG image?

I know a good one to use whenever an article talks about browsers 😃
![browser choice](https://www.commitstrip.com/wp-content/uploads/2017/11/Strip-Firefox-650-finalenglish.jpg)

[2017-12-20 05:26] KyleAMathews commented on #7925
Hey y'all! There was several PRs recently which should help out with your larger site :-)

* https://github.com/gatsbyjs/gatsby/pull/2969
* https://github.com/gatsbyjs/gatsby/pull/3218
* https://github.com/gatsbyjs/gatsby/pull/3218

Would love to see if the latest Gatsby is working for ya!

[2017-12-20 06:31] QuincyLarson commented on #7925
@KyleAMathews Awesome! Thanks for the heads-up, and for everything you're doing with Gatsby! Loved your Jam Stack Podcast interview!

@Bouncey Could you take a look at these PRs when you get a chance?

[2017-12-20 06:34] QuincyLarson commented on #7910
@johnkennedy9147 That's a great one!

Yes - to clarify, I think we should strive to have a fun or relevant image on every page of the guide, though realistically, people will gradually add these over the coming year or two organically.

I think we can leave the code as it is currently, and as these images are added, more and more of the Twitter / Facebook cards for articles will start to look bett

[2017-12-20 06:34] #7910 closed

[2017-12-20 08:46] lsenta opened #7953 "Absolute / Relative URL mistake in search results"
Hi there, thanks for providing this guide.
The links in the search results are malformed:

1. visit https://guide.freecodecamp.org/search
2. type something (`database`)
3. The result links to: `https://guide.freecodecamp.org/https://guide.freecodecamp.org/computer-science/databases/graph-databases`

I guess the code switching from relative to absolute URLs was mishandled.

[2017-12-21 23:05] systimotic commented on #7925
Hi @KyleAMathews! Thank you for all of the hard work you've put into Gatsby ❤️

I tested this with gatsby@1.9.146. It runs perfectly in Firefox, and also builds fine if I allocate the extra memory, but https://github.com/gatsbyjs/gatsby/issues/1979 is still present in the latest stable Chrome (63).

Here's where it gets really weird: This issue did not appear in Chrome Canary when its version was

[2017-12-29 18:57] #897 closed

[2018-01-01 10:44] amandeepmittal commented on #7878
I agree, a good introduction will be great use!

[2018-01-01 13:26] vikramnr commented on #5959
@thomaskuntzz @Bouncey  Has anyone started this?

[2018-01-01 15:50] thomaskuntzz commented on #5959
No, it was just an idea, I'm not working on this

[2018-01-03 20:10] username1001 opened #7978 "Security: Add tails/Kali OS articles"
Not sure if this will go under the stub: sercurity tools. But perhaps these tools could use their own article(?)

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-01-05 14:48] vikramnr commented on #5959
@Bouncey  So what is that we need to add in this article. Any languages in particular

[2018-01-05 16:13] antigone2 commented on #7953
Cmon guys, you have hrefs like "href="/https://guide.freecodecamp.org/miscellaneous/getting-started-with-sass".

Second problem: if you are the bottom-est level, meaning reading targeted article, the search won't work.

[2018-01-07 00:16] #7842 closed

[2018-01-07 00:17] johnkennedy9147 commented on #7842
merged #7880 issue resolved

[2018-01-09 18:09] jp-sauve commented on #5959
@vikramnr I think all mark-up languages should be included, but reorganization should wait until the bulk of the outstanding pull requests are dealt with. Trying to change structure now just makes existing submissions even more difficult to deal with, in my opinion.

[2018-01-17 20:58] ShinduHub commented on #7863
https://www.google.de/search?q=html+mark+deprecated+code&oq=html+mark+deprecated+code&aqs=chrome..69i57.11077j0j7&client=ms-android-huawei&sourceid=chrome-mobile&ie=UTF-8
Google is your friend

[2018-01-19 08:33] thomaskuntzz opened #8006 "Plans for a CMS?"
Hi, I'd like to know if there is a plan to use some sort of CMS for the freeCodeCamp Guide. I saw a solution based on Netlify CMS being evoked [here](https://github.com/freeCodeCamp/guides/pull/22#issuecomment-308833675) and [there](https://github.com/freeCodeCamp/guides/issues/16#issuecomment-308679342), is it still being envisioned or discussed?

I'd be interested to know about such a solution i

[2018-01-19 23:18] johnkennedy9147 commented on #8006
@QuincyLarson to comment

[2018-01-20 18:58] QuincyLarson commented on #8006
@thomaskuntzz @johnkennedy9147 We are planning to add Netlify CMS to the Guide in the near future. @Bouncey is going to work on integrating this as soon as we ship beta. If you want to see this in action, here's a nice blog post with a video that shows the CMS in action: https://kalinchernev.github.io/admin-ui-gatsby-static-site-generator/

[2018-01-21 09:17] thomaskuntzz commented on #8006
Cool, I'm curious to see how it will look once shipped!

[2018-01-21 09:47] thomaskuntzz opened #8010 "Why external hosting for images?"
I saw [here](https://github.com/freeCodeCamp/guides/blob/master/CONTRIBUTING.md#images) that we have to upload images to an external image hosting service. Why is that? Why can't we just put them in the git repo alongside with the articles? Would it make the repo to big or is it for some other reason?

I think it would be good to explain why you ask to do that in the CONTRIBUTING.md, where it is a

[2018-01-22 09:27] thomaskuntzz commented on #8006
Especially, how are you going to handle authentication? To my knowledge, Netlify CMS requires to create an account in order to edit content. Do you have a workaround for this, or do you consider that it will still be easier than GitHub for a non-developer audience?

I think that's the main problem for the wiki use case: the software has to be designed to allow editing from anyone, and to work well

[2018-01-22 18:14] jp-sauve commented on #7863
@ShinduHub I'm not sure which result you're pointing to. This is more of a design decision for site consistency. I haven't seen a way, using mark-up, to mark code in the guide as deprecated. I'm not looking to mark active code as deprecated.

[2018-01-22 21:06] QuincyLarson commented on #8006
@thomaskuntzz I'm not sure whether it will be possible to get around creating a Netlify account. Considering you can auth into Netlify GitHub, even if that's required it shouldn't be a huge hurdle to contributing. @Bouncey will investigate this when we get to that step :)

[2018-01-22 23:50] Bouncey commented on #8006
At the minute netlify support google and github OAuth, as well as email verification. They also offer some form of role management (writers, editors, publishers ...).

It will hopefully make it easier to contribute to the guide for people to cannot/do not want to use git.

[2018-01-23 00:52] QuincyLarson commented on #8006
@Bouncey OK - great. Thanks for the additional explanation.

@thomaskuntzz people who want to use Git will still be able to submit changes through pull requests manually, too.

[2018-01-24 07:17] itsmadhusudhan commented on #8010
In my opinion it's right to host the images outside the git repository because
1. Repository size will increase and people who pull  it to their local system to make changes end up downloading all images, which is not so good.
2. It's also easy to change the image if we want to by just changing the image url than putting the new image into the repo.
May be it can be explained there to give more cl

[2018-01-24 07:27] thomaskuntzz commented on #8010
Okay, cool, thanks, I'll add it to the CONTRIBUTING.md then

[2018-01-24 15:31] systimotic commented on #7950
I'm closing this as this has been resolved, thanks @chotuaashiq and @jp-sauve!

[2018-01-24 15:31] #7950 closed

[2018-01-24 18:21] thomaskuntzz commented on #8010
Fixed by 8e81717

[2018-01-24 18:24] thomaskuntzz commented on #8006
Cool, thanks for the answers!

Should we close this? It mas more of a question than an actual issue...

[2018-01-24 18:24] johnkennedy9147 commented on #8006
Had a play with Netlify CMS today. I think it will work well for making it easier for people to contribute to Guides.
@thomaskuntzz should be good for your wiki too - very low barriers to entry for non-technical people

[2018-01-24 18:27] thomaskuntzz commented on #8006
Sure, much lower barriers to entry than GitHub, especially with Google OAuth, but I would love to see a headless wiki engine that doesn't even require to create an account at all, exactly the same way that Wikipedia allows anyone to edit content anonymously. Even lower barriers to entry: you just click edit and make your change, no account required. But to my knowledge, this doesn't exist right no

[2018-01-24 21:29] QuincyLarson commented on #8006
@johnkennedy9147 Awesome! I'm glad to hear you got a chance to play with it, and you think it's a good fit :)

@thomaskuntzz Wikipedia is a bit different in that there might be reasons why you'd want to be able to anonymously edit an article (especially in some countries, for some topics). For the guide, I doubt there will be anything too controversial in there. Since these are coming through PRs

[2018-01-24 21:29] #8006 closed

[2018-01-25 09:55] systimotic commented on #8010
@thomaskuntzz Can you please undo this commit and open a PR instead?

@Bouncey Do you have any input on why we're asking people to host images outside of this repo?

[2018-01-25 11:05] thomaskuntzz commented on #8010
Sure, I used the web editor to make this commit and I expected it to create a PR, but as I now have write access it committed directly...

I would have to make a new commit to revert the change and then open a PR, is that right?

[2018-01-25 11:28] systimotic commented on #8010
@thomaskuntzz Yep 😃 You can [use GitHub desktop to revert the commit](https://help.github.com/desktop/guides/contributing-to-projects/reverting-a-commit/), or [git revert](https://git-scm.com/docs/git-revert)

[2018-01-25 11:31] thomaskuntzz commented on #8010
Just figured that out, thanks! So I reverted my change: d503565

[2018-01-25 11:39] thomaskuntzz commented on #8010
I opened a PR for this: #8013

[2018-01-25 22:28] #7953 closed

[2018-01-29 11:30] #328 closed

[2018-01-29 15:22] thomaskuntzz opened #8028 "Broken breadcrumbs in search results"
#751 added the path of the articles showing up in the search results. However, the breadcrumb with the path doesn't show up right. There's this weird `Https: >  > Guide.freecodecamp.org >` prefix now in all the paths on the search results...

<img width="1280" alt="screen shot 2018-01-29 at 3 33 45 pm" src="https://user-images.githubusercontent.com/16361470/35515690-1e339944-050a-11e8-85b3-285e9eb

[2018-01-29 15:38] dhanushuUzumaki commented on #8028
Found the issue. The breadcrumb component is just doing its job as usual but while it's making the pathMap the following url https://guide.freecodecamp.org/git/gui-options is mapped as follows.
"":{path: "/https:/", title: ""}
git:{path: "/https://guide.freecodecamp.org/git", title: "Git"}
gui-options:{path: "/https://guide.freecodecamp.org/git/gui-options", title: "Gui Options"}
guide.freecodecam

[2018-01-29 16:35] thomaskuntzz commented on #8028
I'm not familiar with the code itself but looks like what you're saying makes sense...

[2018-02-01 08:55] systimotic commented on #8028
Good find @dhanushuUzumaki!

This changed when we switched to the npm package for the search (so we could reuse it on other freeCodeCamp projects) instead of having the code locally. When we did this, we also had an issue where links were `https://guide.freecodecamp.org/https://guide.freecodecamp.org/[category]/[article]` 😄

We didn't catch this in the PR because your branch did not have these new

[2018-02-01 14:49] dhanushuUzumaki commented on #8028
@systimotic Sure I would love to.

[2018-02-02 20:13] thomaskuntzz opened #8045 "Search results vanish when search bar loses focus"
I noticed that the search results vanish when the search bar loses focus. Is it the expected behavior? I find it really annoying, and as a bonus is makes the search results impossible to inspect in the browser...

Why don't the search results stay there nicely when I click somewhere outside the search bar?

[2018-02-02 20:18] thomaskuntzz opened #8046 "Search results: article title and excerpt still underlined when hovering only the breadcrumb"
A breadcrumb has recently been added to the search results (#751). I noticed that when I hover the breadcrumb underneath an article title in the search result, everything is underlined, while I would expect only the breadcrumb to be underlined. That is, the article title and excerpt are underlined even when I'm only hovering the breadcrumb (see screenshot below and notice the position of the point

[2018-02-03 11:19] amandeepmittal commented on #79
I am up for it. Lots of stuff like basic React stuff and some advance stuff or 'where to fo section' which briefly explain use cases of static site generator like Gatbsy and going fullstack with GrapqhQL/Apollo/Meteor/Vulcanjs?

[2018-02-04 17:56] pridemusvaire commented on #8045
That's a valid point, I would want to click on other parts of the page and still see my search results.

[2018-02-05 17:47] pridemusvaire opened #8052 "React native - expo.io"
Need to add a guide about expo.io, it's a framework which makes it easier to build react native apps.

`https://expo.io/`

[2018-02-07 17:48] prankshaw commented on #7978
Create Kali linux.md issue#7978 #8056 issue solved

[2018-02-07 23:04] 321zeggy commented on #8045
I think this is happening because of the [`handleBlur()`](https://github.com/freeCodeCamp/react-freecodecamp-search/blob/e94dcf46a19a652536cf709ccd88621ce72e24a4/src/FCCSearchBar.js#L81) method in the `react-freecodecamp-search` module.

[2018-02-09 14:42] #8010 closed

[2018-02-09 18:46] danedavid commented on #79
any updates on this ?

[2018-02-09 19:20] nsuchy commented on #79
@danedavid Not at the moment, GitHub will show a message here if someone makes a pull request in reference to this issue. We welcome contributions from beginners and experts alike. Developing content takes time we'll keep this issue filled with any updates that come up.

@amandeepmittal That's awesome, can't wait to see any PRs you do related to React 👍

[2018-02-11 02:09] jaketripp opened #8064 "Selection sort is currently listed under search algorithms"
https://guide.freecodecamp.org/algorithms/search-algorithms/selection-sort
https://guide.freecodecamp.org/algorithms/sorting-algorithms/selection-sort

Not a huge issue, obviously, but might be confusing to beginners
---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content t

[2018-02-12 04:45] rdev0rigin commented on #8046
Done https://github.com/freeCodeCamp/guides/issues/8066

[2018-02-14 20:29] systimotic opened #8071 "CSS is not loading"
The CSS is not loading right now on https://guide.freecodecamp.org/
![20180214_21-08-26_firefox](https://user-images.githubusercontent.com/7262039/36225515-315625b4-11cb-11e8-90f8-4ee47ea2b529.png)

Reported by @erictleung on Gitter ([here](https://gitter.im/FreeCodeCamp/Contributors?at=5a84918593be87284db99a30)) and confirmed by @Asjas.

As far as I could find, the last working production version

[2018-02-15 00:04] #8064 closed

[2018-02-15 00:40] systimotic commented on #8071
It looks like @Bouncey just fixed it! 🎉
Can you confirm (and maybe elaborate a little bit on what the problem was and how you fixed it)?

[2018-02-15 00:57] Bouncey commented on #8071
Netlify bumped the yarn version from 0.18.1 to 1.3.2, whatever changes that brought in, our build cache was out of date and something broke.

I cleared the cache and rebuilt master, which worked.

I then merged a PR to check the build cache was still valid, and that built successfully too.

I have locked us in to yarn@1.3.2 via build env variables

Auto publishing is back on and it seems that ever

[2018-02-15 00:57] #8071 closed

[2018-02-15 20:38] nsuchy commented on #587
Does this happen even when you use,
[code]
to start your code block? For now we can at least limit the issues impact as maintainers, however I'd be interested in finding which code makes html not render when using the above method and backporting to the plain text code blocks.

[2018-02-15 20:39] nsuchy commented on #7832
@chotuaashiq Are you still interested in helping with this issue?

[2018-02-17 08:30] bdeshi opened #8074 "Mixed indented and fenced code blocks"
Some code blocks have extra spaces before each line.

Examples of good codeblocks:
* https://guide.freecodecamp.org/javascript/async-messaging-with-rabbitmq-tortoise
* https://guide.freecodecamp.org/javascript/html-dom-innerhtml-property

Examples of not-so-good codeblocks:
* https://guide.freecodecamp.org/javascript/window-settimeout-method
* https://guide.freecodecamp.org/css/css-position

Maybe

[2018-02-17 09:59] chotuaashiq commented on #8074
@smsrkr I claim this issue

[2018-02-17 10:10] smsrkr commented on #8074
Thanks, but I listed those pages only as examples. there are _a lot_ of such mixed blocks throughout the guide.

BTW, I'm already working on it.

[2018-02-17 19:31] smsrkr commented on #587
I can confirm adding a syntax name after the starting ` ``` ` ~~solves~~ works around this issue.

[2018-02-18 00:30] nsuchy opened #8077 "Javascript Arguments - possible content issue"
The javascript arguments guide article (https://guide.freecodecamp.org/javascript/arguments) states that `The arguments object is an array-like object (meaning that it looks like an array but it’s not) that stores all of the arguments that you passed to a function and is proprietary to that function in particular. ` although I see a few possible problems with this.

* When running the function in

[2018-02-18 11:10] johnkennedy9147 commented on #8077
I think it is correct to use "array-like". The arguments object is an array-like object in that the properties are accessed via an index rather than a property name. But it is not an array (which are special types of objects) and so the array methods are not available to use on it.

The notation obj[0] is equivalent to obj["0"] but only where the object property name is a number (this may be an ex

[2018-02-19 02:34] nsuchy opened #8081 "Elixir/Phoenix Nav Position"
In the guide for Elixir, the Phoenix framework is a sub category of it, in JavaScript, React & Node are not sub categories of JavaScript, for consistency I think Phoenix should be a root category. Can I make these changes?

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new

[2018-02-19 07:06] vidhya03 opened #8082 "Related to #5791 - search does not working"
This is similar to #5791. i couldn't reopen that issue hence submitting now

[2018-02-19 15:39] johnkennedy9147 commented on #8082
@vidhya03 Search is working fine for me, could you provide any further information?

For Example:
Confirm you are still experiencing the issue?
What OS and Browser (inc version) you are using?
Your location?
What you were doing on the site, eg navigated to main page directly and tried to search, or viewed an article then tried to search ...

thanks

[2018-02-19 15:46] johnkennedy9147 commented on #8081
@nsuchy We are planning on making sub-categories within JavaScript for React etc but due to the large number of outstanding PRs the PR was blocked pending clearance of the backlog. I'll revisit the structure issue in JavaScript and resubmit my PR some time in the future.

Having too many root categories makes for a bad UI.

[2018-02-19 15:50] nsuchy commented on #8081
Thank you for making me aware of that - so if I understand correctly we'll be grouping things like bootstrap with CSS, React & Angular under JS, etc?

[2018-02-19 15:52] johnkennedy9147 commented on #8077
merged  PR #8079 - closing this issue

[2018-02-19 15:52] #8077 closed

[2018-02-19 16:15] johnkennedy9147 commented on #8081
@nsuchy Exactly.  There is an issue regarding Navigation structure #414. I'll close this issue now.

[2018-02-19 16:15] #8081 closed

[2018-02-20 09:35] systimotic commented on #8071
Thanks for fixing this @Bouncey! 🎉

I just checked and noticed that there is [something in the Netlify docs about the build cache](https://www.netlify.com/docs/build-gotchas/#build-cache) that I didn't see before.
Did you already get in touch with Netlify support? We might want to make them aware that this can happen when they update Yarn. They should probably clear build caches automatically on a

[2018-02-20 09:51] systimotic commented on #8082
Thanks for reporting @vidhya03!

It works fine here as well 😕 It may have been a temporary outage on the search server. I pushed an update to the search page a couple of minutes ago, maybe that fixes your issue?
Can you confirm whether it's still broken? If it is, please share the information requested by @johnkennedy9147

[2018-02-20 09:51] #8028 closed

[2018-02-20 13:56] systimotic commented on #8045
I agree, this is really annoying. I've been playing around with this a bit to see if I can get it to only clear when you browse to a different page, but it's quite difficult as Gatsby doesn't really allow interacting with react-router.
I'll play around with it a bit more, but if anybody else comes up with a fix in the meantime, feel free to create a PR!

[2018-02-21 22:37] johnkennedy9147 commented on #7925
this seems to have gotten worse - now if there are concurrent deploy preview builds running, the second will fail every time. Interestingly the production builds seem to be fine with multiple running concurrently. Is there any difference in the configuration, resources ... ?

[2018-02-24 06:19] Bouncey commented on #7925
We have tried upgrading multiple times. But we have an issue with chrome 63 giving itself a stack-overflow, but all other browsers are fine.

I can try again after the beta release

[2018-02-25 05:54] QuincyLarson commented on #7925
@Bouncey Thanks for looking into this. When you say "beta release" you mean of beta.freecodecamp.org?

[2018-02-25 10:01] Bouncey commented on #7925
So, after a bit of digging, this issue goes as low down as a node issue. On Linux, node fs uses inotify to watch files/directories, this has a limit of 8192 watchers. The max listeners can be raised, but that requires root privileges, which we do not have access to inside the netlify build image.

We may have to rethink our implementation.

[2018-03-06 20:35] jp-sauve commented on #8074
@smsrkr I accepted #8075 which fixes the two pages you listed, but leave the issue open for the rest of the fixes. Are you still working on this?

[2018-03-07 16:10] smsrkr commented on #8074
yup. I'm just waiting for #8086 to be merged.

[2018-03-09 14:30] anandpotukchi opened #8094 "Would like to be assigned to writing Elixir guide"
I wish to edit the Elixir stubs.

[2018-03-11 16:31] johnkennedy9147 commented on #8094
Hi @anandpotukchi No need to ask, just go ahead and edit any stubs or articles you wish. Then submit pull requests to submit. I recommend checking for pending PRs on any article you wish to edit, and reviewing CONTRIBUTING.md to ensure you conform to the necessary guidelines. There may be a significant delay before we get a chance to review your contribution(s) as we have a significant number of p

[2018-03-11 16:31] #8094 closed

[2018-03-12 01:08] sw-yx opened #8096 "Why are there 2848 open pull requests?"
hi! i'm new here and im just wondering what the governance of this repo is. Are you actively accepting PRs or no? That matters to me as a potential contributor. thank you!

[2018-03-12 05:36] Asjas commented on #8096
Hi @sw-yx. Yes we do accept PRs. We have been actively merging PRs since Hacktoberfest when we had over 6000 PRs.

[2018-03-12 15:00] raisedadead commented on #8096
Hi @sw-yx please consider asking queries in
[Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2018-03-12 15:00] #8096 closed

[2018-03-12 15:02] raisedadead commented on #8082
Closing pending further updates from OP.

[2018-03-12 15:02] #8082 closed

[2018-03-14 18:10] raisedadead opened #8097 "Update Yarn install instructions."
Yarn installation instructions in the contributing guide are not update to date with the latest recommended way.

https://github.com/freeCodeCamp/guides/blob/master/CONTRIBUTING.md#running-locally

These should be amended to use setup instructions from here instead:
https://yarnpkg.com/en/docs/install

A one liner pointing to this resource should be OK.

[2018-03-15 06:53] smsrkr commented on #8074
okay, I'm going to follow the advice on 8086 and submit _patches_ in _batches_ :grin: -- adding missing labels and removing extra indent, both at once.
should I close this as well?

[2018-03-15 11:09] cubiio commented on #8097
Hi @raisedadead - I'd like to help out with this one.

[2018-03-15 11:30] raisedadead commented on #8097
Yes please @cubiio !

[2018-03-15 17:10] erictleung commented on #587
## **Note**

To all planning on working on this, please make small, manageable changes so it'll be easier for you to make changes and for us to review it.

In your pull request, **do not** have `Fix #587` in your pull request unless it really is the last set of fixes. Please **do** have something along the lines of `Ref #587` (so that it doesn't automatically close this issue) in your pull request

[2018-03-21 20:41] chotuaashiq commented on #7832
@nsuchy @Bouncey I didn't get any clear insight of what is to be done. If you can explain it to me then I will surely do the issue

[2018-03-24 06:09] palash25 opened #8110 "Add verifying git commits article"
**How to verify git commits with gpg signature** would make a nice addition to the guides.

This could be a nice issue for beginners to dive into git and make their first open source contribution.

I currently don't have time for this issue so I would like a newcomer to take this up. If this issue has no takers in a month or so then ping me and I will submit a PR :wink:

[2018-03-25 04:47] thomas-j-moffett opened #8111 "'line-length' is not a valid CSS property in Typography > Legibility and Readability guide"
I was browsing the guide and happened to read this part of it: https://guide.freecodecamp.org/typography/legibility-and-readability

The issue is with the info in the **Line length** bullet...

As far as I am aware, there is no `line-length` CSS property, and that information should not be in the guide.

I also double checked MDN in case I missed some cool new addition to the CSS spec, and there i

[2018-03-26 16:14] kir486680 commented on #8097
I would like to help too!

[2018-03-26 16:27] #8097 closed

[2018-03-29 06:05] amandeepmittal commented on #8052
I agree.

[2018-03-29 06:14] amandeepmittal commented on #4517
Can we close this issue now? The PR is already merged.

[2018-03-29 08:22] BhaveshSGupta opened #8113 "Change in View"
Currently Scroll bar is there on right had side when the content is smaller then the window.
Because of the property overflow-y:scroll property given to content div.
![image](https://user-images.githubusercontent.com/4209637/38077550-f2b93726-3356-11e8-891a-aefd51708134.png)

Instead if overflow-y:auto is given then scroll bar will appear when content is long.
It is a small css change if required

[2018-03-29 11:09] Bouncey commented on #7925
A reply from Netlify on this on-going issue:

After some investigating locally, our build process currently tops out at 8.186GB of RAM. This is the cause to the once intermittent failures, which are permanent until we can find a way around it.

Currently I am having to build the site locally in order to deploy it.

Closing until we have a viable solution to reduce our build resource consumption by

[2018-03-29 11:09] #7925 closed

[2018-03-31 23:33] #4517 closed

[2018-04-06 01:28] JFernandes1 commented on #8110
Hello! I'm a beginner and would like to help with this issue.

[2018-04-06 04:35] palash25 commented on #8110
@JFernandes1 https://blog.github.com/2016-04-05-gpg-signature-verification/
This might help. :smile:

[2018-04-06 05:51] bkbu1024 commented on #8110
I am willing to take this up, can u give te PR

[2018-04-06 09:15] Asjas commented on #8110
@JFernandes1 You can take the issue.

[2018-04-06 21:33] chrisgoodell commented on #5959
I will take this up, given that it has been sitting for a while. I intend to enumerate several and provide abbreviated examples, but will go into full detail in explaining **Markdown** . It is probably most relevant and immediately useful for beginning web developers.

[2018-04-06 23:47] Asjas commented on #5959
@chrisgoodell Thank you 👍

[2018-04-08 16:04] nsuchy opened #8123 "Missing favicon images"
While preparing another issue related to favicons and adblockers (will be added soon), I noticed that some of the favicons are missing from the current AWS S3 bucket. These images should either be added to the S3 bucket or we need to remove them from meta to avoid unnecessary HTTP requests.

**List of missing favicon images**
- https://s3.amazonaws.com/freecodecamp/favicons/mstile-150x150.png
- ht

[2018-04-08 16:05] nsuchy opened #8124 "Favicon(s) blocked by some adblockers"
I have noticed that the favicon(s) are being blocked by some adblockers. When we first implemented the favicon(s), we linked to freeCodeCamp's existing S3 Bucket (Ref: https://github.com/freeCodeCamp/guides/pull/118). What would be the pros and cons of hosting the favicons directly on the guides server? Should we adjust this to accommodate for those users or leave it as is?

[2018-04-08 20:22] ASrima opened #8125 "CREATING A PULL REQUEST"
I am trying to clone the repository on my computer but it keeps saying permission denied and then again tried to add the remote repository but it does not allow me to push the commit

---

![screen shot 2018-04-08 at 4 20 39 pm](https://user-images.githubusercontent.com/26333574/38472112-f774aa62-3b48-11e8-9cab-4ccda0363844.png)

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3A

[2018-04-08 21:35] Bouncey commented on #8125
Hi @ASrima Be sure you are pushing to your fork of the guide and not freeCodeCamp/guides

`git remote -v` should tell you were your `origin` is pointing, it should be something like

[code]

[2018-04-09 20:25] ASrima commented on #8125
Hi @Bouncey I tried doing that too but it didn't work.
![screen shot 2018-04-08 at 7 14 28 pm](https://user-images.githubusercontent.com/26333574/38521079-99c1f526-3c12-11e8-9066-37c137e8f430.png)

[2018-04-14 22:28] johnkennedy9147 commented on #8111
@thomas-j-moffett I agree, never seen that before and cannot find any reference to it either - would you like to edit the article to remove the reference?

[2018-04-17 21:43] Uberche commented on #8111
Can I do this? Trying to figure out how to help with open source and need something to use to figure out pull requests. :) Have the "guides" section forked, can see where it says that. Do I need to request to change something here first or just change it and then create a pull request with what I did? Can I link the pull request to the issue #?

[2018-04-18 05:58] Asjas commented on #8111
Hi @Uberche,

There are two ways of opening a PR.

First way is to directly edit the page on this repo. It will then give you the option at the bottom of the page to name your PR and to give a description of the changes you made. You can then reference this issue by typing in `fixes #8111`.

Second way to open a PR is by closing this repo and making changes to your copy. You can either do this dir

[2018-04-18 21:34] MauroCoppola commented on #4903
Hi, I'd like to contribute to the Android guide for mobile applications development section. Is it still possible?

[2018-04-19 06:12] Asjas commented on #4903
Hi @MauroCoppola

There is currently a Android Development folder that has been merged since October. You can refer to the [current Android Development Page](https://github.com/freeCodeCamp/guide/tree/master/src/pages/android-development).

This issue will be closed since it seems someone else has created it during Hacktoberfest and we merged their PR. Please feel free however to expand upon it wi

[2018-04-19 06:12] #4903 closed

[2018-04-19 06:13] Asjas commented on #8125
Hi @Asrima

Have you made any progress on cloning the project locally? :smile:

Can we close this issue?

[2018-04-22 16:11] ASrima commented on #8125
Hi @Asjas
Yes I was able to clone it on my desktop thank you for all the help @Bouncey. The github public key messed up my Gitlab key as I cloned both on my desktop and it created an issue but my professor helped me solve the problem so it's all good now.

[2018-04-22 17:44] Asjas commented on #8125
@ASrima Great! I'm glad you got it working.

[2018-04-22 17:44] #8125 closed

[2018-04-27 18:58] azizanaiem commented on #8111
Hey;
This is related to a typography concept than css property. the accurate way to mention this, via controlling font css style and max width of container of the content, you can control the length of line to fit the needed content.
resource: https://blog.prototypr.io/how-to-set-perfect-line-lengths-for-the-web-528f08f8b344

[2018-04-27 20:54] johnkennedy9147 commented on #8111
@Uberche Hi, lets give @thomas-j-moffett another couple of days and if he doesnt raise a PR or comment that he would like to fix this then you can pick it up.
If you do it then make the change in your fork and then raise a pull request, mentioning the issue number #8111 in the commit message or comments. thanks

[2018-05-04 12:02] Pherang commented on #7787
It doesn't look like there's been any updates to this one. I can try if no one's actively working on this.

[2018-05-04 12:07] Asjas commented on #7787
@Pherang Sure you can take this :+1:

[2018-05-04 13:56] Omkar-Ajnadkar commented on #8110
As no one has completed this issue, with PR  #8146. Please review it and suggest if any modifications.

[2018-05-07 23:35] Pherang commented on #7787
@Asjas Thanks, will see what I can do.

[2018-05-12 04:34] smsrkr opened #8152 "Better codeblock syntax recommendation in Style Guide"
In order to avoid #587 in new articles, the style guide can more prominently point out that codeblocks should always be in fenced style (as opposed to plain indented) and must have a syntax label, generic ones like ` ```text` where no proper labels are appropriate.
<sup>(from #8132)</sup>

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the is

[2018-05-12 16:38] nsuchy commented on #8152
I support this change 👍

[2018-05-14 17:25] alinepegas commented on #8152
I agree

[2018-05-14 19:32] smsrkr commented on #8152
I'm not awesome at articulating; how does ^that^ PR read?

[2018-05-14 20:35] #8152 closed

[2018-05-15 04:35] aditya1994 commented on #7878
I can help regarding this. Let's create something?

[2018-05-15 07:31] amandeepmittal commented on #7878
@aditya1994 It is great you want to initiate. You can get started by creating an article then submitting a PR. I am sure we can get other contributors to collaborate from there if there is a need for that.

[2018-05-17 16:18] Pherang commented on #7787
Hi everyone,

I've put in a PR for this. Let me know if it helps and if not, what might work better.
Thanks.

[2018-05-18 00:52] sosmaniac-FCC opened #8158 "Add Angular Articles"
Hello! I noticed the Angular section of the guide was lacking content. I have been reading and practicing Angular 6 for the last week and a half, so I believe I can do something about that. I propose the following topics to explain (might not be able to get to them all):

* CLI and Filesystem (Basic commands to generate/interpret an app)
* Data Binding (How components interact)
* Pipes (Inline out

[2018-05-18 05:11] amandeepmittal commented on #8158
I agree with you. I think Angular section needs to have more articles.

[2018-05-18 05:11] aditya1994 commented on #7878
Okay cool. I'll write a basic one and will then submit a PR.

[2018-05-18 13:22] amandeepmittal opened #8161 "Having two pages on `npm` necessary?"
There are currently two pages on `npm`. One in developer tools ([here](https://guide.freecodecamp.org/developer-tools/npm)) and other under Node.js section ([here](https://guide.freecodecamp.org/nodejs/npm)) for which I have recently submitted a PR #8160.

All I am saying is that IMO there is no need of having two separate pages for `npm`. If, however, under any circumstance, there is a need to fo

[2018-05-19 07:57] pertrai1 opened #8163 "TypeScript Interface"
Would be nice to have a section in TypeScript to detail and explain interfaces. You can assign to me if this is something that would be good to add.

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-05-19 08:02] pertrai1 commented on #319
I see this section now. That should be enough to close this issue should it not?

[2018-05-19 08:03] pertrai1 commented on #79
There is a section now for React. This should be enough to close this issue should it not?

[2018-05-19 15:35] nsuchy commented on #79
@pertrai1 Sometimes issues are kept open for purposes of discussing the development of a new section. For example feedback regarding new pages and changes related to React can be discussed in this central space.

[2018-05-19 16:58] pertrai1 commented on #8158
@sosmaniac-FCC the Angular index.md file has content in it but the page shows as a stub for me. Do you see the same?

[2018-05-20 00:36] sosmaniac-FCC commented on #8161
It think its OK to have npm listed twice under separate categories. I agree with you that having two different pages with similar information regarding npm is excessive. One ought to redirect to the other as you have suggested. Just my 0.02 cents!

[2018-05-20 23:17] sosmaniac-FCC commented on #8158
@pertrai1 Would not be a difficult process since the section lacks content. It is just a matter of approval. The current content is mostly AngularJS, so renaming the section to AngularJS and removing any content pertaining to Angular ought to do the trick.

[2018-05-21 07:32] amandeepmittal commented on #8161
Which one should redirect which one?

[2018-05-21 08:40] ayushpratap commented on #8161
In my opinion the page in Node.js should redirect to developer tools.

[2018-05-21 08:43] ayushpratap commented on #7787
If there is any progress on this then it's okay or else I'd like to take it up.

[2018-05-21 10:44] ayushpratap commented on #7787
I understand that , I am saying if this PR is not accepted and and the PR owner do not work on it further , in that case I will be happy to take it up.

[2018-05-21 11:24] #7787 closed, assigned to nobody

[2018-05-21 11:28] Asjas commented on #8163
Hi @pertrai1

That is a good idea. I am assigning you to it :+1:.

[2018-05-21 18:02] amandeepmittal commented on #8161
@ayushpratap Yes you can take this issue.

[2018-05-22 05:28] pertrai1 commented on #8163
@Asjas I am a little confused. I see a directory under TS from the latest master for interfaces, but I do not see it being displayed in the guide?

[2018-05-22 06:10] ayushpratap commented on #8161
Okay, I will try to submit a PR by tomorrow end of the day.

[2018-05-23 17:00] luandy64 opened #8171 "Broken image link: /mathematics/hexagon"
The very last image needs to be changed. It currently says "Discover pixelbay free images No Hotlinking".

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-05-24 09:59] amandeepmittal commented on #8161
@ayushpratap did you submit the PR?

[2018-05-26 21:49] lupuselit opened #8175 "Translate README.md to Brazilian Portuguese"
I will be translating the readme.md to Brazilian Portuguese

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-05-29 12:13] domwakeling opened #8180 "Fibonacci - two entries"
We presently have two entries in `mathematics` for `fibonacci-sequence` and `fibonacci-number` - suggest they should be merged and one (`number`?) be closed/removed?

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provid

[2018-05-30 02:52] jdk1997 commented on #8123
Hi! Can I work on this issue?

[2018-05-30 18:17] domwakeling commented on #8171
Fixed in PR #8183, although it won't appear on the live site immediately.

[2018-05-30 18:17] #8171 closed

[2018-06-02 09:41] arunikayadav42 commented on #8110
is this issue still open.I would love to contribute :)

[2018-06-02 13:24] A1fus opened #8189 "Tagging with git page very similar to official git page"
The page in this guide called [tagging in git](https://github.com/freeCodeCamp/guide/blob/master/src/pages/git/tagging-in-git/index.md) looks very similar to the official [git documentation on tagging](https://git-scm.com/book/en/v2/Git-Basics-Tagging). As they are very similar, I don't think this page is achieving what this guide set out to achieve and could be re-written to provide an alternativ

[2018-06-04 14:40] domwakeling commented on #3988
#4012 merged

[2018-06-04 14:40] #3988 closed

[2018-06-08 04:57] luandy64 opened #8196 "Duplicate article as a result of a merge conflict"
PR #6143 by @LucaBozzetto has a merge conflict with PR #8036 which was merged earlier this year.

LucaBozzetto's article could likely be preserved in a new article, since he explains the process for doing a conversion between different numeral systems. It seems a little off topic though and the article merged in #8036 seems good.

Creating that new article would require some polishing before a fin

[2018-06-09 16:46] nsuchy opened #8197 "Autoupdate Broken + Slow page load times on yarn dev after a page reload on Windows 10"
After editing an article's content and saving the changes. The content in the browser does not automatically update and a refresh of the page takes about 1 minute. This makes content writing difficult.

**Steps to reproduce issue:**
1) Install Nodejs 8.11.2 with Chocolately on Windows 10 Pro
2) Install Yarn and any other dependencies you may need (for example Python and windows-build-tools)
3) Run

[2018-06-10 15:18] nsuchy commented on #8197
@Bouncey You seem more involved with platform issues - can you take a look at this? Thanks 😄

[2018-06-12 03:53] sosmaniac-FCC commented on #8158
@amandeepmittal Thanks for merging my articles. I really appreciate it. Unfortunately, my next project came on a bit quicker than I had anticipated.

I managed to cover almost all of the article topics I listed. The only thing completely missing is testing. I should have time to finish this up later (~month from now). For now, I am closing the issue.

I did do some research, but there was just not

[2018-06-12 03:53] #8158 closed

[2018-06-12 04:59] amandeepmittal commented on #8158
@sosmaniac-FCC Thank you so much for your effort! 👍

[2018-06-14 18:29] QuincyLarson opened #8201 "freeCodeCamp logo should redirect to www.freecodecamp.org"
Currently clicking the freeCodeCamp logo in the navbar leads back to guide.freecodecamp.org

We want this action to be consistent across all of freeCodeCamp.

![freecodecamp_guide](https://user-images.githubusercontent.com/985197/41430903-ed351394-6fd6-11e8-8dae-12b79a357f5b.png)

[2018-06-14 19:11] Nirajn2311 commented on #8201
Will work on it.

[2018-06-15 13:04] #8201 closed

[2018-06-15 20:29] domwakeling opened #8203 "Consolidate media-query pages"
Propose that the media-query guides be consolidated as follows:
* edit content of `src/pages/css/media-queries` into `src/pages/css/css3-media-queries`
* delete `src/pages/css/media-queries`
* delete `src/pages/css/css3-at-media-rule` (a stub)

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [

[2018-06-16 10:30] Nirajn2311 commented on #206
Is this issue closed?

[2018-06-16 10:38] Nirajn2311 commented on #8161
Is anyone doing this as I can do a PR at the moment.

[2018-06-16 15:37] Bouncey commented on #8113
Closed via #8116

[2018-06-16 15:37] #8113 closed

[2018-06-16 22:06] johnkennedy9147 commented on #319
Issue resolved by #775

[2018-06-16 22:06] #319 closed

[2018-06-16 22:18] johnkennedy9147 commented on #302
article has been created and updated by multiple PRs so closing this issue

[2018-06-16 22:18] #302 closed

[2018-06-16 22:20] johnkennedy9147 commented on #367
closed by #392 and #757

[2018-06-16 22:20] #367 closed

[2018-06-16 22:30] johnkennedy9147 commented on #477
this has been resolved via multiple PRs so closing issue

[2018-06-16 22:30] #477 closed

[2018-06-17 15:05] FrancoB411 opened #8205 "Bug: Certficates > Missing Letters, inermediate solution"
[Missing Letters JS Algorithm, intermediate solution](https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-missing-letters/16023) in the forums and the guides has a bug.

It cannot handle sequential missing letters, so if you had an input of 'abcf', it would only return 'd' instead of 'de'.

I tried to add a comment in [the forum](https://forum.freecodecamp.org/t/freecodecamp-al

[2018-06-17 20:47] Navneet-Sahota commented on #8203
Hey @domwakeling, I would like to work on this.

[2018-06-21 14:14] QuincyLarson commented on #206
@Bouncey I saw you merged a PR - has this been deployed to Search yet?

[2018-06-22 05:23] ChaituVR commented on #298
#8119 Closes this

[2018-06-22 05:23] #298 closed

[2018-06-24 23:27] richsalvucci commented on #8203
@domwakeling I added in the additional links that I thought were useful I will close PR https://github.com/freeCodeCamp/guide/pull/7357.

[2018-06-25 09:08] domwakeling commented on #8203
@richsalvucci just merged your new PR, thanks for looking at this :+1:

[2018-07-03 23:30] shouhui opened #8225 "back ground inoperative, due misspeel "background-color" to "backgroud-color""
Insert description of issue here

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-07-06 04:57] HarleenSethi opened #8231 "commenting on h1 and p"
Insert description of issue here

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-07-06 04:57] #8231 closed

[2018-07-09 04:10] xTrulyForsaken commented on #8110
I would also like to help out.

[2018-07-09 05:00] viniciusarre opened #8245 "Add guidelines for documenting code"
Insert description of issue here

---

Hello!

This is a request for a detailed how to document your own code guide. I have been thinking about it having some best practices when it comes to documentation, how one can get started on documenting their own code.

It should have examples and details on how to document, guidelines to fulfilling requirements through user's stories and a tips on keeping

[2018-07-09 05:56] Asjas commented on #8110
@arunikayadav42 and @xTrulyForsaken

This issue has been resolved in PR #8146. Closing this issue.

[2018-07-09 05:56] #8110 closed

[2018-07-09 15:56] nickmansrob opened #8248 "[BUG] Applied Visual Design, background pattern"
The right solution isn't accepted. Code:
`<style>
  body {
    background: url(https://i.imgur.com/MJAkxbh.png);
  }
</style>`

The preview shows the image correctly.

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-07-09 16:31] Asjas commented on #8248
Hi @nickmansrob.

This is the freeCodeCamp Guide repository. Which is the guide documentation repository.

Please open a issue on the [freeCodeCamp repository](https://github.com/freeCodeCamp/freeCodeCamp/issues/new). That is the correct repository to open the issue. No-one here will be able to assist you.

[2018-07-09 16:31] #8248 closed

[2018-07-11 22:57] aoulouz opened #8258 "Basic CSS: Use Attribute Selectors to Style Elements"
Insert description of issue here

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-07-11 23:11] aoulouz opened #8259 "Basic CSS: Use Attribute Selectors to Style Elements"
Insert description of issue here

-please help me with this thanks.--

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️
![screenshot 16](https://user-images.githubusercontent.com/24766849/42603947-0e43614a-853e-11e8-

[2018-07-12 13:56] sabaeky commented on #8259
hi :)
if you use
`[type='checkbox'] {
  margin: 10px 0px 15px 0px;
  }`
in your style,the code will run correctly.

[2018-07-15 14:36] Asjas commented on #8225
Closing due to no response from @shouhui.

[2018-07-15 14:36] #8225 closed

[2018-07-15 20:14] littleaggieiscoding commented on #8248
Hi @nickmansrob,

have you opened an issue regarding the problem described?

I can't find it in issues, and it seems the problem still exists (although the code is correct- it's not accepted).

[2018-07-15 23:37] Ahmed-Elbessfy opened #8277 "Applied Visual Design: Adjust the Height challenge"
Insert description of issue here

---

In the Adjust Height of the Element using height property, the h4 tag after my solution is like this:

[code]

but still doesn't pass the challenge and asks for changing the height of h4 to be 25px value. Also, I have inpected the elelment properties and its height was equal to 25px.

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+i

[2018-07-16 06:36] Asjas commented on #8248
@littleaggieiscoding

Can you please explain where this issue exists? You are on the guide repository.

I would suggest opening a issue on the actual freeCodeCamp repo and not this guide repo.

[2018-07-16 14:46] Asjas commented on #8277
Hi @Ahmed-Elbessfy

This is the Guide Repository. Please open a issue on the [freeCodeCamp Repository](https://github.com/freeCodeCamp/freeCodeCamp/issues/new) as we do not have any challenges on this repository.

[2018-07-16 14:46] #8277 closed

[2018-07-16 14:47] Asjas commented on #8259
Hi @aoulouz

This is the Guide Repository. Please open a issue on the [freeCodeCamp Repository](https://github.com/freeCodeCamp/freeCodeCamp/issues/new) as we do not have any challenges on this repository.

[2018-07-16 14:47] #8259 closed

[2018-07-16 14:47] Asjas commented on #8258
Hi @aoulouz

This is the Guide Repository. Please open a issue on the [freeCodeCamp Repository](https://github.com/freeCodeCamp/freeCodeCamp/issues/new) as we do not have any challenges on this repository.

[2018-07-16 14:47] #8258 closed

[2018-07-16 16:04] littleaggieiscoding commented on #8248
Hi @Asjas ,

Already checked the actual freecodecamp repo and found the answer (@nickmansrob opened the issue).
Sorry for troubles 🙂

[2018-07-27 05:03] Lakshmiprasannaap opened #8314 "create movement using CSS design"
Insert description of issue here

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️
[checked]
It's an old issue I've corrected it several times., but I cant able to complete this challenge...,its showing bugs
<st

[2018-07-27 10:17] Lakshmiprasannaap commented on #8314
Thank you.,I did it...

[2018-07-27 10:17] #8314 closed

[2018-07-29 17:45] myDeveloperJourney opened #8322 "Error causing test to fail - Create a Horizontal Line Using <hr> tag"
I've attempted solving this exercise several times. There are two possible issues:

- **A** I'm not understanding the question.
- **B** There's an error preventing the test to pass

I checked the console and saw there were errors as well.

I've attached photos as well. I hope this helps.

Thank you!
<img width="1674" alt="screen shot 2018-07-29 at 1 36 32 pm" src="https://user-images.githubusercon

[2018-07-30 00:04] oieusouamiguel commented on #8322
This error is happening to me too. I tried to copy the code from the next lesson, but this error this goes on.
![image](https://user-images.githubusercontent.com/20358128/43372063-f7a310fa-9372-11e8-8a8c-024d39102952.png)

[2018-07-30 01:09] myDeveloperJourney commented on #8322
Thanks for adding this @oieusouamiguel! At least I know I’m not crazy over here ha! Well hopefully we can get this sorted out soon.

[2018-07-30 17:52] Asjas commented on #8322
Hi @myDeveloperJourney

This is the freeCodeCamp Guide repo you are currently on.

I would suggest opening a issue on the [Curriculum](https://github.com/freeCodeCamp/curriculum) or [Learn](https://github.com/freeCodeCamp/learn/issues) repo.

[2018-07-30 17:52] #8322 closed

[2018-07-31 18:10] SadekiSan opened #8327 "Applied Visual Design: Create a Horizontal Line Using the hr Element"
This code can't pass second test:
<style>
  h4 {
    text-align: center;
    height: 25px;
  }
  p {
    text-align: justify;
  }
  .links {
    text-align: left;
    color: black;
  }
  .fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
  }
  .cardText {
    margin-bottom: 30px;
  }
</st

[2018-07-31 19:01] Asjas commented on #8327
Hi @SadekiSan

This is the freeCodeCamp Guide repo. Please open a issue in the [Curriculum](https://github.com/freeCodeCamp/curriculum) repository.

[2018-07-31 19:01] #8327 closed

[2018-08-01 16:10] parijat4u opened #8330 "Applied Visual Design: Create a Horizontal Line Using the hr Element"
Insert description of issue here
Hi Team,
I inserted the hr tag between h4 tag and p tag. I do not see any class called "card title", still I am getting the error that "The hr tag should come between the title and the paragraph.".

Please help me.

Here is my code below:
---<style>
  h4 {
    text-align: center;
    height: 25px;
  }
  p {
    text-align: justify;
  }
  .links {
    text-align: le

[2018-08-01 16:53] Asjas commented on #8330
Hi @parijat4u

This is the freeCodeCamp Guide repo. Please open a issue in the Curriculum repository.

[2018-08-01 16:53] #8330 closed

[2018-08-01 16:55] parijat4u commented on #8330
Hi,

Could you please let me know how to access the Curriculum repository. I was
redirected to this site when I clicked on "Ask for help" link from the
course page.

Thanks and Regards
Payel Das

On Wed, Aug 1, 2018 at 11:54 AM, A-J Roos <notifications@github.com> wrote:

[2018-08-01 16:56] Asjas commented on #8330
It's on Github. https://github.com/freeCodeCamp/curriculum

[2018-08-01 16:59] Asjas commented on #8330
There was already a issue opened and fixed in the [Curriculum](https://github.com/freeCodeCamp/curriculum) repository. https://github.com/freeCodeCamp/curriculum/issues/202. The fix will go live with the next update. No need to open a new issue on the curriculum repo.

[2018-08-01 17:00] parijat4u commented on #8330
Thank you for the update.

Best
Payel

On Wed, Aug 1, 2018 at 11:59 AM A-J Roos <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-08-02 14:55] joshalling opened #8333 "Certificate section of guide is empty"
The Certificates section of the guide seems to be empty. I tested this in Chrome, Firefox, and the Android Browser

To reproduce:
- go to https://guide.freecodecamp.org/
- click on Certificates

I'm not sure if I am just missing something as I am not very familiar with the guide.

[2018-08-02 17:30] Asjas commented on #8333
@joshalling I just tested it and I'm seeing content to the right. Are you not seeing the same?

![screenshot_1](https://user-images.githubusercontent.com/3828967/43600298-85345d60-968a-11e8-9c2f-a60be6cb7a22.png)

[2018-08-02 17:48] joshalling commented on #8333
@Asjas I'm talking about the menu on the left. When I click on Certificates the caret points downward like its open, but there is nothing to select.

[2018-08-02 19:03] Asjas commented on #8333
Ah okay, now I see it.

The folders inside the [certifications](https://github.com/freeCodeCamp/guide/tree/master/src/pages/certifications) folder isn't being seen and compiled. I'm testing to see why this is happening.

[2018-08-02 19:10] Asjas commented on #8333
Okay I found the problem.

The sub-folders don't have their own `index.md` files. Which is why they are being ignored. Each and every folder needs a `index.md` file for it to be recognized and to be compiled.

I'm going to mark this as `help wanted`. Anyone is free to pick this up and fix it. You'd have to go into each and every sub-folder in the [certifications](https://github.com/freeCodeCamp/gu

[2018-08-02 19:22] Asjas opened #8334 "Incorrect file in C++ Tokens Variables folder"
There are currently 2 files in the [C++ Tokens Variables](https://github.com/freeCodeCamp/guide/blob/master/src/pages/cplusplus/tokens-variables) folder. There can only be one file per folder and it needs to be called `index.md`. This is breaking the folder and it's not displaying correctly in the guide.

What needs to happen is that the file `static variable info` needs to be broken out into its

[2018-08-03 20:51] joshalling commented on #8333
I'll work on this. I'm just adding stubs in each subfolder, correct?

[2018-08-03 21:00] seely1991 commented on #8334
I'd like to try this one if I could.

[2018-08-04 05:49] Asjas commented on #8333
@joshalling Yes that is correct. :+1:

[2018-08-06 14:24] joshalling opened #8349 "Menu subfolders get resorted when they are expanded"
There is some weird behavior with the guide menu where the subfolders are being moved around when they are expanded.

Steps to reproduce
- go to https://guide.freecodecamp.org/
- click on Computer Science
- click on Data structures
- click on Quantum Computing
- click on Databases

I tested this in Chrome and Firefox

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+

[2018-08-06 14:35] #8333 closed

[2018-08-06 14:40] Asjas commented on #8334
Closed in PR 8335

[2018-08-06 14:40] #8334 closed

[2018-08-07 06:05] Asjas commented on #8349
From my testing it seems to happen whenever any subfolder is opened.

I found a subfolder `Flink` in `Datascience Tools` that does the same. Marking this as `help wanted` if anyone wants to check why this happens and to open a PR to fix it.

[2018-08-07 15:27] nischaldutt commented on #8203
I would like to work on this.

[2018-08-08 18:41] Asjas opened #8355 "All Netlify deployments are failing"
The Netlify deployments are currently all failing. I don't know if it's because we are currently at 4161 pages in the repo and Linux has a default `ulimit` of 4096. I had to push my `ulimit` to 10000 on my local machine to get it building locally.

This is an example of the [Netlify Deploy error](https://app.netlify.com/sites/guide/deploys/5b6b3481dd28ef41e9eee0aa).
[code]

---

- [x] [Checked](ht

[2018-08-08 18:54] jsjoeio commented on #8355
Didn't you just say this should be fixed in #8354?

[2018-08-08 20:14] Asjas commented on #8355
That PR was to fix the error in that [specific](https://app.netlify.com/sites/guide/deploys/5b686b4cb13fb1215fa569a1) Netlify deploy. That problem was a file called something other than `index.md` being in a folder. I though fixing that would fix the Netlify builds but it was not related to the main problem.

`Error: ENOTDIR: not a directory, scandir '/opt/build/repo/src/pages/cplusplus/ Condition

[2018-08-08 20:53] raisedadead commented on #8355
And now I checked there is a new error on the build similar to the one that you may have fixed:
https://app.netlify.com/sites/guide/deploys/5b6b5453fdd72a569d274fa6

/cc @Bouncey

[2018-08-08 20:54] raisedadead commented on #8355
@Bouncey is adding tests that will fail the CI to avoid this. And we could then fix all naming issues in a go.

[2018-08-09 07:42] Asjas commented on #8355
@Bouncey Ah, Okay I see. Thanks :+1:

[2018-08-09 10:13] raisedadead commented on #7852
/cc @Bouncey

[2018-08-09 10:34] Bouncey commented on #7852
Addressed in #8356

[2018-08-09 10:58] #7852 closed

[2018-08-09 10:58] #8355 closed

[2018-08-10 03:15] diazabdulm commented on #8123
@jdk1997 Just create a pull request, if I'm not mistaken.

[2018-08-10 03:35] dipsikharay opened #8357 "help wanted- how can I put red-class in stylesheet?"
Insert description of issue here

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️

<style>

   h2.red-text{
    color: red ;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p>Click here to view mo

[2018-08-10 05:19] alambeaux commented on #8357
https://github.com/freeCodeCamp/freeCodeCamp/issues/10212

[2018-08-10 05:45] Asjas commented on #8357
@dipsikharay This is the wrong repo for reporting issues with the freeCodeCamp curriculum. This is the freeCodeCamp guide repo

[2018-08-10 05:45] #8357 closed

[2018-08-10 07:39] dipsikharay opened #8358 "how can i slove this. it's urgent."
Insert description of issue here

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [] *If* proposing new content to be added, made sure enough details were provided. 🔍️
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color:

[2018-08-10 09:27] Asjas commented on #8358
@dipsikharay Issues aren't used for asking for help. If you want help please use the [freeCodeCamp Gitter Support Rooms](https://gitter.im/FreeCodeCamp/HelpFrontEnd)

[2018-08-12 00:18] Leoat12 opened #8364 "Move "Amazon Web Services" directory under "Cloud Development" and start AWS articles there"
I was taking a look at the guide repository and it looked awesome. I would like to contribute with that. I notice that Amazon Web Services had only a stub in its directory, but it has an article in the Cloud Development directory. So it wouldn't be better to put the Amazon Web Services directory under Cloud Development and start articles about AWS services there?

I would be glad to do that and st

[2018-08-12 08:30] Asjas commented on #8364
@Leoat12

I would suggest removing the stub and folder for [AWS](https://github.com/freeCodeCamp/guide/tree/master/src/pages/aws). There is already a [Amazon AWS](https://github.com/freeCodeCamp/guide/tree/master/src/pages/cloud-development/amazon-aws) folder in Cloud Development that can be used.

You can open a PR to remove the duplicate folder.

[2018-08-12 14:40] #8364 closed

[2018-08-15 05:56] RyanPisuena commented on #8245
Hey guys attempting to create a new folder for you all!

[2018-08-15 06:06] Nirajn2311 commented on #8203
@domwakeling could you close the issue if it is solved.

[2018-08-15 06:31] #8203 closed

[2018-08-15 06:34] Asjas commented on #8245
Merged PR #8376 that created a `stub` for [Code Documentation](https://github.com/freeCodeCamp/guide/tree/master/src/pages/documentation).

Closing this issue.

[2018-08-15 06:34] #8245 closed

[2018-08-15 06:38] Asjas commented on #8205
Hi @FrancoB411

You can open a PR to fix the solution code in the `Guide Repo`. All solutions will be linked to the `Guide Repo` and not the forum in the future. So updating the forum isn't needed. The forum is also not under the management of the `guide` team.

[2018-08-16 00:17] JimmayVV commented on #8349
I believe I have this one figured out. Would love to submit a PR to solve it.

Seems the renderBody() function inside the NavPanel component was creating a discrete list of open menu items, and concatenating the filtered array of children (with the open menu items removed) underneath it.

It looks like the goal of this setup is to filter out the duplicate items that are in both the parent panel, a

[2018-08-16 03:05] a7mam7ma opened #8380 "[Cloud Development] 2 articles about Google Cloud Platform"
In cloud development there are 2 articles with the title 'Google Cloud Platform' one of them is the updated version of the other.

[article 1](https://guide.freecodecamp.org/cloud-development/gcp)
[article 1 Updated](https://guide.freecodecamp.org/cloud-development/google-cloud)
---

- [✅️] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has al

[2018-08-16 05:00] amandeepmittal commented on #8380
@a7mam7ma You can submit a PR to delete the older one.

[2018-08-16 07:24] #8349 closed, assigned to nobody

[2018-08-17 14:40] joshalling opened #8387 "Page order in sidebar menu"
I just rebased my fork and started the development server, and the order of the pages in the side menu is now all random (see pic below). This might be related to #8382, or a different recent change, or it could just be that my dev environment has been corrupted somehow. Has anyone else ran into this issue lately while running the site locally?

![screenshot from 2018-08-17 08-22-06](https://user-

[2018-08-18 02:38] JimmayVV commented on #8387
this is really weird...

What's interesting is I rebased as well, and I see the same issues you do, and I was the one that submitted the PR #8382 - so either I missed something completely obvious, or something else is causing the children in the side panel to appear out of order.

Whatever is causing it, though, doesn't appear to be live in production, so it seems like it must be something else ca

[2018-08-19 19:39] systimotic commented on #8045
The search has been moved to https://search.freecodecamp.org/, so this is no longer relevant.

[2018-08-19 19:39] #8045 closed

[2018-08-22 02:56] Waffun opened #8404 "Sass Challenge doesn't work"
### URL
[https://learn.freecodecamp.org/front-end-libraries/sass/split-your-styles-into-smaller-chunks-with-partials]

### Instructions
Write an @import statement to import a partial named _variables.scss into the main.scss file.

### Code Editor
// The main.scss file
@import 'variables.scss' //Tried with 'variables.scss'; - "variables.scss" - "variables.scss";

### Output
// running test
Your cod

[2018-08-22 04:27] #8404 closed

[2018-08-23 08:52] Asjas commented on #8161
@Nirajn2311 Yeah I can't see a PR for this. If you want you can create one.

[2018-08-23 11:13] AndrewZamora opened #8411 "Add Window's Command Prompt Article to the Terminal/Command Prompt Section"
I would like to add a Window's Command Prompt article to the Terminal/Command Prompt Section if that is okay. I've looked through raised issues and pull requests. I don't think anyone is working on that. I'm pretty new to Git and Github so if I'm mistaken I apologize in advance.

---

- [] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has alr

[2018-08-23 12:40] joshalling commented on #8411
@AndrewZamora I think this would be a welcome addition to the guide. I am looking forward to seeing what you come up with. :+1:

[2018-08-23 20:49] joshalling opened #8416 "ES6: Destructuring from Nested Objects solution is incorrect"
The given solution is incorrect in the hint for the ES6: Use Destructuring Assignment to Assign Variables from Nested Objects Challenge. It currently uses the `LOCAL_FORECAST` global which will cause your code to return 84.6 regardless of what is passed to the function.

**Incorrect:**
[code]

**Correct:**
[code]
This would be a good contribution for any beginners or first-timers.

---

- [x] [Che

[2018-08-24 05:44] SubhrajyotiSen commented on #8161
@sarahshrivastava Maybe you can take this up!

[2018-08-24 13:04] GlynL commented on #8416
I'd like to take this issue on if that's okay.

[2018-08-24 13:15] Asjas commented on #8416
@GlynL :+1:

[2018-08-24 14:28] divayprakash opened #8420 "Markdown error in PR and ISSUE templates"
PR and ISSUE templates are rendering checkboxes as lists with brackets. I've corrected the same in #8419 and #8418.

[2018-08-24 21:31] #8420 closed

[2018-08-25 06:55] AndrewZamora commented on #8411
@joshalling  I've finished the article and used `git add .` to stage my changes. But when I try to commit with `$ git commit -m "Added windows-command-prompt directory to the terminal-commandline directory and added windows-command-prompt article to index.md"` . I get this in my command line:
[code]
I made an index.md file in the new directory I added so I'm not sure why I can't make a commit. Am

[2018-08-25 14:00] joshalling commented on #8411
@AndrewZamora It looks like something may be corrupted in your local repo. The odd thing is that I don't think the guide even has a pre-commit hook. Maybe try cloning a fresh copy of the repo, and see if that works.

[2018-08-27 12:17] nsuchy commented on #8380
@amandeepmittal Generally you'd need to merge content from the article you wish to delete, into the article which will take over.

[2018-08-27 13:53] abflett opened #8430 "Learn How Bezier Curves Work"
Learn How Bezier Curves Work

This question is not to clear on what is wanted.

For the element with the id of ball1, change the value of the animation-timing-function property from linear to its equivalent cubic-bezier function value. Use the point values given in the example above.

"change the value of the animation-timing-function property from linear to its equivalent cubic-bezier function va

[2018-08-27 15:05] Asjas commented on #8430
Basically the contributors who fix, expand and work on the lessons won't see a issue about the lessons if it's opened here. But they will see it when it's open on that repo.

[2018-08-27 18:33] amandeepmittal commented on #8380
@nsuchy The content in both the articles is overlapping ATM. It's a duplicate. I get your point. I should have mentioned which article to remove and which to keep. Apologies for that. 🙏

@a7mam7ma please remove [this article](https://guide.freecodecamp.org/cloud-development/gcp) in the PR you submit.

[2018-08-28 02:48] joshalling opened #8432 "Duplicate page: else if statement in C++"
There are two pages in the C++ section with essentially the same info: _If-Else Statement_ and else __if statement__. These stubs should be merged.

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-08-28 16:25] zavier01 opened #8433 "Use Attribute Selectors to Style Elements"
Insert description of issue here

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-08-28 16:47] Asjas commented on #8433
@zavier01 What is the issue here? You don't have a description in the issue.

[2018-08-31 18:13] Mystigan commented on #8432
Hello,
I have opened PR #8458 to address this issue.
Please review it and let me know if is okay or if something more is to be done.
PS: First contribution. Please do correct me if I did something wrong.

[2018-09-01 00:52] JimmayVV commented on #8416
Just going through the open Issues on this project, it appears this issue should be closed as per #8423 - correct? 😄

[2018-09-01 00:55] joshalling commented on #8416
That's correct. Thanks for the heads up @JimmayVV!

[2018-09-01 00:55] #8416 closed

[2018-09-01 19:09] #8433 closed

[2018-09-04 03:33] JimmayVV commented on #8387
I have been looking into this deeper, and it seems something that is baked into Gatsby. I don't know much about Gatsby, so I'm afraid of doing more harm than good by digging into this deeper, but while looking at GraphiQL on development, it looks like it is importing the pages out of alphabetical order.

If you replicate the GraphQL query from `layout.js` into `http://localhost:8000/___graphql` yo

[2018-09-04 03:46] JimmayVV commented on #8123
is this still an issue? I don't believe I see the problem url's as described above in meta.js as I would have expected, and I don't see any explicit calls to them either in the repo.

Not sure if something else removed those icons from meta?

[2018-09-04 12:38] nsuchy commented on #8123
@JimmayVV I'll double check the commit history and let you know.

[2018-09-04 18:29] #8432 closed

[2018-09-05 19:16] silent-lad commented on #7878
Is the issue still open?

[2018-09-05 19:53] nsuchy commented on #7878
@silent-lad It’s open for anyone to contribute a PR :)

[2018-09-07 17:50] #8180 closed

[2018-09-08 04:18] #8411 closed

[2018-09-10 15:36] scottzoo commented on #8161
Hi everyone - I took a look at this issue and I believe I can fix it.  It would be my first issue, pretty exciting!
From the look of the links, the [nodejs page](https://guide.freecodecamp.org/nodejs/npm) has a ton of good information:  .  [Dev tools page](https://guide.freecodecamp.org/developer-tools/npm)   has some good info and links too so another part of this might be to combine to a single

[2018-09-12 04:58] amandeepmittal commented on #8161
Hi, @scottzoo yes go ahead with merging the two pages and the redirecting one to another. When you submit a PR, let me know. 👍

[2018-09-12 14:13] scottzoo commented on #8161
@amandeepmittal  - great - I'll let you know when I submit the PR

[2018-09-14 19:42] iamlatin opened #8567 "cats"
Insert description of issue here

---

- [ ] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-09-14 19:47] iamlatin commented on #8567
blanco cat

[2018-09-14 21:41] #8567 closed

[2018-09-18 17:08] loganripplinger commented on #8404
I also ran into a similar problem while working through this problem. I am working on updating the text and splitting the test into multiple tests for the sake of clarity.

[2018-09-18 19:59] Bouncey commented on #8197
@nsuchy is this still an issue?

[2018-09-18 21:40] nsuchy commented on #8197
@Bouncey Hurricane Florence has impacted me and will not have home internet until tomorrow after repairs are complete. I'll investigate and post an update to this issue. Thanks for your patience :|

[2018-09-20 06:16] msforbes09 opened #8619 "Intermediate Algorithm Scripting: Smallest Common Multiple (i cant pass this exam! need help)"
Insert description of issue here

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/smallest-common-multiple

## it always prompt mistake

### heres my code:

function smallestCommons(arr) {
  // return arr;
  let found = false;
  let multiple = 0;
  let integer = Math.max(...arr);
  while(!found){
    let divisible = true;
    for(let i = Ma

[2018-09-20 11:39] hiparthparth opened #8621 "Improve Repo page"
I am looking for the place on this repo where I can edit this page- https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords .
Any help would be appreciated

---

- [x ] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x ] *If*

[2018-09-20 11:46] jsjoeio commented on #8621
@hiparthparth - Please use the GitHub search to find guide pages next time instead of opening an issue. Here's a quick screen recording showing how I found it in less than a minute.

http://recordit.co/lUa8bC5zzF

https://github.com/freeCodeCamp/guide/blob/792231f415bb421d2f15ce0a416835df59796cc2/src/pages/certifications/javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-l

[2018-09-20 11:46] #8621 closed

[2018-09-20 15:44] tangyao42120836 opened #8627 "Responsive Web Design Principles: Create a Media Query"
Insert description of issue here
I think my answer is right.but there is a mistake tip all the time.help someone can help me
<style>
  p {
    font-size: 20px;
  }

  /* Add media query below */
  @media (max-height: 800px) {
     p {
       font-size: 10px;
    }
  }

</style>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis tempus massa. Aenean erat nisl, gravida vel ves

[2018-09-20 18:27] Asjas commented on #8627
Hi @tangyao42120836.

Please note this is the freeCodeCamp guide repo. Please use our freeCodeCamp [Gitter helproom](https://gitter.im/FreeCodeCamp/HelpFrontEnd) for asking for help.

[2018-09-20 18:27] #8627 closed

[2018-09-21 10:31] AdrianSkar opened #8648 "[contributing.md] Embedding repl.it and other external resources on guides."
Github/markdown previews do not show `iframe` tags so I wonder if we can actually embed repl.it code examples (as mentioned on[ contributing.md](https://github.com/freeCodeCamp/guide/blob/master/CONTRIBUTING.md#images)) and work as expected once merged/published  and, if so, reflect this in the contributing.md guidelines so new "_campers_" like me don't hesitate using this type of content rather t

[2018-09-21 10:56] AdrianSkar opened #8649 "[Guides] Permanent "expand it" link on existing guide pages"
I've seen a link on every stub page for campers to add guides;

![vivaldi_2018-09-21_12-48-57](https://user-images.githubusercontent.com/12052430/45877166-3c100c80-bd9d-11e8-939b-17cc9fc6081a.png)
and I wonder if we should maintain that (like adding a "mini-footer") on existing ones so we all have easy access to them again if we want to add more content, fixes, etc.

---

- [x] [Checked](https://g

[2018-09-21 14:36] hiparthparth commented on #8649
I think rather than doing that, we should dedicate an extra page where there is a search bar with the links of all other guides that have been edited. Contributors can keep adding to that list after they write a guide for a tutorial

[2018-09-21 17:04] Felix-Raj opened #8654 "[Guides Python] Combain related pages"
It will be better if pages relating to same subject/content is merged into one. For example there are multiple pages discussing about python string operations/methods, why not merge them into a single page, may be under a directory named python-strings or so.

- [ x ] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed be

[2018-09-24 16:36] pentalpha commented on #8619
When running this function using node 8.10, the results are OK.
(smallestCommons([1, 13]) == 360360) and (smallestCommons([23, 18]) == 6056820) are both true.
FreeCodeCamp must be returning different results.

[2018-09-28 14:37] thecodingaviator opened #8716 "All Pull requests failing"
Anybody has any idea why are all the pull requests failing? All are showing the same error in the Netlify build, even though the TRAVIS CI is passing?

This is where the errors start.

[code]

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure

[2018-09-30 20:05] Rupeshiya opened #8756 "complete git revert article."
git revert article is not there in https://guide.freecodecamp.org/git/git-revert

---

- [ ] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-09-30 20:06] Rupeshiya commented on #8756
I would like to complete this .

[2018-10-01 00:04] Naba7 opened #8768 "freecodecamp/guide-Mathematics"
In the index.md file of mathematics, I think its absurd (irked me actually) to just describe fibonacci series or generating functions. To create interest in his diverse field the index file may include some questions or some algorithms. Just a suggestion.
---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed befo

[2018-10-01 05:51] amandeepmittal commented on #8756
Since the PR is merged, I am closing this issue.

[2018-10-01 05:51] #8756 closed

[2018-10-01 09:28] Skyth3r commented on #8654
What pages are you seeing that are like this?

Would you mind just linking them here, please?

[2018-10-01 13:43] jamesgeorge007 opened #8875 "Add python arcade library to game development section."
---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-10-01 13:47] jamesgeorge007 commented on #8875
I hade submitted a PR on this #8873

[2018-10-01 15:59] ezioda004 opened #8901 "Unintended PR merge"
This emrged PR https://github.com/freeCodeCamp/guide/pull/8678 added a new folder in the `src` directory as `src/java` which was unintended.
This PR https://github.com/freeCodeCamp/guide/pull/8706 undos that change.
If any collaborator could fix this? Thanks.
cc: @Asjas @amandeepmittal @Bouncey

[2018-10-01 16:14] #8716 closed

[2018-10-01 16:33] Asjas commented on #8901
@ezioda004 Thanks for opening the issue. :100:

I have merged PR #8706 and that file has now been removed.

[2018-10-01 16:33] #8901 closed

[2018-10-01 17:42] gayansanjeewa commented on #8161
Hello @scottzoo how's the progress :)

[2018-10-02 06:18] amandeepmittal commented on #8768
You can always open a PR if you think it needs more information on the subject.

[2018-10-02 10:32] thecodingaviator commented on #20
Guys, @Bouncey , @QuincyLarson , any update on this?

[2018-10-02 10:34] thecodingaviator commented on #79
@nsuchy , I think this issue should be closed now, it's been four months and nobody's had an issue over here yet, if someone wants, they'll make a new one :)

[2018-10-02 10:38] thecodingaviator commented on #474
@arhillis , I do not think there's any way to dot hat yet, as all PRs need to be checked before being merged and these days especially a lot of them are being sent

[2018-10-02 10:38] thecodingaviator commented on #347
@texas2010 , @m-henderson , any update on this one?

[2018-10-02 10:41] thecodingaviator commented on #310
@Bouncey , or should it be done the way China did it, by creating a totally new website? Have a look at https://freecodecamp.cn

[2018-10-02 10:42] thecodingaviator commented on #5175
@Bouncey , any progress on this?

[2018-10-02 10:44] thecodingaviator commented on #8175
I thin that this issue has served it's purpose, it can be closed. If any further discussion is required, I think we should use this thread - #310 .

[2018-10-02 10:44] thecodingaviator commented on #8124
@nsuchy , maybe you'd want to revive this thread?

[2018-10-02 12:29] #8175 closed

[2018-10-02 14:03] Felix-Raj commented on #8654
The following are related to list in python-
* https://guide.freecodecamp.org/python/list-append-method
* https://guide.freecodecamp.org/python/list-extend-method
* https://guide.freecodecamp.org/python/list-comprehension
* https://guide.freecodecamp.org/python/list-index-method
* https://guide.freecodecamp.org/python/list-remove-method
* https://guide.freecodecamp.org/python/list-pop
* https://gu

[2018-10-02 16:03] SpiritusSancti5 opened #9227 "Testing with Chai - Assert Equality - Bug in test cases"
Insert description of issue here

Output i get after submitting:
// running tests
expected 'failed' to equal 'passed'
// tests completed

The only X marked item is :
"All tests should pass"
----

EDIT: NVM, solved the problem

---

- [ ] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ] *If* proposing n

[2018-10-02 16:50] Asjas commented on #9227
Hi @SpiritusSancti5

Please don't open issues about the freeCodeCamp repo on this repo.

[2018-10-02 16:50] #9227 closed

[2018-10-03 03:37] Felix-Raj opened #9305 "Duplicate Lines in Code"
In the 'Your First Program in C++' example in https://guide.freecodecamp.org/cplusplus , the first two line are duplicated.

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-10-03 06:35] Asjas commented on #9305
This has been [fixed](https://github.com/freeCodeCamp/guide/blob/master/src/pages/cplusplus/index.md) in #8940.

Closing this issue as it has been resolved.

[2018-10-03 06:35] #9305 closed

[2018-10-03 11:38] WizardOfAus opened #9353 "Creating a How To Tool Guide"
Insert description of issue here

I find how to set up and how to use certain tools quite a challenge. I noticed that there is quite a lot of content and guides on the various tools for design, development etc but very little step by step guide.

I propose setting up a section in helping to do so or extending the current guide articles that provide an overview of the tool/platform.
E.g. How to set

[2018-10-04 00:06] m-henderson commented on #347
@thecodingaviator yea, I have not made any progress. I have had a lot of other things that needed my attention. Would you guys like me to finish this up?

[2018-10-04 00:38] hchoang opened #9458 "Bug - Navigation tree"
Insert description of issue here

You can't expand 2 subcategories at the same time in the navigation sidebar, however, instead of closing the opened category, the link to the second category which you try to open disappears.

![GIF showing the bug](https://imgur.com/download/VXQd8OP)
---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue h

[2018-10-04 03:45] Vagisha16 opened #9468 "Issue with deplow/netlify"
I tried to do a PR twice but the checks were failing. When I looked into details I found that both Travis-CI and yarn cases were failing for all the PRs for last 10 or so hours [as of 4th October]. The Travis issue was a trivial one which I changed and generated a PR again. Now it's showing an error in Deploy/netlify which I guess is in the naming section of GraphQL in "gatsby-node.js"

You can vi

[2018-10-04 04:59] thecodingaviator commented on #347
@m-henderson , it'd be great if we could have the feature :)

[2018-10-04 06:43] naufaldi opened #9475 "Add Article about Inception in Agile Section"
Insert description of issue here
An article about Inception on Agile guide will be nice. How about i am adding an article about Inception on Agile? I will initiate if acceptable about inception on Agile guide
---

- [ ✅️] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ✅️] *If* proposing new content to

[2018-10-04 12:07] Medhe12 opened #9490 "Non index.md file in javascript folder creating travis check error"
My pull request is not completeing checks because of this error. Javascript folder has a non index.md file from before. My PR is for creating a stub for a new topic not realted to javascript.
Error: template-literals.md is not a valid file name, please use 'index.md'
      /home/travis/build/freeCodeCamp/guide/src/pages/javascript/template-literals.md

---

- [x] [Checked](https://github.com/freeC

[2018-10-04 12:38] #9490 closed

[2018-10-04 16:11] eonmilu commented on #9468
There's a file at "freeCodeCamp/guide/src/pages/javascript/template-literals.md" that causes the error. commit bce26a82e9 made by Derek Allred.

[2018-10-04 17:49] Asjas commented on #9468
@eonmilu Yes we are aware of the file name that is causing the error. There is a PR from @Bouncey that will fix it.

[2018-10-05 07:46] ezioda004 opened #9608 "Suggestion: Remove ES6 folder"
There's an ES6 folder in `/pages/javascript/es6` which have like 4 articles. I propose we flat this folder and move the articles directly to the `javascript` folder because:
1. There's already ES6 features articles added in the JS folder directly, example: arrow function, classes, promises, template literals etc.
2. JS have yearly releases so since we have ES6 folder, we should add ES7/8/9 folders

[2018-10-05 11:53] ojeytonwilliams opened #9628 "nofile limits being hit during development"
When you try `yarn develop` or `build` and you have a low limit on number of open files, you run into
[code]
I'm using Ubuntu and the default was 1024, which didn't cut it.  You can get around this by either increasing your os's limit or by using node-graceful-fs.  Would it be worth adding the latter to ease the development process?  If people agree, I'd be happy to submit a PR.

---

- [x] [Check

[2018-10-06 00:37] honmanyau commented on #9608
@ezioda004 I tend to agree, although it may be a good idea to leave it till after the updates are rolled out and guides are merged. :)

[2018-10-06 00:37] honmanyau commented on #9608
Argh! I accidentally clicked the close button!

[2018-10-06 01:35] gowrimanoharir commented on #8161
Hi, if this is still open I would like to work on this.

[2018-10-06 07:48] amandeepmittal commented on #8161
@gowrimamoharir yes it is still open.

[2018-10-06 14:35] joseph-allen commented on #9608
PR ready if you need it :)

[2018-10-06 15:52] gowrimanoharir commented on #8161
@amandeepmittal thanks will work on it

[2018-10-06 18:03] nsuchy commented on #8124
@QuincyLarson You mentioned to me that the guide is getting merged into core. I am blocking this issue for now and we can investigate if the same issue occurs once guide is merged into core.

[2018-10-06 22:10] gowrimanoharir commented on #8161
Created the pr with required changes, also there was yarn content in npm file which I moved to yarn file and added redirect links between yarn and npm

[2018-10-07 04:00] Liberty66 opened #9824 "Use the strong Tag to Make Text Bold"
lesson : Applied Visual Design: Use the strong Tag to Make Text Bold
Requirement N3: "The strong tag should wrap around the words Stanford University."
action - expected (<strong>Stanford` University.</strong>)
result - unexpected --> (check the screenshot below):
<img width="1005" alt="screen shot 2018-10-06 at 8 45 43 pm" src="https://user-images.githubusercontent.com/42155769/46578077-22301580-

[2018-10-07 06:17] rkaranam commented on #9824
Only words **Stanford University** should be inside <strong> tag. There is a **.** next to words "Stanford University". Moving **.** outside the <strong> tag passes the test.

[2018-10-07 17:13] Asjas commented on #9824
Hi @Liberty66

Please don't use `Github Issues` for help. Please use the `freeCodeCamp Gitter` or `freeCodeCamp forum` for help.

[2018-10-07 17:13] #9824 closed

[2018-10-07 19:39] GK-Hynes opened #9888 "JQUERY: jQuery Event Method article is about Bootstrap grid"
The content of jQuery Event Method article is entirely about Bootstrap grid. Perhaps the wrong file got committed.

https://github.com/freeCodeCamp/guide/blob/master/src/pages/jquery/jquery-event-method/index.md

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to

[2018-10-08 05:34] skprabhanjan commented on #9888
@Asjas , I can change this but can you help me understand this more as to what needs to added , because there are lots of event handlers in JQuery (https://api.jquery.com/category/events/)

[2018-10-08 06:14] Asjas commented on #9888
I don't know what event handlers should be added. But you can reset the page to a `stub` initially just to get the bootstrap article out.

[2018-10-08 06:53] #9888 closed

[2018-10-08 15:34] QuincyLarson commented on #9608
@joseph-allen I think we can leave this folder. It will gradually expand as new features are introduced, and not all of these are yet implemented in all browsers, so it's worth having a distinction. Also keep in mind that a lot of people will be searching specifically for ES6 features, and having this subfolder will make their search easier.

[2018-10-08 15:34] #9608 closed

[2018-10-08 16:57] KanchanThareja opened #9971 "Update to Bootstrap4"
Switch from Bootstrap3 to Bootstrap4

[2018-10-08 18:22] scottzoo commented on #8161
Thanks @gowrimanoharir !  I got super busy with work and missed this.  I appreciate you picking it up.

[2018-10-08 19:32] ezioda004 commented on #9608
Hey @QuincyLarson, thanks for clearing it up. I have one question, what do we do if the articles already exists outside the ES6 folder and there's PR to add the same article in ES6 folder? Example [this](https://github.com/freeCodeCamp/guide/blob/master/src/pages/javascript/spread-syntax/index.md) article and this PR https://github.com/freeCodeCamp/guide/pull/9820. Can we merge that PR?

[2018-10-08 19:52] Fasara opened #9991 "Animation-timing-function CSS"
Absolute beginner here!
I'm stuck with the bezier curve.
Can anyone tell me what am I doing wrong?

Thanks!
----------------------
<style>
  .balls{
    border-radius: 50%;
    position: fixed;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  #red {
    background: red;
    left: 27%;

[2018-10-08 20:21] Asjas commented on #9991
Hi @Fasara

Please don't use Github issues for help on challenges.

Please use the [freeCodeCamp forum](https://forum.freecodecamp.org/) or the [Gitter FrontEndHelp](https://gitter.im/FreeCodeCamp/HelpFrontEnd) rooms for help on challenges.

[2018-10-08 20:21] #9991 closed

[2018-10-09 05:54] Asjas commented on #9971
Hi @KanchanThareja

Why was this issue opened? Is it addressing something specific?

[2018-10-09 06:12] Asjas commented on #9971
Hi @Bouncey and @QuincyLarson

Are we going to update the `Guide` from Bootstrap 3 to Bootstrap 4?

[2018-10-09 06:49] Asjas commented on #9468
The netlify build has been fixed in #10026. Closing this issue.

[2018-10-09 06:49] #9468 closed

[2018-10-09 08:43] Bouncey commented on #9971
No, I am pretty sure we are not. Thanks for asking the question @KanchanThareja @Asjas

We are however looking into the possibility of creating our own component library, but it is a long way down the road.

[2018-10-09 08:43] #9971 closed

[2018-10-09 12:32] mUtterberg commented on #8768
@amandeepmittal would it be ok to add links to additional learning resources specifically for math, even if they aren't Free Code Camp pages? This site is great for coding content, but there are some REALLY good explanations on math-specific learning resources out there.

[2018-10-09 17:57] prokawsar opened #10094 ""404 - Page not found" for React: Access Props Using this.props challenge get hint"
In challenge [React: Access Props Using this.props](https://guide.freecodecamp.org/certifications/front-end-libraries/react/access-props-using-this-props) the **Get a Hint** link returns 404 error.

Here is "Page not found"  [Link](https://guide.freecodecamp.org/certifications/front-end-libraries/react/access-props-using-this-props)

[2018-10-09 18:57] gowrimanoharir commented on #8161
@scottzoo the existing content I moved from node folder seems to have issue (this article was flagged as plagiarism from https://www.sitepoint.com/beginners-guide-node-package-manager/) so my pr is for combining content is closed. I might not be able get back to this till this weekend. so if you want to give it a shot pls go ahead. Thanks.

[2018-10-09 21:02] Asjas commented on #10094
The [folder](https://github.com/freeCodeCamp/guide/tree/master/src/pages/certifications/front-end-libraries/react/access-props-using-this.props) is named incorrectly. That is why it's causing the 404 error. The words in a folder must be separated with a hyphen `-`.

Whoever wants to fix this should rename the folder to match the correct folder naming structure.

[2018-10-09 23:06] MarkPuchalaII commented on #10094
I'm on it.
I've pulled up the Challenge Page that needs an update.
Now I just need to find where it is in the GitHub repository so I can edit it..

[2018-10-10 02:05] shamamaz commented on #8654
Can this issue be closed based on the PR merged above?

[2018-10-10 02:10] shamamaz opened #10136 "Improvement - navigation bar scrolls to top anytime a link is clicked"
In Chrome 69.0.3497.10 and Firefox 62.0.3 in Mac OSX 10.13.6, I'm seeing the navigation bar scroll to the top, even though the specific navigation tree link is expanded (if in a subtree).

![prev](https://user-images.githubusercontent.com/11925430/46709094-2198b880-cc10-11e8-80eb-1022b6969572.gif)

This should be improved, so that the page you open is still visible in the nav bar on the left.
---

[2018-10-10 02:14] Felix-Raj commented on #8654
That seems to solve it. Great ㊗️

[2018-10-10 02:14] #8654 closed

[2018-10-10 05:44] skprabhanjan commented on #10094
@MarkPuchalaII , just wanted to know the status!
I have a PR ready but giving you dibs on this :)

[2018-10-10 08:53] MarkPuchalaII commented on #10094
I actually got stuck on finding the darn page in the repository.
I’m totally up to hand over the PR to you if you can help me understand how to locate a challenge page like this one within the Github Repository.

  - -  Mark Puchala 2/

[2018-10-10 09:00] skprabhanjan commented on #10094
https://github.com/freeCodeCamp/guide/tree/master/src/pages/certifications/front-end-libraries/react/access-props-using-this.props
This was the file which had to renamed to **access-props-using-this-props**

[2018-10-10 12:35] #10094 closed

[2018-10-10 15:00] rithvikp1998 opened #10197 "Stub on micro controllers?"
Should we have a stub on working with commonly used microcontrollers like Arduino, Raspberry pi, beagle bone etc?

---

- [x] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [x] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-10-10 18:20] pratik-chakravorty opened #10223 "Stub on React's context api"
I think there should be a stub for the new context api in react.

---

- [ ] [Checked](https://github.com/freeCodeCamp/guides/issues?q=is%3Aissue+is%3Aclosed) to see if the issue has already been discussed before. 🤔️
- [ ] *If* proposing new content to be added, made sure enough details were provided. 🔍️

[2018-10-10 20:39] MarkPuchalaII commented on #10094
Oh, wow. I didn't think to change the file's name.
I was thinking to change the challenge's URL button the whole time.
Thanks for the insight!!

[2018-10-11 06:14] therealistfredy opened #10259 ""404 - Page not found" for React: Use Array.map() to Dynamically Render Elements Challenge - Get Hint"
In challenge [React: Use Array.map() to Dynamically Render Elements](https://learn.freecodecamp.org/front-end-libraries/react/use-array-map-to-dynamically-render-elements) the **Get a Hint** button returns a _404_ error.

[The broken link](https://guide.freecodecamp.org/certifications/front-end-libraries/react/use-array-map-to-dynamically-render-elements)

[The correct link](https://guide.freecode

[2018-10-11 06:31] Asjas commented on #10259
To anyone picking this up, the incorrectly named folder in [the guide](https://github.com/freeCodeCamp/guide/tree/master/src/pages/certifications/front-end-libraries/react/use-array.map-to-dynamically-render-elements) should be renamed to match [this](https://guide.freecodecamp.org/certifications/front-end-libraries/react/use-array-map-to-dynamically-render-elements).

[2018-10-11 06:49] skprabhanjan commented on #10259
@Asjas , Can I fix every file under this that has this kind of error ?
I see a few files named like this.

[2018-10-11 06:54] Asjas commented on #10259
Sure go ahead :+1:

There are quite a few so that would be great.

[2018-10-11 07:02] #10259 closed

[2018-10-11 13:12] BrodyUnderwood1 commented on #10197
Not trying to be nit-picky here but none of those are technically microcontrollers.  Seeing as the point of these guides is to inform maybe we could rename this to something more fitting?  The pi and beagle boards don't even have microcontrollers on them. "Arduino" is a name for both a dev environment and a number of boards that have microcontrollers on them (but aren't technically microcontroller

[2018-10-11 17:13] ezioda004 commented on #10223
Hi @pratik-chakravorty,
You're welcome to add an article for Context API!

[2018-10-11 17:40] DavSanchez opened #10341 "Is (electronic) digital design an adequate topic to add?"
Hello there!

Is digital design an interesting topic to add to this guides? With digital design I mean the one related to electronics, like programming RTL designs with HDL languages (like Verilog), verification and its different methodologies (OVM, UVM), etc

I was thinking about opening a specific directory for it.

[2019-08-28 08:47] #8052 closed

[2019-08-28 08:47] #8074 closed

[2019-08-28 08:47] #8111 closed

[2019-08-28 08:47] #8123 closed

[2019-08-28 08:47] #8124 closed

[2019-08-28 08:47] #8161 closed

[2019-08-28 08:47] #8163 closed

[2019-08-28 08:47] #8189 closed

[2019-08-28 08:47] #8196 closed

[2019-08-28 08:47] #8197 closed

[2019-08-28 08:47] #8205 closed

[2019-08-28 08:47] #8380 closed

[2019-08-28 08:47] #8387 closed

[2019-08-28 08:47] #8648 closed

[2019-08-28 08:47] #8649 closed

[2019-08-28 08:47] #8768 closed

[2019-08-28 08:47] #8875 closed

[2019-08-28 08:47] #9353 closed

[2019-08-28 08:47] #9458 closed

[2019-08-28 08:47] #9475 closed

[2019-08-28 08:47] #9628 closed

[2019-08-28 08:47] #10136 closed

[2019-08-28 08:47] #10197 closed

[2019-08-28 08:47] #10223 closed

[2019-08-28 08:47] #10341 closed

[2019-08-28 08:47] #414 closed

[2019-08-28 08:47] #474 closed

[2019-08-28 08:47] #492 closed

[2019-08-28 08:47] #493 closed

[2019-08-28 08:47] #494 closed

[2019-08-28 08:47] #587 closed

[2019-08-28 08:47] #659 closed

[2019-08-28 08:47] #693 closed

[2019-08-28 08:47] #752 closed

[2019-08-28 08:47] #2503 closed

[2019-08-28 08:47] #3315 closed

[2019-08-28 08:47] #4180 closed

[2019-08-28 08:47] #4290 closed

[2019-08-28 08:47] #5175 closed

[2019-08-28 08:47] #5959 closed

[2019-08-28 08:47] #6141 closed

[2019-08-28 08:47] #7790 closed

[2019-08-28 08:47] #7808 closed

[2019-08-28 08:47] #7823 closed

[2019-08-28 08:47] #7825 closed

[2019-08-28 08:47] #7832 closed

[2019-08-28 08:47] #7863 closed

[2019-08-28 08:47] #7878 closed

[2019-08-28 08:47] #7978 closed

[2019-08-28 08:47] #8046 closed

[2019-08-28 08:48] #65 closed

[2019-08-28 08:48] #206 closed

[2019-08-28 08:48] #226 closed

[2019-08-28 08:48] #240 closed

[2019-08-28 08:48] #267 closed

[2019-08-28 08:48] #310 closed

[2019-08-28 08:48] #347 closed